<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
    <div id="content" class="sub-page">
        <article class="location">
            <ul>
                    <li><a onclick="movePage(URI_CP_CATALOG_REPOSITORIES)">Catalogs</a></li>
                    <li><a onclick="movePage(URI_CP_CATALOG_REPOSITORIES)">Repositories</a></li>
                </ul>
            <!-- Click event class="on" -->
            <fieldset>
                    <input type="text" name="keyword" id="searchText" autocomplete="off" th:placeholder="#{M0017}" />
                    <button type="submit" id="search" th:text="#{M0031}"></button>
                </fieldset>
        </article>
            <article class="base">
                <div class="notice">
                    <h3>List</h3>
                    <!-- User -->
                    <div class="table_style01">
                        <!-- board -->
                        <table>
                            <caption>Repositories</caption>
                            <colgroup >
                                <col width="35%" />
                                <col width="65%" />
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">URL</th>
                            </tr>
                            </thead>
                            <tbody class="listTable">
                            </tbody>
                        </table>
                        <!-- more btn -->
                        <a class="more" href="javascript:;">more</a>
                    </div>
                    <!-- btn -->

                    <a id="addDfRepo" sec:authorize="hasAnyAuthority('SUPER_ADMIN')" style="display:none;right:202px;border:1px solid rgba(248,88,18,0.9);padding:9px 8px 7px 8px;background:transparent;">
                        <i class="fa-regular fa-plus fa-xl" style="color:rgba(248,88,18,0.9)"></i>
                    </a>
                    <a id="clearCache" th:text="#{M0913}" sec:authorize="hasAnyAuthority('SUPER_ADMIN')" style="right:105px;text-align:center;background-color:#bdbfc4;"></a>
                    <a href="javascript:;" class="add" th:text="#{M0223}"></a>
                </div>
        </article>
    </div>
</div>
<th:block layout:fragment="script">
    <script type="text/javascript">
    window.onload = () => {
        let incldDfRepo = false;
        let dntDsplDfRepoAddBtn = false;
        func.init(ASIDE_DP1.CATALOGS, ASIDE_DP2.CATALOG_REPOSITORIES);
        callbackFuncNameLoad();

        const repos = {
            offset : 0, // 로드 페이지 넘버
            limit : 10, // 로드 게시물 개수
            searchName : '',
            allItemCount : 0, //게시물 총 개수
            allItems: [],
            allItemsOrig: [],
            pageItems: [],

            init(){
                func.nameLoad = repos.reset;
                repos.load();
                repos.event();
            },

            reset(){
                func.removeHtml(document.querySelector('.listTable'));
                repos.offset = 0;
                if(IS_SEARCH) {
                    repos.searchKeyword();
                }
                else {
                    repos.load();
                }
            },

            load(){
                func.loading();
                document.getElementById('searchText').value = "";
                func.loadData('GET', `${func.catalogUrl}/api/repositories`, 'application/json', repos.initDraw);
            },

            initDraw(data){
                if(data.httpStatusCode === 200){
                    repos.allItems = data.items;
                    repos.allItemsOrig = data.items;
                    repos.allItemCount =  data.items.length;
                    for(let i=data.items.length-1; i>=0; i--) {
                        if(data.items[i].url == DEFAULT_CHART_REPO_URL) {
                            incldDfRepo = true;
                            break;
                        }
                    }
                    repos.draw();
                } else {
                    let html = '<tr><td colspan="2">No Data.</td></tr>';
                    func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                }

                if(document.getElementById('loading')){
                    document.getElementById('wrap').removeChild(document.getElementById('loading'));
                }
            },

            draw(){
                let html = "";
                let begin = repos.offset * repos.limit;
                repos.pageItems = repos.allItems.slice(begin,begin+repos.limit);

                for(let i=0; i<repos.pageItems.length; i++) {
                    let repo = repos.pageItems[i];
                    let data_item = JSON.stringify({name:repo.name, url:repo.url});
                    html += `<tr><td class="left"><a href="javascript:;" data-item='${data_item}'>${repo.name}</a></td>` +
                        `<td class="letf box"><dl><dt>${repo.url}</dt></dl></td></tr>`;
                }

                if(html.length < 1) {
                    html = '<tr><td colspan="2">No Data.</td></tr>';
                }
                func.appendHtml(document.querySelector('.listTable'), html, 'tbody');

                if(document.getElementById('addDfRepo') && !incldDfRepo && isEmpty(getLocalStorageItem("dntDsplDfRepoAddBtn"))) {
                    let currentLoc = "[[${#locale}]]";
                    if( currentLoc.toLowerCase().indexOf('en') !== -1) {
                        document.getElementById("addDfRepo").style.right = "221px";}
                        document.getElementById("addDfRepo").style.display = "";
                }
                repos.listEvent();
                // more 버튼 활성, 비활성
                if(document.querySelector('.listTable').querySelectorAll('tr').length < repos.allItemCount){
                    document.querySelector('.more').classList.toggle('on', true);
                } else {
                    document.querySelector('.more').classList.toggle('on', false);
                }
            },

            event(){
                // more 버튼 event
                document.querySelector('.more').addEventListener('click', (e) => {
                    if(document.querySelector('.listTable').querySelectorAll('tr').length < repos.allItemCount){
                        repos.offset++;
                        func.loading();
                        repos.draw();
                        if(document.getElementById('loading')){
                            document.getElementById('wrap').removeChild(document.getElementById('loading'));
                        }
                    }
                }, false);

                // repo 추가 버튼 event
                document.querySelector('.add').addEventListener('click', (e) => {
                    document.location.href = URI_CP_CATALOG_REPOSITORIES + URI_CP_ADD;
            }, false);


                // cache clear 버튼 event
                if(document.getElementById('clearCache')) {
                    document.getElementById('clearCache').addEventListener('click', (e) => {
                        let html = `${MSG_CHECK_TO_CLEAR_CACHE}<div class="modal-detail" style="font-size:13px !important;">${MSG_CHECK_TO_CLEAR_CACHE_REPO_UPDATE}</div>`;
                        func.alertPopup('CLEAR CACHE', html, true, MSG_CONFIRM, repos.clearCache);
                    }, false);
                }
                // default chart repository 추가 버튼 event
                if(document.getElementById('addDfRepo')) {
                    document.getElementById('addDfRepo').addEventListener('click', (e) => {
                        let html = `${MSG_DEFAULT_REPO_ADD}<div class="modal-detail" style="max-height:150px;margin-bottom:-20px;">
                            <span class="header-label2">${DEFAULT_CHART_REPO_URL}</span>
                            <div style="width:100%;height:90px;margin-top:15px;">
                            <label class="container" style="display:inline;font-size:14px;">${MSG_DONT_DSPL_DEFAULT_REPO_CHK}
                            <input type="checkbox" id="dntDsplDfRepoChk">
                            <span class="checkmark"></span></label>
                            <div style="margin-top:5px;font-size:13px;color:#7b7b7b">${MSG_DONT_DSPL_DEFAULT_REPO_CHK_DETAIL}</div>
                            </div></div>`;
                        func.alertPopup('ADD', html, true, MSG_CONFIRM, repos.addDfRepo);

                        document.getElementById('dntDsplDfRepoChk').addEventListener('change', (e) => {
                            if (document.getElementById('dntDsplDfRepoChk').checked) {
                                dntDsplDfRepoAddBtn = true;
                            } else {
                                dntDsplDfRepoAddBtn = false;
                            }
                        }, false);

                        document.querySelector('.close').addEventListener('click', (e) => {
                            if (dntDsplDfRepoAddBtn) {
                                setLocalStorageItem("dntDsplDfRepoAddBtn", true);
                                document.getElementById("addDfRepo").style.display = "none";
                            }
                        }, false);
                    }, false);
                }
            },
            clearCache(){
                func.dryRun('DELETE', `${func.catalogUrl}/api/repositories/cache/clear`, '', true, 'application/json', repos.finishedClearCache);
            },
            finishedClearCache(data) {
                let failedList = data.items;
                let html = `${MSG_COMPLETED_CLEAR_CACHE}`;
                if(failedList.length > 0) {
                    html += `<div class="modal-detail">${MSG_FAILED_TO_UPDATE_REPO}</div>`;
                    html += `<div class="modal-detail" style="background-color:#f5f5f5;">${failedList.join('<br/>')}</div>`;
                }
                func.alertPopup('SUCCESS', html , true, MSG_CONFIRM, func.none);
            },
            addDfRepo(){
                let sendData = {
                    "name" :DEFAULT_CHART_REPO_NAME,
                    "url" : DEFAULT_CHART_REPO_URL,
                    "username" : DEFAULT_CHART_REPO_USERNAME,
                    "password" : DEFAULT_CHART_REPO_PASSWORD,
                    "ca_base64" : DEFAULT_CHART_REPO_CRT,
                };
                func.saveData('POST', `${func.catalogUrl}/api/repositories`, JSON.stringify(sendData), true, 'application/json', func.refresh);
            },
            listEvent(){
                let listAll = document.querySelector('.listTable').querySelectorAll('a');

                for(let i=repos.offset*10; i<=listAll.length-1; i++){
                    listAll[i].addEventListener('click', (e) => {
                    sessionStorage.setItem('repoItem', e.target.getAttribute('data-item'));
                    document.location.href = URI_CP_CATALOG_REPOSITORIES + URI_CP_CATALOG_CHARTS;
                }, true);
                }
            },
            searchKeyword() {
                func.loading();

                let keyword = document.getElementById('searchText').value.trim();
                let searchList = [];

                if(keyword.length < 1) {
                    searchList = repos.allItemsOrig;
                }
                else {
                    for (let el of repos.allItemsOrig) {
                        if (el.name.indexOf(keyword) !== -1) {
                            searchList.push(el);
                        }
                    }
                }
                repos.allItems = searchList;
                repos.allItemCount = searchList.length;

                repos.draw();
                IS_SEARCH = false;
                if(document.getElementById('loading')){
                    document.getElementById('wrap').removeChild(document.getElementById('loading'));
                }
            }
        }

        repos.init();
    }
</script>
</th:block>
</html>