<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div id="content" class="sub-page clusters">
        <article class="location">
            <ul>
                <li><a onclick="movePage(URI_CP_CATALOG_REPOSITORIES)">Catalogs</a></li>
                <li><a onclick="movePage(URI_CP_CATALOG_REPOSITORIES)">Repositories</a></li>
                <li><a onclick="movePage(URI_CP_CATALOG_REPOSITORIES+URI_CP_CATALOG_CHARTS)">Charts</a></li>
            </ul>
        </article>
        <article class="base">
            <div class="creat">
                <h3 th:text="|Chart #{M0857}|"></h3>
                <div>
                    <dl>
                        <div style="height:38px; line-height: 38px; width: 100%;"><span id="repoNameDiv" class="header-label"></span></div>
                            <div id="chartInfoDiv" style="width:100%;height:80px;display:flex;">
                             <div id="chartIconDiv" style="width:6%; height:80%; line-height: 63px;"></div>
                             <div id="chartNameDiv" style="width:44%; font-size:20px; line-height: 65px;"></div>
                             <div style="width:50%; margin-top:-30px;">
                                 <dt><label for="chart_versions_sel">Chart Versions</label>&nbsp;<span class="info-label" th:text="#{M0902}"></span></dt>
                                 <dd class="chart_versions_dl">
                                     <fieldset>
                                         <select id="chart_versions_sel">
                                         </select>
                                     </fieldset>
                                 </dd>
                             </div>
                            </div>
                    </dl>
                    <dl>
                        <dt><label for="release_name">Release Name</label></dt>
                        <dd>
                            <input id="release_name" type="text" th:placeholder="#{M0858}"/>
                        </dd>
                    </dl>
                    <dl style="margin-top:50px;">
                        <dd>
                            <div class="modal-pane-wrap">
                               <div class="modal-pane"><span class="title-label" th:text="#{M0904}"></span></div>
                                <div style="width:6%;"></div>
                                <div class="modal-pane"><span class="title-label" th:text="#{M0905}"></span>
                                    <span class="info-label" th:text="#{M0906}"></span>
                                    <span id="collapse" class="icon-pane">
                                     <img id="collapse_img" title="Expand Content" class="expand"/></span></div>
                            </div>
                            <div id="install_values_view"></div>
                        </dd>
                    </dl>
                </div>
            </div>
            <!-- btn -->
            <div class="btn02">
                <button onclick="historyBack()" th:text="#{M0028}"></button>
                <div>
                    <button type="submit" id="install" th:text="#{M0857}"></button>
                </div>
            </div>
        </article>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript">
        window.onload = () => {
            func.init(ASIDE_DP1.CATALOGS, ASIDE_DP2.CATALOG_REPOSITORIES);
            callbackFuncNameLoad();
            let valuesMgView;
            let collapse = false;
            let chartObj = JSON.parse(sessionStorage.getItem('chartItem'));
            let icon = (chartObj.icon.length < 1) ? DEFAULT_ICON_PATH : chartObj.icon;
            document.getElementById("repoNameDiv").innerText = `Repository : ${chartObj.repoName}`;
            document.getElementById("chartNameDiv").innerText = `${chartObj.name}`;
            document.getElementById("chartIconDiv").innerHTML = `<img class="chart-logo02" src="${icon}" onerror="this.src='${DEFAULT_ICON_PATH}';"/>`;

            const charts = {
                repoName: chartObj.repoName,
                chartName: chartObj.name,
                chartLatestVersion: chartObj.version,
                chartTargetVersion : chartObj.version,
                chartOrigValues : "",
                chartDefinedValues : "",
                init() {
                    func.nameLoad = charts.reset;
                    charts.initValuesView();
                    charts.load();
                    charts.event();
                },
                initValuesView(){
                    let target = document.getElementById("install_values_view");
                    target.innerHTML = ""
                    valuesMgView =  CodeMirror.MergeView(target, {
                        origLeft : charts.chartOrigValues, //orig
                        value: charts.chartDefinedValues,  //defined
                        revertButtons : false,
                        scrollbarStyle: "simple",
                        theme: "default",
                        mode: "text/x-yaml",
                        allowEditingOriginals: false,
                        highlightDifferences: true,
                        collapseIdentical: collapse,
                        lineNumbers: true,
                        lineWrapping: true,
                    });

                    resizeMergeView(valuesMgView, 700);
                },

                load() {
                    func.loading();
                    func.loadData('GET', `${func.catalogUrl}/api/charts/${charts.chartName}/versions?repo=${charts.repoName}`, 'application/json', charts.versions);
                    func.loadData('GET', `${func.catalogUrl}/api/repositories/${charts.repoName}/charts/${charts.chartName}/info?info=values&version=${charts.chartLatestVersion}`, 'application/json', charts.initValues);
                },

                versions(data) {
                    let versions = data.items;
                    let html = ``;
                    for (let v of versions) {
                        let app_version = v.app_version.length > 0 ? `&nbsp;&nbsp;(App Version ${v.app_version})` : '' ;
                        html += `<option value="${v.version}">${v.name}@${v.version}${app_version}</option>`;
                    }
                    func.appendHtml(document.getElementById('chart_versions_sel'), html, 'select');
                    document.getElementById('chart_versions_sel').selectedIndex = "0";
                },

                initValues(data) {
                    charts.chartOrigValues = data.items;
                    charts.chartDefinedValues = data.items;
                    charts.initValuesView();
                    if(document.getElementById('loading')){
                        document.getElementById('wrap').removeChild(document.getElementById('loading'));
                    };
                },

                event() {
                    document.getElementById('chart_versions_sel').addEventListener('change', (e) => {
                        func.loading();
                        charts.chartTargetVersion =e.target.value;
                        func.loadData('GET', `${func.catalogUrl}/api/repositories/${charts.repoName}/charts/${charts.chartName}/info?info=values&version=${charts.chartTargetVersion}`, 'application/json', charts.initValues);
                    }, false);

                    document.getElementById('collapse').addEventListener('click', (e) => {
                        charts.chartDefinedValues = valuesMgView.editor().getValue();
                        collapse = !collapse;
                        func.isCollapse('collapse_img', collapse);
                        charts.initValuesView();
                    }, false);


                    document.getElementById('install').addEventListener('click', (e) => {
                        let releaseName =  document.getElementById('release_name').value;
                        //check release_name
                        if(releaseName.length < 1) {
                            func.alertPopup('ALERT', MSG_REQUIRED_RELEASE_NAME, true, MSG_CONFIRM, 'closed');
                            return false;
                        }
                        //check namespace
                        if(sessionStorage.getItem('nameSpace').toLowerCase() === "all") {
                            func.alertPopup('ALERT', MSG_SELECTED_NAMESPACE_ALL, true, MSG_CONFIRM, 'closed');
                            return false;
                        }

                        // install
                        func.alertPopup('INSTALL', MSG_CHECK_TO_INSTALL_CHART, true, MSG_CONFIRM, charts.install);

                    }, false);
                },

                install(){
                    let releaseName =  document.getElementById('release_name').value.trim();
                    let installChart = {
                        "repo" : charts.repoName,
                        "chart": charts.chartName,
                        "chart_version" : charts.chartTargetVersion,
                        "values" : valuesMgView.editor().getValue(),
                    };
                    func.saveData('POST', `${func.catalogUrl}/api/clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/releases/${releaseName}`, JSON.stringify(installChart), true, 'application/json', charts.moveReleaseList);
                },

                reset(){
                  return false;
                },

                moveReleaseList() {
                    movePage(URI_CP_CATALOG_RELEASES);
                }
            }

            charts.init();
        }

    </script>
</th:block>
</html>