<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div id="content" class="sub-page">
        <article class="location">
            <ul>
                <li><a onclick="movePage(URI_CP_CONFIGS_CONFIGMAPS)">Configs</a></li>
                <li><a onclick="movePage(URI_CP_CONFIGS_SECRETS)">Secrets</a></li>
            </ul>
        </article>
        <article class="base">
            <div class="creat creat-type2">
                <div>
                    <h3 th:text="|Secrets #{M0024}|"></h3>
                    <dl class="content-storageBackends">
                        <dt><label>Storage Backend</label></dt>
                        <dd class="g-select-wrap">
                            <div class="g-select">
                                <select name="storageBackends" class="storageBackends" id="storageBackendsSelect" onchange="selectStorageBackends()">
                                    <option value="kubernetes">Kubernetes</option>
                                    <option value="vault">Vault</option>
                                </select>
                            </div>
                        </dd>
                    </dl>
                    <dl id="dbInstallGuide" style="display: none">
                        <dt><label></label></dt>
                        <dd style="display: block">
                            <span><i class="fas fa-info-circle"></i>&nbsp;</span><span th:text="#{M0923}"></span>
                            <div class="custom-access-contents" style="margin: 1px 0 1px 0">
                                <span>helm install </span><span style="color: #d91e18">$(name)</span> bitnami/postgresql -n <span style="color: #d91e18">$(namespace)</span><span> --create-namespace --set auth.audit.logConnections=true --set auth.postgresPassword=postgres-pass --set storageClass=cp-storageclass --set primary.persistence.size=10Gi</span>
                            </div>
                            <h5 style="color: green; text-align: right;" th:text="#{M0932}"></h5>
                        </dd>
                    </dl>
                    <dl id="targetNamespaceDl">
                        <dt><label for="targetNamespace">Namespace</label></dt>
                        <dd>
                            <input disabled="disabled" id="targetNamespace" type="text" />
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="metadataName">Name</label></dt>
                        <dd>
                            <input id="metadataName" type="text" th:placeholder="Name">
                        </dd>
                    </dl>
                    <dl id="dataBaseTypes" style="display: none">
                        <dt><label>DB Types</label></dt>
                        <dd class="g-select-wrap">
                            <div class="g-select">
                                <select name="dataBaseTypes" class="dataBaseTypes" id="dataBaseTypesSelect" onchange="selectDataBaseTypes()">
                                    <option value="psql">Postgre SQL</option>
                                </select>
                            </div>
                        </dd>
                    </dl>
                    <dl id="dataBaseServices" style="display: none">
                        <dt><label>DB Service</label></dt>
                        <dd class="g-select-wrap">
                            <div class="g-select">
                                <select name="dataBaseServices" class="dataBaseServices" id="dataBaseServicesSelect" >
                                </select>
                            </div>
                            <span>&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;</span><span th:text="#{M0933}"></span>
                        </dd>
                    </dl>
                    <dl id="defaultTtlBlock" style="display: none">
                        <dt><label for="defaultTtl">Default TTL</label></dt>
                        <dd>
                            <input id="defaultTtl" type="text" th:placeholder="'s/m/h'">
                        </dd>
                    </dl>
                    <dl id="maxTtlBlock" style="display: none">
                        <dt><label for="maxTtl">Max TTL</label></dt>
                        <dd>
                            <input id="maxTtl" type="text" th:placeholder="'s/m/h'">
                        </dd>
                    </dl>
                    <dl id="specifyingDataTypesBlock" style="display: block flex">
                        <dt><label for="specifyingDataTypes">Specifying Data Types</label></dt>
                        <dd>
                            <input id="specifyingDataTypes" type="checkbox" onclick="showDataTypes()"/>
                            <label for="specifyingDataTypes"></label>
                        </dd>
                        <dt></dt><label>Data Type</label>
                        <dd>
                            <div id="dataTypes" style="font-size: 20px;margin: 13px;display: block flex">Opaque</div>
                            <div id="dataTypesSelectBox" class="g-select" style="display: none">
                                <select name="dataTypes" class="dataTypes" id="dataTypesSelect" onchange="selectDataTypes()">
                                    <option value="dockerConfig" selected="selected">Docker Config</option>
                                    <option value="bootStrapTokenData">Boot Strap Token</option>
                                    <option value="serviceAccountToken">Service Account Token</option>
                                </select>
                            </div>
                        </dd>
                    </dl>
                    <dl id="serviceAccountNameSelectBox" style="display: none">
                        <dt><label>Service Account Name</label></dt>
                        <dd class="g-select-wrap" >
                            <div class="g-select" >
                                <select id="serviceAccountName" name="serviceAccountName" class="serviceAccountName">
                                </select>
                            </div>
                        </dd>
                    </dl>
                </div>

                <!-- Data -->
                <h4 class="tit" id="tit" style="display:block flex;">Data</h4>
                <div class="con-section" style="display:block;">
                    <dl>
                        <dt><label>Key</label></dt>
                        <dd>
                            <input name="key" class="data" type="text" placeholder="Key" onkeyup="keyDataTypes()"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>Value</label></dt>
                        <dd>
                            <input name="value" class="data" type="text" placeholder="Value" style="display: block"/>
                            <span class="value-span" style="display: none"></span>
                        </dd>
                        <dt></dt>
                        <dd>
                            <label class="input-file-button" for="input-file">File Upload</label>
                            <input type="file" class="input-file-upload" id="input-file" accept="text/plain" style="display: none" onclick="fileUpload()"/>
                        </dd>
                    </dl>
                </div>
                <!-- // Data -->
                <div class="flex-e data-add-btn">
                    <button type="button" id="dataCreate" class="add-btn" onclick="dataCreate()" style="display: block" th:text="#{M0919}"></button>
                </div>
            </div>
            <!-- btn -->
            <div class="btn02">
                <div>
                    <button type="submit" id="save" th:text="#{M0030}"></button>
                    <button onclick="movePage(URI_CP_CONFIGS_SECRETS)" th:text="#{M0029}"></button>
                </div>
            </div>
        </article>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript">
        window.onload = () => {

            func.init(ASIDE_DP1.CONFIGS, ASIDE_DP2.SECRETS);
            var targetNamespace = sessionStorage.getItem('nameSpace');
            const createSecrets = {

                init(){
                    if(sessionStorage.getItem('nameSpace').toLowerCase() == "all") {
                        func.alertPopup('ALERT', MSG_SELECTED_NAMESPACE_ALL, true, MSG_CLOSE, createSecrets.alertListBack);
                        return false;
                    }

                    if (sessionStorage.getItem('clusterType') !== 'host') {
                        document.getElementById('storageBackendsSelect').setAttribute('disabled', true);
                    }

                    document.getElementById("targetNamespace").value = targetNamespace;

                    createSecrets.reset;

                    createSecrets.event();

                    btnSynch();
                },

                alertListBack() {
                    movePage(URI_CP_CONFIGS_SECRETS);
                },

                event(){
                    document.getElementById('save').addEventListener('click', (e) => {
                        func.alertPopup('SAVE', MSG_CHECK_TO_SAVE, true, MSG_CONFIRM, createSecrets.save);
                    }, false);
                },

                save() {

                    let data = {};
                    let conSectionData = document.getElementsByClassName('con-section');
                    for (let i=0; i < conSectionData.length; i++) {
                        let key = document.getElementById('key_' +`${i}`).value;
                        let value = "";
                        if (document.getElementById('value_' + `${i}`).style.display === "none") {
                           value = document.getElementById('value-span_' +`${i}`).innerText;
                        } else {
                           value = document.getElementById('value_' +`${i}`).value;
                        }

                        data[i] = {
                            key, value
                        };
                    }

                    let defaultTtl = document.getElementById("defaultTtl").value;
                    let maxTtl = document.getElementById("maxTtl").value;
                    let dbType = document.getElementById("dataBaseTypesSelect").value;
                    let dbService = document.getElementById("dataBaseServicesSelect").value;

                    let dataType = "";
                    let specifyingDataTypes = document.getElementById("specifyingDataTypes");
                    if (specifyingDataTypes.checked) {
                        dataType = document.getElementById("dataTypesSelect").value;
                    } else {
                        dataType = document.getElementById("dataTypes").innerText;
                    }

                    let serviceAccountName = document.getElementById('serviceAccountName').value;

                    if (dataType === 'bootStrapTokenData') {
                        dataType = 'bootstrap.kubernetes.io/token';
                    } else if (dataType === 'serviceAccountToken') {
                        dataType = 'kubernetes.io/service-account-token';
                    } else if (dataType === 'dockerConfig') {
                        dataType = 'kubernetes.io/dockerconfigjson';
                    }

                    let storageBackend = document.getElementById('storageBackendsSelect').value;
                    let createSecrets = "";
                    if (storageBackend === 'kubernetes') {
                        switch (dataType) {
                            case 'kubernetes.io/service-account-token':
                                createSecrets = {

                                    "cluster": sessionStorage.getItem('cluster'),
                                    "namespace": sessionStorage.getItem('nameSpace'),
                                    "resourceName": "secrets",
                                    "metadataName": document.getElementById('metadataName').value,
                                    "storageBackend": storageBackend,
                                    "dataType": dataType,
                                    "serviceAccountName": serviceAccountName

                                };
                                break;
                            default :
                                createSecrets = {

                                    "cluster": sessionStorage.getItem('cluster'),
                                    "namespace": sessionStorage.getItem('nameSpace'),
                                    "resourceName": "secrets",
                                    "metadataName": document.getElementById('metadataName').value,
                                    "storageBackend": storageBackend,
                                    "dataType": dataType,
                                    "data": data

                                };
                                break;
                        }
                    } else {
                        createSecrets = {

                            "cluster": sessionStorage.getItem('cluster'),
                            "namespace": sessionStorage.getItem('nameSpace'),
                            "resourceName": "secrets",
                            "metadataName": document.getElementById('metadataName').value,
                            "storageBackend": storageBackend,
                            "dbType": dbType,
                            "dbService": dbService,
                            "defaultTtl": defaultTtl,
                            "maxTtl": maxTtl,
                            "roleSetCode": sessionStorage.getItem('roleSetCode')

                        };
                    }

                    func.saveData('POST', `${func.url}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/secrets`, JSON.stringify(createSecrets), true, 'application/json', func.historyBack);
                }
            };

            createSecrets.init();
        };


        /* Data 추가 */
        let conSection = document.querySelector('.data-add-btn');
        function dataCreate() {
            let newData = document.createElement('div');
            let conSectionData = document.getElementsByClassName('con-section');
            let dataTypes = document.getElementById('dataTypes');
            let key_0 = document.getElementById('key_0').value;
            let inputFileButton = document.getElementsByClassName('input-file-button');

            newData.classList.add('con-section');
            newData.innerHTML = `
                <div class="flex-e">
                    <button onclick="deleteBtn()">&#10006;</button>
                    <span class="blind">` + DELETE_DATA + `</span>
                </div>
                <dl>
                    <dt><label">Key</label></dt>
                    <dd>
                        <input name="key" class="data" type="text" placeholder="Key" onkeyup="keyDataTypes()"/>
                    </dd>
                </dl>
                <dl>
                    <dt><label">Value</label></dt>
                    <dd>
                        <input name="value" class="data" type="text" placeholder="Value" style="display: block"/>
                        <span class="value-span" style="display: none"></span>
                    </dd>
                     <dt></dt>
                        <dd>
                            <label class="input-file-button" for="input-file">File Upload</label>
                            <input type="file" class="input-file-upload" id="input-file" accept="text/plain" style="display: none" onclick="fileUpload()"/>
                        </dd>
                </dl>`

            conSection.insertAdjacentElement('beforebegin', newData);

            btnSynch();

            if (dataTypes.innerText === "kubernetes.io/ssh-auth" && conSectionData.length > 1) {
                dataTypes.innerText = "Opaque";
            } else if (dataTypes.innerText === "kubernetes.io/tls") {
                if (conSectionData.length <= 2) {
                    if (key_0 === 'tls.crt') {
                        document.getElementById('key_1').value = "tls.key";
                        document.getElementById('value_1').setAttribute('placeholder','Upload File');
                        document.getElementById('value_1').setAttribute('disabled',true);
                    } else if (key_0 === 'tls.key') {
                        document.getElementById('key_1').value = "tls.crt";
                        document.getElementById('value_1').setAttribute('placeholder','Upload File');
                        document.getElementById('value_1').setAttribute('disabled',true);
                    }
                } else if (conSectionData.length > 2) {
                    dataTypes.innerText = "Opaque";
                }
            }

            btnSynch();
        };

        /* Data 삭제 */
        function deleteBtn() {
            let currentData = event.currentTarget.parentNode.parentNode;
            currentData.remove();
            btnSynch();

            let conSectionData = document.getElementsByClassName('con-section');
            let key_0 = document.getElementById('key_0').value;

            if (conSectionData.length === 1 && (key_0 === "dockercfg" || key_0 === ".dockercfg")) {
                dataTypes.innerText = "kubernetes.io/dockercfg";
            } else if (conSectionData.length === 1 && (key_0 === "dockerconfigjson" || key_0 === ".dockerconfigjson")) {
                dataTypes.innerText = "kubernetes.io/dockerconfigjson";
            } else if (conSectionData.length === 1 && key_0 === "ssh-privatekey") {
                dataTypes.innerText = "kubernetes.io/ssh-auth";
            } else if (conSectionData.length <= 2 && (key_0 === "tls.key" || key_0 === "tls.crt")) {
                dataTypes.innerText = "kubernetes.io/tls";
            }
        }

        function btnSynch() {
            let key = document.getElementsByName('key');
            let value = document.getElementsByName('value');
            let valueSpan = document.getElementsByClassName('value-span');
            let conSectionData = document.getElementsByClassName('con-section');
            let inputFileButton = document.getElementsByClassName('input-file-button');
            let inputFile = document.getElementsByClassName('input-file-upload');

            for (let i = 0 ; i < conSectionData.length; i++) {
                key[i].setAttribute('id', 'key_'+`${i}`);
                value[i].setAttribute('id', 'value_'+`${i}`);
                valueSpan[i].setAttribute('id', 'value-span_'+`${i}`);
                conSectionData[i].setAttribute('id', 'con-section-data_'+`${i}`);
                inputFileButton[i].setAttribute('for', 'input-file_'+`${i}`);
                inputFile[i].setAttribute('id', 'input-file_'+`${i}`);
            }
        }

        function dataTypeDockerConfig() {
            for (let i=0; i<=3; i++) {
                let key = document.getElementById("key_" + `${i}`)
                switch(i) {
                    case 0 : key.value = "docker-server";
                        break;
                    case 1 : key.value = "docker-username";
                        break;
                    case 2 : key.value = "docker-password";
                        break;
                    case 3 : key.value = "docker-email";
                        break;
                }
            }
        }

        function dataTypeBootStrapTokenData() {
            for (let i=0; i<=6; i++) {
                let key = document.getElementById("key_" + `${i}`)
                switch(i) {
                    case 0 : key.value = "token-id";
                        break;
                    case 1 : key.value = "token-secret";
                        break;
                    case 2 : key.value = "usage-bootstrap-authentication";
                        break;
                    case 3 : key.value = "usage-bootstrap-signing";
                        break;
                    case 4 : key.value = "auth-extra-group";
                        break;
                    case 5 : key.value = "expiration";
                        break;
                    case 6 : key.value = "description";
                        break;
                }
            }
        }

        let conSectionClass = document.getElementsByClassName("con-section");
        let dataCreateBtn = document.getElementById('dataCreate');
        let dataTitle = document.getElementById("tit");
        let dataTypes = document.getElementById("dataTypes");
        let serviceAccountNameSelectBox = document.getElementById("serviceAccountNameSelectBox");
        let namespace = document.getElementById("targetNamespace");
        let name = document.getElementById("metadataName");

        function showDataTypes() {
            document.getElementById('value_0').removeAttribute('disabled');
            let conSectionId = document.getElementById("con-section-data_0");
            let dataDiv = `
                    <div class="flex-e">
                    </div>
                    <dl>
                        <dt><label">Key</label></dt>
                        <dd>
                            <input name="key" class="data" type="text" placeholder="Key" disabled="disabled" onkeyup="keyDataTypes()"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label">Value</label></dt>
                        <dd>
                            <input name="value" class="data" type="text" placeholder="Optional" style="display: block"/>
                            <span class="value-span" style="display: none"></span>
                        </dd>
                        <dt></dt>
                        <dd>
                            <label class="input-file-button" for="input-file">File Upload</label>
                            <input type="file" class="input-file-upload" id="input-file" accept="text/plain" style="display: none" onclick="fileUpload()"/>
                        </dd>
                    </dl>`;
            let dataTypesCheckBox = document.getElementById("specifyingDataTypes");
            let dataTypesSelectBox = document.getElementById("dataTypesSelectBox");
            let dataTypesSelectedValue = document.querySelector('#dataTypesSelect > option:checked').value;

            if (dataTypesCheckBox.checked === true) {
                document.getElementById("dataTypesSelect").selectedIndex="0";
                document.getElementById("value_0").value = "";
                document.getElementById("key_0").setAttribute('disabled',true);
                dataTypesSelectBox.style.display = "block flex";
                dataTypes.style.display = "none";

                if (conSectionClass.length === 1) {
                    for (let i=0; i < 3; i++) {
                        let newData = document.createElement('div');
                        newData.classList.add('con-section');
                        newData.innerHTML = dataDiv;

                        conSection.insertAdjacentElement('beforebegin', newData);
                        dataCreateBtn.style.display = "none";
                    }

                    btnSynch();

                    dataTypeDockerConfig();

                    for (let i=0; i < 3; i++) {
                        document.getElementById('value_' + `${i}`).setAttribute('placeholder','Required')
                    }

                } else {
                    for (let i=conSectionClass.length-1; i > 0 ; i--) {
                        document.getElementById('con-section-data_' + `${i}`).remove();
                    }

                    for (let i=0; i < 3; i++) {
                        let newData = document.createElement('div');
                        newData.classList.add('con-section');
                        newData.innerHTML = dataDiv;

                        conSection.insertAdjacentElement('beforebegin', newData);
                        dataCreateBtn.style.display = "none";
                    }

                    btnSynch();

                    dataTypeDockerConfig();

                    for (let i=0; i < 3; i++) {
                        document.getElementById('value_' + `${i}`).setAttribute('placeholder','Required')
                    }
                }

            } else {
                if (dataTypesSelectedValue === "dockerConfig") {
                    dataTypesSelectBox.style.display = "none";
                    dataTypes.style.display = "block flex";
                    if (conSectionClass.length > 1) {
                        for (let i = conSectionClass.length-1; i > 0; i--) {
                            document.getElementById('con-section-data_' + `${i}`).remove();
                        }
                    }

                    dataCreateBtn.style.display = "block";
                    serviceAccountNameSelectBox.style.display = "none";
                    dataTitle.style.display = "block flex";
                    conSectionId.style.display = "block";
                    document.getElementById("key_0").value = "";
                    namespace.value = sessionStorage.getItem('nameSpace');
                    document.querySelector('#dataTypesSelect > option:checked').value;
                } else if (dataTypesSelectedValue === "bootStrapTokenData") {
                    dataTypesSelectBox.style.display = "none";
                    dataTypes.style.display = "block flex";
                    if (conSectionClass.length > 1) {
                        for (let i = conSectionClass.length-1; i > 0; i--) {
                            document.getElementById('con-section-data_' + `${i}`).remove();
                        }
                    }

                    dataCreateBtn.style.display = "block";
                    serviceAccountNameSelectBox.style.display = "none";
                    dataTitle.style.display = "block flex";
                    conSectionId.style.display = "block";
                    document.getElementById("key_0").value = "";
                    namespace.value = sessionStorage.getItem('nameSpace');
                    document.querySelector('#dataTypesSelect > option:checked').value;
                } else {
                    dataTypesSelectBox.style.display = "none";
                    dataTypes.style.display = "block flex";
                    dataCreateBtn.style.display = "block";
                    serviceAccountNameSelectBox.style.display = "none";
                    dataTitle.style.display = "block flex";
                    conSectionId.style.display = "block";
                    document.getElementById("key_0").value = "";
                    namespace.value = sessionStorage.getItem('nameSpace');
                    document.querySelector('#dataTypesSelect > option:checked').value;
                }

            }

            if (dataTypesCheckBox.checked === false) {
                let dataTypes = document.getElementById('dataTypes');
                dataTypes.innerText = 'Opaque';
                document.getElementById("key_0").removeAttribute('disabled');
                document.getElementById('value_0').setAttribute('placeholder','Value')
            }
        }

        function selectDataBaseTypes() {
            let dataBaseTypesSelectedValue = document.querySelector('#dataBaseTypesSelect > option:checked').value;
            if (dataBaseTypesSelectedValue === "psql") {
                if (dataBaseTypesSelectedValue === "psql") {
                    func.loadData('GET', `${func.url}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/services`, 'application/json', (e) => {
                        html = ``;

                        for (let item of e.items) {
                            if (item.clusterIP !== 'None') {
                                html += `<option value="${item.name}"`;
                                html += `>${item.name}</option>`;
                            }
                        }

                        func.appendHtml(document.getElementById('dataBaseServicesSelect'), html, 'select');
                    });
                }
            }
        }

        function selectStorageBackends() {

            btnSynch();

            let conSectionId = document.getElementById("con-section-data_0");
            let dataBaseTypes = document.getElementById("dataBaseTypes");
            let dataBaseServices = document.getElementById("dataBaseServices");
            let dataTypesCheckBox = document.getElementById("specifyingDataTypes");
            let defaultTtl = document.getElementById("defaultTtlBlock");
            let maxTtl = document.getElementById("maxTtlBlock");
            let specifyingDataTypesBlock = document.getElementById("specifyingDataTypesBlock");
            let storageBackendsSelectedValue = document.querySelector('#storageBackendsSelect > option:checked').value;
            let dataBaseTypesSelectedValue = document.querySelector('#dataBaseTypesSelect > option:checked').value;
            let serviceAccountNameSelectBox = document.getElementById("serviceAccountNameSelectBox");
            let dbInstallGuide = document.getElementById("dbInstallGuide");

            if (storageBackendsSelectedValue === "vault") {

                func.removeHtml(document.querySelector('#dataBaseServicesSelect'))

                //namespace.value = sessionStorage.getItem('nameSpace');
                //name.value = "";
                //if (dataBaseTypesSelectedValue === "psql") {
                    func.loadData('GET', `${func.url}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/services`, 'application/json', (e) => {
                        let html = ``;

                        for (let item of e.items) {
                            if (item.clusterIP !== 'None') {
                                html += `<option value="${item.name}"`;
                                html += `>${item.name}</option>`;
                            }
                        }

                        func.appendHtml(document.getElementById('dataBaseServicesSelect'), html, 'select');
                    });
                //}

                /*let targetNamespaceDl = document.getElementById("targetNamespaceDl")
                targetNamespaceDl.setAttribute('style','display: none')*/

                if (conSectionClass.length > 1) {
                    for (let i=conSectionClass.length-1; i > 0 ; i--) {
                        document.getElementById('con-section-data_' + `${i}`).remove();
                    }
                }

                specifyingDataTypesBlock.style.display = "none";
                conSectionId.style.display = "none";
                dataTitle.style.display = "none";
                dataCreateBtn.style.display = "none";
                serviceAccountNameSelectBox.style.display = "none";

                dataBaseTypes.style.display = "block flex";
                dataBaseServices.style.display = "block flex";
                defaultTtl.style.display = "block flex";
                maxTtl.style.display = "block flex";
                dbInstallGuide.style.display = "block flex";

            } else {

                namespace.value = sessionStorage.getItem('nameSpace');
                name.value = "";
                document.getElementById("key_0").value= "";
                document.getElementById("value_0").value= "";

                dataTypesCheckBox.checked = false;
                dataTypesSelectBox.style.display = "none";

                dataBaseTypes.style.display = "none";
                dataBaseServices.style.display = "none";
                defaultTtl.style.display = "none";
                maxTtl.style.display = "none";
                dbInstallGuide.style.display = "none";

                specifyingDataTypesBlock.style.display = "block flex";
                conSectionId.style.display = "block";
                dataTitle.style.display = "block";
                dataCreateBtn.style.display = "block";

                let targetNamespaceDl = document.getElementById("targetNamespaceDl")
                targetNamespaceDl.removeAttribute("style");

            }
        }

        function selectDataTypes() {
            let conSectionId = document.getElementById("con-section-data_0");
            let dataDiv = `
                    <div class="flex-e">
                    </div>
                    <dl>
                        <dt><label">Key</label></dt>
                        <dd>
                            <input name="key" class="data" type="text" placeholder="Key" disabled="disabled" onkeyup="keyDataTypes()"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label">Value</label></dt>
                        <dd>
                            <input name="value" class="data" type="text" placeholder="Optional" style="display: block"/>
                            <span class="value-span" style="display: none"></span>
                        </dd>
                        <dt></dt>
                        <dd>
                            <label class="input-file-button" for="input-file">File Upload</label>
                            <input type="file" class="input-file-upload" id="input-file" accept="text/plain" style="display: none" onclick="fileUpload()"/>
                        </dd>
                    </dl>`;
            let dataTypesSelectedValue = document.querySelector('#dataTypesSelect > option:checked').value;

            if (dataTypesSelectedValue === "serviceAccountToken") {
                serviceAccountNameSelectBox.style.display = "block flex";
                dataTitle.style.display = "none";

                if (conSectionClass.length > 1) {
                    for (let i=conSectionClass.length-1; i > 0 ; i--) {
                        document.getElementById('con-section-data_'+`${i}`).remove();
                    }
                }

                dataCreateBtn.style.display = "none";
                conSectionId.style.display = "none";
                namespace.value = sessionStorage.getItem('nameSpace');

                let html = ``;
                func.loadData('GET', `${func.url}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/serviceAccountsList`, 'application/json', (e) => {
                    func.removeHtml(document.getElementById("serviceAccountName"));

                    for (let item of e.items) {
                        if( item.name != 'default' ) {
                            html += `<option value="${item.name}" data-id="${item.uid}"`;
                            html += `>${item.name}</option>`;
                        }
                    }

                    func.appendHtml(document.getElementById('serviceAccountName'), html, 'dl');
                });

            } else if (dataTypesSelectedValue === "bootStrapTokenData") {
                //namespace.value = "kube-system";
                document.getElementById("value_0").value= "";
                dataTitle.style.display = "none";

                serviceAccountNameSelectBox.style.display = "none";
                dataTitle.style.display = "block flex";
                conSectionId.style.display = "block";

                if (conSectionClass.length > 1) {
                    for (let i = 3; i > 0; i--) {
                        document.getElementById('con-section-data_' + `${i}`).remove();
                    }
                }

                for (let i = 0; i < 6; i++) {
                    let newData = document.createElement('div');
                    newData.classList.add('con-section');
                    newData.innerHTML = dataDiv;

                    conSection.insertAdjacentElement('beforebegin', newData);
                    dataCreateBtn.style.display = "none";
                }

                dataCreateBtn.style.display = "none";

                btnSynch();

                dataTypeBootStrapTokenData();

                for (let i = 0; i < 2; i++) {
                    document.getElementById('value_' + `${i}`).setAttribute('placeholder','Required')
                }

                for (let i = 2; i < 4; i++) {
                    document.getElementById('value_' + `${i}`).setAttribute('placeholder','True/False')
                }

            } else if (dataTypesSelectedValue === "dockerConfig") {
                document.getElementById("key_0").setAttribute('disabled',true);
                document.getElementById("value_0").value = "";
                dataTitle.style.display = "none";

                serviceAccountNameSelectBox.style.display = "none";
                dataTitle.style.display = "block flex";
                conSectionId.style.display = "block";

                if (conSectionClass.length > 1) {
                    for (let i = 6; i > 0; i--) {
                        document.getElementById('con-section-data_' + `${i}`).remove();
                    }
                }

                for (let i = 0; i < 3; i++) {
                    let newData = document.createElement('div');
                    newData.classList.add('con-section');
                    newData.innerHTML = dataDiv;

                    conSection.insertAdjacentElement('beforebegin', newData);
                    dataCreateBtn.style.display = "none";
                }

                dataCreateBtn.style.display = "none";

                btnSynch();

                dataTypeDockerConfig();

                for (let i=0; i < 3; i++) {
                    document.getElementById('value_' + `${i}`).setAttribute('placeholder','Required')
                }
            }
        }

        function fileUpload() {
            let conSectionData = document.getElementsByClassName('con-section');
            for (let i = 0 ; i < conSectionData.length; i++) {
                if (document.getElementById('input-file_' + `${i}`)) {
                    let target = document.getElementById('input-file_' + `${i}`);
                    target.onchange = (e) => {
                        processFile(e.target.files[0]);
                    }
                    function processFile(file) {
                        var reader = new FileReader();
                        document.getElementById('value_' + `${i}`).style.display = "none";
                        document.getElementById('value-span_' + `${i}`).style.display = "block";
                        reader.onload = function () {
                            document.getElementById('value-span_' + `${i}`).innerText = reader.result;
                        };
                        reader.readAsText(file, "euc-kr");
                    }
                }
            }
        }

        function keyDataTypes() {
            let conSectionData = document.getElementsByClassName('con-section');
            let dataTypes = document.getElementById('dataTypes');
            let key_0 = document.getElementById('key_0').value;

            if (conSectionData.length === 1 && key_0 === 'ssh-privatekey') {
                dataTypes.innerText = 'kubernetes.io/ssh-auth';
                document.getElementById('value_0').setAttribute('placeholder','Upload File');
                document.getElementById('value_0').setAttribute('disabled',true);
            } else if (conSectionData.length <= 1 && (key_0 === 'tls.crt' || key_0 === 'tls.key')) {
                dataTypes.innerText = 'kubernetes.io/tls';
                if (dataTypes.innerText === 'kubernetes.io/tls') {
                    document.getElementById('value_0').setAttribute('placeholder','Upload File');
                    document.getElementById('value_0').setAttribute('disabled',true);
                }
                if (dataTypes.innerText === 'kubernetes.io/tls' && key_0 === 'tls.crt' && conSectionData.length > 1) {
                    document.getElementById('key_1').value = "tls.key";
                } else if (dataTypes.innerText === 'kubernetes.io/tls' && key_0 === 'tls.key' && conSectionData.length > 1) {
                    document.getElementById('key_1').value = "tls.crt";
                }
            } else {
                dataTypes.innerText = 'Opaque';
                if (dataTypes.innerText === 'Opaque') {
                    document.getElementById('value_0').setAttribute('placeholder','Value');
                    document.getElementById('value_0').removeAttribute('disabled');
                }
            }
        }
    </script>
</th:block>
</html>