<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div id="content" class="sub-page">
        <article class="location">
            <ul>
                <li><a onclick="movePage(URI_CP_CONFIGS_CONFIGMAPS)">Configs</a></li>
                <li><a onclick="movePage(URI_CP_CONFIGS_SECRETS)">Secrets</a></li>
            </ul>
            <!-- Click event class="on" -->
            <fieldset>
                <input type="text" name="keyword" id="searchText" autocomplete="off" th:placeholder="#{M0017}" />
                <button type="submit" id="search" th:text="#{M0031}"></button>
            </fieldset>
        </article>
        <article class="base tab-cont-wrap">
            <!-- tab btn -->
            <ul class="tab-btn">
                <!-- 활성화시 active 클래스 추가 -->
                <li type="notice-kubernetes" id="tab-kuber"><a onclick="movePage(URI_CP_CONFIGS_SECRETS)">Kubernetes</a></li>
                <li type="notice-vault" class="active"><a href="javascript:">Vault</a></li>
            </ul>
            <!-- // tab btn -->
            <div class="notice tab-content">
                <h3>List</h3>
                <div class="table_style01 list">
                <!-- board -->
                    <table>
                        <caption>Secret List</caption>
                        <colgroup >
                            <col width="28%" />
                            <col width="28%" />
                            <col width="28%" />
                            <col width="12%" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Database</th>
                            <th scope="col">Created Time</th>
                            <th scope="col">Applicable Status</th>
                        </tr>
                        </thead>
                        <tbody class="listTable">
                        </tbody>
                    </table>
                    <!-- more btn -->
                    <a class="more" href="javascript:;">more</a>
                </div>
                <!-- btn -->
                <a href="javascript:;" class="create" th:text="#{M0024}"></a>
            </div>
        </article>
    </div>
</div>
<th:block layout:fragment="script">
    <script type="text/javascript">
    window.onload = () => {
        func.init(ASIDE_DP1.CONFIGS, ASIDE_DP2.SECRETS);
        callbackFuncNameLoad();

        const resource = {
            offset : 0, // 로드 페이지 넘버
            limit : 10, // 로드 게시물 개수
            allItemCount : 0, //게시물 총 개수
            type : 'administrator',

            init(){
                func.nameLoad = resource.reset;

                resource.load();

                resource.event();

            },

            reset(){
                func.removeHtml(document.querySelector('.listTable'));

                resource.offset = 0;

                resource.load();
            },

            load(){
                func.loading();
                func.loadData('GET', `${func.url}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/secrets/vault?searchName=${document.getElementById('searchText').value}&limit=${resource.limit}&offset=${resource.offset}&roleSetCode=${sessionStorage.getItem('roleSetCode')}`, 'application/json', resource.draw);

            },

            draw(data){
                if (sessionStorage.getItem('clusterType') !== 'host') {
                    movePage(URI_CP_INDEX_URL);
                }

                if(resource.offset == 0) resource.allItemCount = data.itemMetaData.allItemCount;
                if(data.httpStatusCode === 200){
                    if(data.items.length > 0){
                        for(var i=0; i<=data.items.length-1; i++){
                            var html = '';
                            var createdTime = data.items[i].createdTime;
                            var time = createdTime.substr(0, 19);
                            if (data.items[i].applicableStatus === 'On') {
                                html = `<tr><td class="left"><a href="javascript:;" data-name="${data.items[i].name}">${data.items[i].name}</a></td><td class="left">${data.items[i].pluginName}</td><td>${time}</td>
                                        <td><i class="fa-solid fa-circle fa-sm statusOn" style="color: #80d038;"></i></td></tr>`;
                            } else if (data.items[i].applicableStatus === 'Off') {
                                html = `<tr><td class="left"><a href="javascript:;" data-name="${data.items[i].name}">${data.items[i].name}</a></td><td class="left">${data.items[i].pluginName}</td><td>${time}</td>
                                        <td><i class="fa-solid fa-circle fa-sm statusOff" style="color: #d81502;"></i></td></tr>`;
                            } else {
                                html = `<tr><td class="left"><a href="javascript:;" data-name="${data.items[i].name}">${data.items[i].name}</a></td><td class="left">${data.items[i].pluginName}</td><td>${time}</td>
                                        <td><i class="fa-solid fa-circle fa-sm statusHold" style="color: #5AC8C8;"></i></td></tr>`;
                            }

                            func.appendHtml(document.querySelector('.listTable'), html, 'tbody');

                        };

                    } else {
                        var html = `<tr><td colspan="4">No Data.</td></tr>`;

                        func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                    }
                } else {
                    var html = `<tr><td colspan="4">No Data.</td></tr>`;

                    func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                };

                // more 버튼 활성, 비활성
                if(document.querySelector('.listTable').querySelectorAll('tr').length < resource.allItemCount){
                    document.querySelector('.more').classList.toggle('on', true);
                } else {
                    document.querySelector('.more').classList.toggle('on', false);
                };

                if(document.getElementById('loading')){
                    document.getElementById('wrap').removeChild(document.getElementById('loading'));
                };

                resource.listEvent();
            },

            event(){
                // more 버튼 event
                document.querySelector('.more').addEventListener('click', (e) => {
                    if(document.querySelector('.listTable').querySelectorAll('tr').length < resource.allItemCount){
                    resource.offset++;

                    resource.load();
                };
            }, false);

                document.querySelector('.create').addEventListener('click', (e) => {
                    document.location.href = URI_CP_CONFIGS_SECRETS + URI_CP_CREATE;
            }, false);
            },

            listEvent(){
                var listAll = document.querySelector('.listTable').querySelectorAll('a');

                for(var i=resource.offset*10; i<=listAll.length-1; i++) {
                    listAll[i].addEventListener('click', (e) => {
                        sessionStorage.setItem('commonName', e.target.getAttribute('data-name'));

                        document.location.href = URI_CP_CONFIGS_SECRETS + URI_CP_VAULT_DETAILS;
                    }, true);
                };

            },
        }

        resource.init();

    }
</script>
</th:block>
</html>