<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
    <div id="content" class="sub-page">
        <article class="location">
            <ul>
                <li><a onclick="movePage(URI_CP_CONFIGS_CONFIGMAPS)">Configs</a></li>
                <li><a onclick="movePage(URI_CP_CONFIGS_SECRETS)">Secrets</a></li>
            </ul>
        </article>
        <article class="base detail">
            <div class="notice">
                <h4>Details</h4>
                <div class="table_style01">
                    <table>
                        <caption>Details</caption>
                        <colgroup >
                            <col width="20%" />
                            <col width="70%" />
                            <col width="10%" />
                        </colgroup>
                        <tbody class="listTable">
                        <tr>
                            <th scope="row" class="left">Name</th>
                            <td class="left" id="name"></td><td>-</td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Namespace</th>
                            <td class="left" id="namespace"></td><td>-</td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Database</th>
                            <td class="left" id="database"></td><td>-</td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Username</th>
                            <td class="left" id="username"></td>
                            <td><i id="visibleValueBtn_username" class="fa-solid fa-eye custom-access-button" style="display: block"></i>
                                <i id="invisibleValueBtn_username" class="fa-solid fa-eye-slash custom-access-button" style="display: none"></i></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Password</th>
                            <td class="left" id="password"></td>
                            <td><i id="visibleValueBtn_password" class="fa-solid fa-eye custom-access-button" style="display: block"></i>
                                <i id="invisibleValueBtn_password" class="fa-solid fa-eye-slash custom-access-button" style="display: none"></i></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Default TTL</th>
                            <td class="left" id="default_ttl">
                                <div id="editValue_default_ttl" style="outline:none" disabled="true"></div>
                            </td>
                            <td><i id="editValueBtn_default_ttl" class="fa-solid fa-pen-to-square custom-access-button" ></i></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Max TTL</th>
                            <td class="left" id="max_ttl">
                                <div id="editValue_max_ttl" style="outline:none" disabled="true"></div>
                            </td>
                            <td><i id="editValueBtn_max_ttl" class="fa-solid fa-pen-to-square custom-access-button" ></i></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Lease Duration</th>
                            <td class="box left" id="lease_duration"></td><td>-</td>
                        </tr>
                        <tr>
                            <th scope="row" class="left" >Application</th>
                            <td class="box left" id="application_name"></td><td id="status"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <a href="javascript:;" id="apply" class="apply" th:text="#{M0921}" style="top: 40px;"></a>
            </div>
            <!-- btn -->
            <div class="btn02">
                <button type="submit" id="delete" th:text="#{M0026}"></button>
                <div>
                    <a href="javascript:;" id="remove" data-role="secrets" th:text="#{M0930}"></a>
                    <a href="javascript:;" id="modify" data-role="secrets" style="margin-right: 6px" th:text="#{M0025}"></a>
                    <a onclick="movePage(URI_CP_CONFIGS_VAULT_SECRETS)" th:text="#{M0028}"></a>
                </div>
            </div>
        </article>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript">
    window.onload = () => {

        func.init(ASIDE_DP1.CONFIGS, ASIDE_DP2.SECRETS);

        const secrets = {
            init(){

                // nameSpace 정보 조회
                func.loadData('GET', `${func.url}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/secrets/vault/${sessionStorage.getItem('commonName')}?roleSetCode=${sessionStorage.getItem('roleSetCode')}`, 'application/json', secrets.draw);
            },

            draw(data){

                if (data.flag === 'Y') {
                    var html = '';
                    document.getElementById('apply').style.display = 'none';
                    document.getElementById('application_name').innerText = data.application;

                    //html = `<a href="javascript:;" data-name="${data.application}" data-spac="${data.namespace}">${application_name}</a>`;
                    //func.appendHtml(document.querySelector('#application_name'), html, 'td');
                } else if (data.flag === 'N') {
                    document.getElementById('remove').style.display = 'none';
                    document.getElementById('application_name').innerText = '-';
                }

                // Details data
                document.getElementById('name').innerText = sessionStorage.getItem('commonName');
                document.getElementById('namespace').innerText = data.namespace;
                document.getElementById('database').innerText = data.plugin_name;
                document.getElementById('username').innerText = data.data.username.replaceAll(/./gi, "*");
                document.getElementById('password').innerText = data.data.password.replaceAll(/./gi, "*");
                document.getElementById('editValue_default_ttl').innerText = data.default_ttl + "s";
                document.getElementById('editValue_max_ttl').innerText = data.max_ttl + "s";
                document.getElementById('lease_duration').innerText = data.lease_duration + "s";

                /*if (data.namespace === null) {
                    document.getElementById('namespace').innerText = '-';
                } else {
                    document.getElementById('namespace').innerText = data.namespace;
                }*/

                var html = '';
                if (data.status === 'On') {
                    html = `<i class="fa-solid fa-circle fa-sm statusOn" style="color: #80d038;"></i><input type="hidden" id="appStatus" value="${data.status}">`;
                } else if (data.status === 'Off') {
                    html = `<i class="fa-solid fa-circle fa-sm statusOff" style="color: #d81502;"></i><input type="hidden" id="appStatus" value="${data.status}">`;
                } else {
                    html = `<i class="fa-solid fa-circle fa-sm statusHold" style="color: #5AC8C8;"></i><input type="hidden" id="appStatus" value="${data.status}">`;
                }
                func.appendHtml(document.querySelector('#status'), html, 'td');

                //invisibility
                document.addEventListener('click', (e) => {
                    if (e.target && e.target.id === 'invisibleValueBtn_username') {
                        document.getElementById("visibleValueBtn_username").style.display = "block";
                        document.getElementById("invisibleValueBtn_username").style.display = "none";
                        document.getElementById('username').innerText = data.data.username.replaceAll(/./gi, "*");
                    } else if (e.target && e.target.id === 'invisibleValueBtn_password') {
                        document.getElementById("visibleValueBtn_password").style.display = "block";
                        document.getElementById("invisibleValueBtn_password").style.display = "none";
                        document.getElementById('password').innerText = data.data.password.replaceAll(/./gi, "*");
                    }
                });

                //visibility
                document.addEventListener('click', (e) => {
                    if (e.target && e.target.id === 'visibleValueBtn_username') {
                        document.getElementById("visibleValueBtn_username").style.display = "none";
                        document.getElementById("invisibleValueBtn_username").style.display = "block";
                        document.getElementById('username').innerText = data.data.username;
                    } else if (e.target && e.target.id === 'visibleValueBtn_password') {
                        document.getElementById("visibleValueBtn_password").style.display = "none";
                        document.getElementById("invisibleValueBtn_password").style.display = "block";
                        document.getElementById('password').innerText = data.data.password;
                    }
                });

                //edit
                document.addEventListener('click', (e) => {
                    if (e.target && e.target.id === 'editValueBtn_default_ttl') {
                        document.getElementById('editValue_default_ttl').setAttribute("contenteditable", true);
                        document.getElementById('editValue_default_ttl').setAttribute("disabled", false);
                    } else if (e.target && e.target.id === 'editValueBtn_max_ttl') {
                        document.getElementById('editValue_max_ttl').setAttribute("contenteditable", true);
                        document.getElementById('editValue_max_ttl').setAttribute("disabled", false);
                    }
                });

                secrets.event()

                /*if (document.getElementById('application_name').innerText !== '-') {
                    secrets.listEvent()
                }*/
            },

            event(){
                if (document.getElementById('status').innerText === 'On') {
                    document.getElementById("statusOff").style.display = "none";
                    document.getElementById("statusHold").style.display = "none";
                    document.getElementById("statusOn").style.display = "block";
                } else if (document.getElementById('status').innerText === 'Hold') {
                    document.getElementById("statusOff").style.display = "none";
                    document.getElementById("statusHold").style.display = "block";
                    document.getElementById("statusOn").style.display = "none";
                }

                document.getElementById('delete').addEventListener('click', (e) => {
                    func.vaultDelAlertPopup('DELETE', MSG_CHECK_TO_DELETE, MSG_VAULT_TO_DELETE, true, MSG_CONFIRM, secrets.delete);
                }, false);

                document.getElementById('remove').addEventListener('click', (e) => {
                    func.alertPopup('REMOVE', MSG_CHECK_TO_REMOVE, true, MSG_CONFIRM, secrets.remove);
                }, false);

                document.getElementById('modify').addEventListener('click', (e) => {
                    func.alertPopup('MODIFY', MSG_CHECK_TO_SAVE, true, MSG_CONFIRM, secrets.save);
                }, true);

                document.querySelector('.apply').addEventListener('click', (e) => {
                    sessionStorage.setItem('commonName', '');
                    let vaultSecretName = document.getElementById("name").innerHTML

                    func.apply(MSG_APPLICATION_MAPPING, 'secrets', MSG_SAVE, vaultSecretName);
                }, false);
            },

           /* listEvent(){
                var list = document.querySelector('.listTable').querySelector('a');
                list.addEventListener('click', (e) => {
                    sessionStorage.setItem('commonName', e.target.getAttribute('data-name'));
                    sessionStorage.setItem('nameSpace', e.target.getAttribute('data-spac'));

                    document.location.href = URI_CP_WORKLOADS_DEPLOYMENTS + URI_CP_DETAILS;
                }, true);
            },*/

            save(){

                let updateVaultSecrets = {
                    "cluster": sessionStorage.getItem('cluster'),
                    "namespace": sessionStorage.getItem('nameSpace'),
                    "resourceName": sessionStorage.getItem('commonName'),
                    "metadataName": sessionStorage.getItem('commonName'),
                    "defaultTtl": document.getElementById("editValue_default_ttl").innerHTML,
                    "maxTtl": document.getElementById("editValue_max_ttl").innerHTML,
                    "roleSetCode": sessionStorage.getItem('roleSetCode')
                };

                func.saveData('PUT', `${func.url}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/secrets/vault/${sessionStorage.getItem('commonName')}`, JSON.stringify(updateVaultSecrets), true, 'application/json', func.refresh);

            },

            delete(){

                let deleteApplication = {
                    "cluster": sessionStorage.getItem('cluster'),
                    "namespace": sessionStorage.getItem('nameSpace'),
                    "resourceName": sessionStorage.getItem('commonName'),
                    "type": document.getElementById('appStatus').value,
                    "roleSetCode": sessionStorage.getItem('roleSetCode')
                }

                func.saveData('DELETE', `${func.url}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/secrets/vault/${sessionStorage.getItem('commonName')}`, JSON.stringify(deleteApplication), true, 'application/json', func.historyBack);
            },

            remove(){

                let removeApplication = {
                    "cluster": sessionStorage.getItem('cluster'),
                    "namespace": sessionStorage.getItem('nameSpace'),
                    "resourceName": sessionStorage.getItem('commonName'),
                    "type": document.getElementById('appStatus').value,
                    "roleSetCode": sessionStorage.getItem('roleSetCode')
                };

                func.saveData('PUT', `${func.url}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/secrets/vault/${sessionStorage.getItem('commonName')}/application/remove`, JSON.stringify(removeApplication), true, 'application/json', func.historyBack);
            },
        };

        secrets.init();
    }
</script>
</th:block>
</html>