<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
	<div id="content" class="sub-page">
		<article class="location">
			<ul>
				<li><a onclick="movePage(URI_CP_BASE_URL)">Images</a></li>
				<li><a onclick="movePage(URI_KPS_HUB_IMAGE_PROJECT)">Projects</a></li>
			</ul>
			<ul class="title">
				<span id="title"></span>
			</ul>
		</article>
		<article>
			<fieldset>
				<ul style="display: flex; float: right;">
					<li>
						<div class="statistics">
							<h3 class="stat-title">Total Images</h3>
							<div class="stat-box">
								<i class="fa-solid fa-file fa-2xl stat-img"></i>
								<div id="total-images" class="total-cnt"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="statistics">
							<h3 class="stat-title">Total Artifacts</h3>
							<div class="stat-box">
								<i class="fa-solid fa-box-archive fa-2xl stat-img"></i>
								<div id="total-artifacts" class="total-cnt"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="statistics">
							<h3 class="stat-title">Total Pulls</h3>
							<div class="stat-box">
								<i class="fa-solid fa-download fa-2xl stat-img"></i>
								<div id="total-pulls" class="total-cnt"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="statistics">
							<h3 class="stat-title">Storage Used</h3>
							<div class="stat-box">
								<i class="fa-solid fa-database fa-2xl stat-img"></i>
								<div id="total-storages" class="total-cnt"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="last-statistics">
							<h4 class="stat-title">Critical Vulnerabilities</h4>
							<div class="stat-box">
								<i class="fa-solid fa-shield-halved fa-2xl stat-img"></i>
								<div id="total-Vulnerabilities" class="total-cnt"></div>
							</div>
						</div>
					</li>
				</ul>
			</fieldset>
		</article>
		<article class="base-pro base tab-cont-wrap">

			<div class="notice">
				<ul class="tab-btn">
					<li type="repository"><a onclick="movePage(URI_KPS_HUB_IMAGE_REPOSITORY)" th:text="#{M0940}"></a></li>
					<li type="log" class="active"><a th:text="#{M0941}"></a></li>
				</ul>
				<div class="table_style01">
					<table>
						<caption>Logs List</caption>
						<colgroup >
							<col width="30%" />
							<col width="45%" />
							<col width="10%" />
							<col width="5%" />
							<col width="10%" />
						</colgroup>
						<thead>
						<tr>
							<th scope="col">Username</th>
							<th scope="col">Resource</th>
							<th scope="col">Resource Type</th>
							<th scope="col">Operation</th>
							<th scope="col">Timestamp</th>
						</tr>
						</thead>
						<tbody class="listTable">
						</tbody>
					</table>
					<a class="more" href="javascript:">more</a>
				</div>
			</div>
		</article>
	</div>
</div>
<th:block layout:fragment="script">
	<script type="text/javascript">
		window.onload = () => {

			IS_GLOBAL = true;
			func.init(ASIDE_DP1.IMAGES, ASIDE_DP2.PROJECTS);

			const logs = {
				offset: 0, // 로드 페이지 넘버
				limit: 10, // 로드 게시물 개수
				allItemCount: 0, //게시물 촐 개수
				type: 'administrator',

				init() {
					func.nameLoad = logs.reset;
					document.getElementById('title').innerHTML = sessionStorage.getItem('repositoryName');

					logs.load();

					logs.event();
				},

				reset() {
					func.removeHtml(document.querySelector('.listTable'));
					logs.offset = 0;
					logs.load();
				},

				load() {
					func.loading();

					func.loadHarborData('GET', `${func.harborUrl}api/v2.0/projects/${sessionStorage.getItem('repositoryName')}/logs?page_size=100`, 'application/json', logs.drawLogs);
					func.loadHarborData('GET', `${func.harborUrl}api/v2.0/projects/${sessionStorage.getItem('repositoryName')}/repositories?page_size=100`, 'application/json', logs.drawRepositories);
					func.loadHarborData('GET', `${func.harborUrl}api/v2.0/projects`, 'application/json', logs.drawStorage);

				},

				drawLogs(data) {

					let html;
					sessionStorage.setItem('logsCnt', data.length);
					if (data.length > 0) {
						for (var i = 0; i <= data.length - 1; i++) {

							let time = func.changeTime(data[i].op_time)

							html = `<tr>
                                        <td class="left">${data[i].username}</td>
                                        <td class="left">${data[i].resource}</td>
                                        <td>${data[i].resource_type}</td>
                                        <td>${data[i].operation}</td>
                                        <td id="time_${i}">time</td>
                                    </tr>`;
							func.appendHtml(document.querySelector('.listTable'), html, 'tbody');

							document.getElementById("time_" + i).innerText = time;

						}
					} else if (data.length === 0) {
						let html = '<tr><td colspan="5">No Data.</td></tr>';
						func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
					}

					if (document.getElementById('loading')) {
						document.getElementById('wrap').removeChild(document.getElementById('loading'));
					}

					logs.listEvent()
				},

				drawRepositories(data) {

					let totalArtifacts = 0;
					let totalPulls = 0;

					if (data.length > 0) {
						for (var i = 0; i <= data.length - 1; i++) {

							totalArtifacts += data[i].artifact_count;
							totalPulls += data[i].pull_count;

						}
					}

					document.getElementById('total-images').innerText = data.length
					document.getElementById('total-artifacts').innerText = totalArtifacts
					document.getElementById('total-pulls').innerText = totalPulls

					if (document.getElementById('loading')) {
						document.getElementById('wrap').removeChild(document.getElementById('loading'));
					}

					logs.listEvent()
				},

				drawStorage(data) {

					for (var i = 0; i <= data.length - 1; i++) {
						if(data[i].name === sessionStorage.getItem('repositoryName')) {
							func.loadHarborData('GET', `${func.harborUrl}api/v2.0/projects/${data[i].project_id}/summary`, 'application/json', (e) => {
								document.getElementById('total-storages').innerText = func.formatBytes(e.quota.used.storage)
							});
						}
					}
				},

				event(){
					document.querySelector('.more').addEventListener('click', () => {
						if(document.querySelector('.listTable').querySelectorAll('tr').length < project.allItemCount){
							logs.offset++;

							logs.load();
						}
					}, false);

				},

			};

			logs.init();
		}
	</script>
</th:block>
</html>