<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
	<div id="content" class="sub-page">
		<article class="location">
			<ul>
				<li><a onclick="movePage(URI_CP_BASE_URL)">Images</a></li>
				<li><a onclick="movePage(URI_CP_GLOBAL_CLUSTER)">Projects</a></li>
			</ul>
			<ul class="title">
				<span id="title"></span>
			</ul>
			<!-- Click event class="on" -->
			<fieldset>
				<input type="text" name="keyword" id="searchText" autocomplete="off" th:placeholder="#{M0017}" />
				<button type="submit" id="search" th:text="#{M0031}"></button>
			</fieldset>
		</article>
		<article>
			<fieldset>
				<ul style="display: flex; float: right;">
					<li>
						<div class="statistics">
							<h3 class="stat-title">Total Images</h3>
							<div class="stat-box">
								<i class="fa-solid fa-file fa-2xl stat-img"></i>
								<div class="total-cnt">50</div>
							</div>
						</div>
					</li>
					<li>
						<div class="statistics">
							<h3 class="stat-title">Total Artifacts</h3>
							<div class="stat-box">
								<i class="fa-solid fa-box-archive fa-2xl stat-img"></i>
								<div class="total-cnt">50</div>
							</div>
						</div>
					</li>
					<li>
						<div class="statistics">
							<h3 class="stat-title">Total Pulls</h3>
							<div class="stat-box">
								<i class="fa-solid fa-download fa-2xl stat-img"></i>
								<div class="total-cnt">50</div>
							</div>
						</div>
					</li>
					<li>
						<div class="statistics">
							<h3 class="stat-title">Storage Used</h3>
							<div class="stat-box">
								<i class="fa-solid fa-database fa-2xl stat-img"></i>
								<div class="total-cnt">50</div>
							</div>
						</div>
					</li>
					<li>
						<div class="last-statistics">
							<h4 class="stat-title">Critical Vulnerabilities</h4>
							<div class="stat-box">
								<i class="fa-solid fa-shield-halved fa-2xl stat-img"></i>
								<div class="total-cnt">50</div>
							</div>
						</div>
					</li>
				</ul>
			</fieldset>
		</article>
		<article class="base-pro base tab-cont-wrap">

			<div class="notice">
				<!--                <h3>Projects</h3>-->
				<!-- User -->
				<ul class="tab-btn">
					<!-- 활성화시 active 클래스 추가 -->
					<li type="repository"><a onclick="movePage(URI_KPS_HUB_IMAGE_REPOSITORY)" th:text="#{M0940}"></a></li>
					<li type="log" class="active"><a th:text="#{M0941}"></a></li>
				</ul>
				<div class="table_style01">
					<!-- board -->
					<table>
						<caption>Logs List</caption>
						<colgroup >
							<col width="30%" />
							<col width="45%" />
							<col width="10%" />
							<col width="5%" />
							<col width="10%" />
						</colgroup>
						<thead>
						<tr>
							<th scope="col">Username</th>
							<th scope="col">Resource</th>
							<th scope="col">Resource Type</th>
							<th scope="col">Operation</th>
							<th scope="col">Timestamp</th>
						</tr>
						</thead>
						<tbody class="listTable">
						</tbody>
					</table>
					<!-- more btn -->
					<a class="more" href="javascript:">more</a>
				</div>
			</div>
		</article>
	</div>
</div>
<th:block layout:fragment="script">
	<script type="text/javascript">
		window.onload = () => {

			IS_GLOBAL = true;
			func.init(ASIDE_DP1.IMAGES, ASIDE_DP2.PROJECTS);

			const logs = {
				offset: 0, // 로드 페이지 넘버
				limit: 10, // 로드 게시물 개수
				allItemCount: 0, //게시물 촐 개수
				type: 'administrator',

				init() {
					func.nameLoad = logs.reset;
					document.getElementById('title').innerHTML = sessionStorage.getItem('commonName');

					logs.load();

					logs.event();
				},

				reset() {
					func.removeHtml(document.querySelector('.listTable'));
					logs.offset = 0;
					logs.load();
				},

				load() {
					func.loading();

					// nameSpace 정보 조회
					//https://harbor.133.186.219.222.nip.io/api/v2.0/projects?page=1&page_size=15
					// func.loadData('GET', `${func.harborUrl}/api/v2.0/projects?searchName=${document.getElementById('searchText').value}&limit=${project.limit}&offset=${project.offset}`, 'application/json', project.draw);
					func.loadHarborData('GET', `${func.harborUrl}api/v2.0/projects/${sessionStorage.getItem('commonName')}/logs?page_size=100`, 'application/json', logs.drawLogs);
					// func.loadHarborData('GET', `${func.harborUrl}api/v2.0/statistics`, 'application/json', repositories.drawStatistics);
				},

				drawLogs(data) {

					let html;
					sessionStorage.setItem('logsCnt', data.length);
					if (data.length > 0) {
						for (var i = 0; i <= data.length - 1; i++) {

							let time = func.changeTime(data[i].op_time)

							html = `<tr>
                                        <td class="left">${data[i].username}</td>
                                        <td class="left">${data[i].resource}</td>
                                        <td>${data[i].resource_type}</td>
                                        <td>${data[i].operation}</td>
                                        <td id="time_${i}">time</td>
                                    </tr>`;
							func.appendHtml(document.querySelector('.listTable'), html, 'tbody');

							document.getElementById("time_" + i).innerText = time;

						}
					} else if (data.length === 0) {
						let html = '<tr><td colspan="5">No Data.</td></tr>';
						func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
					}

					if (document.getElementById('loading')) {
						document.getElementById('wrap').removeChild(document.getElementById('loading'));
					}

					logs.listEvent()
				},

				event(){
					// more 버튼 event
					document.querySelector('.more').addEventListener('click', () => {
						if(document.querySelector('.listTable').querySelectorAll('tr').length < project.allItemCount){
							project.offset++;

							project.load();
						}
					}, false);

					if(document.querySelector('.create')) {
						document.querySelector('.create').addEventListener('click', () => {
							func.proCreate(MSG_NEW_PROJECT, 'secrets', MSG_SAVE);
						}, false);
					}

					/*  document.querySelector('.allBox').addEventListener('click', () => {
                          alert('allbox')
                      }, false);*/

					document.getElementById('delete').addEventListener('click', (e) => {
						let projectCnt = sessionStorage.getItem('LogsCnt')

						let tr = 0;
						// let fal = 0;
						for (var i = 0; i <= projectCnt-1; i++) {
							// let checkbox = document.querySelector('.checkbox_' + `${i}`).checked
							if (document.querySelector('.checkbox_' + `${i}`).checked === true) {
								tr+=1;
							} /*else {
                                fal+=1;
                                // func.alertPopup('DELETE', MSG_CHECK_TO_DELETE_ITEM, true, MSG_CONFIRM, 'closed');
                            }    */
						}

						if (tr > 0 ) {
							func.alertPopup('DELETE', MSG_CHECK_TO_DELETE, true, MSG_CONFIRM, logs.delete);
						} else if (tr === 0) {
							func.alertPopup('DELETE', MSG_CHECK_TO_DELETE_ITEM, true, MSG_CONFIRM, 'closed');
						}

					}, false);

				},

				delete() {
					let projectCnt = sessionStorage.getItem('logsCnt')
					for (var i = 0; i <= projectCnt-1; i++) {
						if (document.querySelector('.checkbox_' + `${i}`).checked === true) {
							var class_id = $('.checkbox_' + `${i}`).attr('id')

							// func.loadHarborData('GET', `${func.harborUrl}api/v2.0/users/current/permissions?scope=/project/`+ class_id +`&relative=true` + name, 'application/json', project.drawStatistics);
							// func.saveHarborData('DELETE', `${func.harborUrl}api/v2.0/projects/`+ class_id, '', true, 'application/json', func.historyBack);
						}
					}


				},

				listEvent(){
					var listAll = document.querySelector('.listTable').querySelectorAll('a');
					for(var i=0; i<=listAll.length-1; i++){
						listAll[i].addEventListener('click', (e) => {
							sessionStorage.setItem('commonName', e.target.getAttribute('data-id'));

							document.location.href = URI_KPS_HUB_IMAGE_REPOSITORY;
						}, true);
					}
				},
			};

			logs.init();
		}
	</script>
</th:block>
</html>