<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div id="content" class="sub-page clusters">
        <article class="location">
            <ul>
                <li><a onclick="movePage(URI_CP_CATALOG_REPOSITORIES)">Catalogs</a></li>
                <li><a onclick="movePage(URI_CP_CATALOG_RELEASES)">Releases</a></li>
            </ul>
        </article>
        <article class="base">
            <div class="creat">
                <h3 th:text="|Release #{M0861}|"></h3>
                <div>
                    <dl>
                        <div style="height:38px; line-height: 38px; width: 100%;">
                            <span id="chartCurrentVersionSpn" class="header-label"></span>
                            <span id="chartCurrentAppVersionSpn" class="header-label"></span>
                        </div>
                        <div id="chartInfoDiv" style="width:100%;height:80px;display:flex;">
                            <div id="chartIconDiv" style="width:6%; height:80%; line-height: 63px;"></div>
                            <div id="chartNameDiv" style="width:44%; font-size:20px; line-height: 65px;"></div>
                             <div style="width:50%; margin-top:-30px;">
                                 <dt><label for="chart_versions_sel">Chart Versions</label>&nbsp;<span class="info-label" th:text="#{M0903}"></span></dt>
                                 <dd class="chart_versions_dl">
                                     <fieldset>
                                         <select id="chart_versions_sel" style="font-size: 17px;">
                                         </select>
                                     </fieldset>
                                 </dd>
                             </div>
                            </div>
                    </dl>
                    <dl style="margin-top: 15px;">
                        <dd>
                            <div class="modal-pane-wrap">
                               <div class="modal-pane"><span class="title-label" th:text="#{M0908}"></span></div>
                                <div style="width:6%;"></div>
                                <div class="modal-pane"><span class="title-label" th:text="#{M0905}"></span>
                                    <span class="info-label" th:text="#{M0907}"></span>
                                    <span id="values_collapse" class="icon-pane">
                                    <img id="values_collapse_img" title="Expand Content" class="expand"/></span></div>
                            </div>
                            <div id="upgrade_values_view"></div>
                        </dd>
                    </dl>
                    <dl>
                        <dd>
                            <div class="modal-pane-wrap" style="height:unset; margin-top:40px;">
                                <div class="modal-pane-nw"><button type="button" id="render_template_btn" class="icon-pane2"></button></div>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dd>
                            <div class="modal-pane-wrap">
                                <div class="modal-pane"><span class="title-label" th:text="#{M0909}"></span></div>
                                <div style="width:6%;"></div>
                                <div class="modal-pane"><span class="title-label" th:text="#{M0910}"></span>
                                    <span class="info-label" th:text="#{M0911}"></span>
                                    <span id="manifest_collapse" class="icon-pane">
                                    <img id="manifest_collapse_img" title="Expand Content" class="expand"/></span></div>
                            </div>
                            <div id="upgrade_manifest_view"></div>
                        </dd>
                    </dl>
                </div>
            </div>
            <!-- btn -->
            <div class="btn02">
                <button onclick="historyBack()" th:text="#{M0028}"></button>
                <div>
                    <button type="submit" id="upgrade" th:text="#{M0861}"></button>
                </div>
            </div>
        </article>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript">
        window.onload = () => {
            func.init(ASIDE_DP1.CATALOGS, ASIDE_DP2.CATALOG_RELEASES);
            let valuesMgView, manifestMgView;
            let values_collapse = false, manifest_collapse = false;
            let relObj = JSON.parse(sessionStorage.getItem('releaseItem'));
            let el_render_template_btn = $("#render_template_btn");


            document.getElementById("render_template_btn").innerHTML = `${BTN_RENDER_CHART_TEMPLATE}&nbsp;&nbsp<i style="line-height: 27px !important;" class="fa fa-refresh fa-xs" aria-hidden="true"></i>`;
            const releases = {
                name : relObj.name,
                info : {},
                origValues : "",
                definedValues : "",
                origManifest : "",
                definedManifest : "",
                upgradeVersion : "",
                init() {
                    func.nameLoad = releases.reset;
                    releases.initValuesView("");
                    releases.initManifestView();
                    releases.load();
                    releases.event();
                },
                initValuesView(defVal){
                    let target = document.getElementById("upgrade_values_view");
                    target.innerHTML = ""
                    valuesMgView =  CodeMirror.MergeView(target, {
                        origLeft : releases.origValues, //orig
                        value: defVal,  //defined
                        revertButtons : false,
                        scrollbarStyle: "simple",
                        theme: "default",
                        mode: "text/x-yaml",
                        allowEditingOriginals: false,
                        highlightDifferences: true,
                        collapseIdentical: values_collapse,
                        lineNumbers: true,
                        lineWrapping: true,
                    });

                    resizeMergeView(valuesMgView, 500);
                },

                initManifestView(){
                    let target = document.getElementById("upgrade_manifest_view");
                    target.innerHTML = ""
                    manifestMgView =  CodeMirror.MergeView(target, {
                        origLeft : releases.origManifest, //orig
                        value: releases.definedManifest,  //defined
                        revertButtons : false,
                        scrollbarStyle: "simple",
                        theme: "default",
                        mode: "text/x-yaml",
                        allowEditingOriginals: false,
                        highlightDifferences: true,
                        collapseIdentical: manifest_collapse,
                        lineNumbers: true,
                        lineWrapping: true,
                        readOnly :true,
                    });

                    resizeMergeView(manifestMgView, 500);
                },

                load() {
                  func.loading();
                  func.loadData('GET', `${func.catalogUrl}/api/clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/releases/${relObj.name}?userDefined=false`, 'application/json', releases.draw);
                  func.loadData('GET', `${func.catalogUrl}/api/charts/${relObj.chart}/versions`,'application/json', releases.versions);
                  },

                draw(data){
                    let items = data.items;
                    releases.info = data.items;
                    let icon = (items.icon.length < 1) ? DEFAULT_ICON_PATH : items.icon;
                    document.getElementById("chartCurrentVersionSpn").innerText = `Chart Version : ${releases.info.chart}-${releases.info.chart_version}`;
                    document.getElementById("chartCurrentAppVersionSpn").innerText = `App Version : ${releases.info.app_version}`;
                    document.getElementById("chartNameDiv").innerText = items.name;
                    document.getElementById("chartIconDiv").innerHTML = `<img class="chart-logo02" src="${icon}" onerror="this.src='${DEFAULT_ICON_PATH}';"/>`;
                    releases.renderTemplateBtnInActive();
                },
                versions(data) {
                    let versions = data.items;
                    let html = ``;
                    for (let v of versions) {
                        if(relObj.home.length <1) {
                            if(releases.info.chart_version === v.version) {
                                html += `<option data-item="${v.name}" value="${v.version}">${v.name}@${v.version}&nbsp;&nbsp;(App Version ${v.app_version}) (current)</option>`;}
                            else {
                                html += `<option data-item="${v.name}" value="${v.version}">${v.name}@${v.version}&nbsp;&nbsp;(App Version ${v.app_version})</option>`;}
                        }
                        else {
                            if(relObj.home === v.home) {
                              if(releases.info.chart_version === v.version) {
                                 html += `<option data-item="${v.name}" value="${v.version}">${v.name}@${v.version}&nbsp;&nbsp;(App Version ${v.app_version}) (current)</option>`;}
                              else {
                                html += `<option data-item="${v.name}" value="${v.version}">${v.name}@${v.version}&nbsp;&nbsp;(App Version ${v.app_version})</option>`;}
                            }
                        }

                    }
                    func.appendHtml(document.getElementById('chart_versions_sel'), html, 'select');
                    $('#chart_versions_sel').val(releases.info.chart_version).prop("selected",true);
                    releases.initValues();

                    if(html.length < 1) {
                        func.alertPopup('ERROR', MSG_CHART_NOT_FOUND , true, MSG_CONFIRM, func.none);
                    }
                },

                initValues() {
                    releases.origValues = releases.info.values;
                    releases.definedValues = releases.info.values;
                    releases.origManifest = releases.info.manifest;
                    releases.definedManifest = releases.info.manifest;

                    releases.initValuesView(releases.definedValues);
                    releases.initManifestView();
                    if(document.getElementById('loading')){
                        document.getElementById('wrap').removeChild(document.getElementById('loading'));
                    };
                },

                initManifest(data) {
                    releases.definedManifest = data.items.manifest;
                    releases.initManifestView();
                    if(document.getElementById('loading')){
                        document.getElementById('wrap').removeChild(document.getElementById('loading'));
                    };
                },

                event(){
                    // values view keyup event
                    document.getElementById('upgrade_values_view').addEventListener('keyup', (e) => {
                        if(releases.definedValues === valuesMgView.editor().getValue()){
                            releases.renderTemplateBtnInActive();}
                        else {
                            releases.renderTemplateBtnActive();}
                    }, false);


                    //version change
                    document.getElementById('chart_versions_sel').addEventListener('change', (e) => {
                        func.loading();
                        releases.render_template();
                    }, false);

                    //values collapse
                    document.getElementById('values_collapse').addEventListener('click', (e) => {
                        values_collapse = !values_collapse;
                        func.isCollapse('values_collapse_img', values_collapse);
                        releases.initValuesView(valuesMgView.editor().getValue());
                    }, false);

                    //manifest collapse
                    document.getElementById('manifest_collapse').addEventListener('click', (e) => {
                        releases.definedManifest = manifestMgView.editor().getValue();
                        manifest_collapse = !manifest_collapse;
                        func.isCollapse('manifest_collapse_img', manifest_collapse);
                        releases.initManifestView();
                    }, false);

                    //render template
                    document.getElementById('render_template_btn').addEventListener('click', (e) => {
                        let currentDefinedValues = valuesMgView.editor().getValue();
                        if(releases.definedValues === currentDefinedValues) {
                            func.alertPopup('ALERT', MSG_NO_CHANGES_USER_SUPPLIED_VALUES, false, MSG_CLOSE, releases.reset());
                            return false;
                        }

                        func.loading();
                        releases.render_template();
                    }, false);

                    // upgrade release
                    document.getElementById('upgrade').addEventListener('click', (e) => {
                        //check namespace
                        if(sessionStorage.getItem('nameSpace').toLowerCase() === "all") {
                            func.alertPopup('ALERT', MSG_SELECTED_NAMESPACE_ALL, false, MSG_CLOSE, releases.reset());
                            return false;
                        }

                        // upgrade
                        func.alertPopup('UPGRADE', MSG_CHECK_TO_UPGRADE, true, MSG_CONFIRM, releases.upgrade);

                    }, false);
                },

                render_template() {
                    releases.definedValues = valuesMgView.editor().getValue();
                    releases.renderTemplateBtnInActive();
                    manifestMgView.editor().setValue("");

                    let sel_chart_el = $("#chart_versions_sel");
                    let sel_chart_ver = sel_chart_el.find(":selected").val();
                    let sel_chart_opt =sel_chart_el.find(':selected').attr('data-item');
                    let chart_data = sel_chart_opt.split('/');
                    let templateReleases = {
                        "repo" : chart_data[0],
                        "chart": chart_data[1],
                        "chart_version" : sel_chart_ver,
                        "values" : releases.definedValues,
                    };

                    func.dryRun('POST', `${func.catalogUrl}/api/clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/releases/${releases.info.name}?preview=true`, JSON.stringify(templateReleases), true, 'application/json', releases.initManifest);
                },

                upgrade(){
                    let sel_chart_el = $("#chart_versions_sel");
                    let sel_chart_ver = sel_chart_el.find(":selected").val();
                    let sel_chart_opt =sel_chart_el.find(':selected').attr('data-item');
                    let chart_data = sel_chart_opt.split('/');
                    let upgradeReleases = {
                        "repo" : chart_data[0],
                        "chart": chart_data[1],
                        "chart_version" : sel_chart_ver,
                        "values" : valuesMgView.editor().getValue()
                    };
                    func.saveData('PUT', `${func.catalogUrl}/api/clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/releases/${releases.info.name}`, JSON.stringify(upgradeReleases), true, 'application/json', releases.moveReleaseDetails);
                },

                reset(){
                  return false;
                },

                moveReleaseDetails() {
                    movePage(URI_CP_CATALOG_RELEASES + URI_CP_DETAILS);
                },

                renderTemplateBtnActive() {
                    el_render_template_btn.addClass("icon-pane2-active");
                    el_render_template_btn.attr("disabled", false);
                },
                renderTemplateBtnInActive() {
                    el_render_template_btn.removeClass("icon-pane2-active");
                    el_render_template_btn.attr("disabled", true);

                },
            }

            releases.init();
        }

    </script>
</th:block>
</html>