<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<aside th:fragment="asideFragment">
    <nav>
        <ul>
            <li class="plus" aside_d1="global" sec:authorize="hasAnyAuthority('SUPER_ADMIN', 'CLUSTER_ADMIN')">
                <a href="javascript:" class="dep01">Projects</a>
                <ul class="sub">
                    <li><a onclick="movePage(URI_CP_GLOBAL_CLUSTER)" aside_d2="clusters">Clusters</a></li>
                    <li><a onclick="movePage(URI_CP_GLOBAL_CLOUD_ACCOUNTS)" aside_d2="cloud_account">Cloud Accounts</a></li>
                    <li><a onclick="movePage(URI_CP_GLOBAL_INSTANCE_CODE_TEMPLATES)" aside_d2="instance_code_template">Instance Code Template</a></li>
                    <li><a onclick="movePage(URI_CP_GLOBAL_SSH_KEYS)" aside_d2="ssh_keys">SSH Keys</a></li>
                </ul>
            </li>
           <li class="plus" aside_d1="catalogs">
                <a href="javascript:" class="dep01">Catalogs</a>
                <ul class="sub">
                    <li><a onclick="movePage(URI_CP_CATALOG_REPOSITORIES)" aside_d2="catalog_repositories">Repositories</a></li>
                    <li><a onclick="movePage(URI_CP_CATALOG_RELEASES)" aside_d2="catalog_releases">Releases</a></li>
                </ul>
           </li>
        </ul>
    </nav>
</aside>

<aside th:fragment="globalAsideFragment">
    <nav>
        <ul>
            <li>
                <a href="#none" class="dep01">Global</a>
                <ul class="sub">
                </ul>
            </li>
            <li class="plus">
                <a href="javascript:" class="dep01">Management</a>
                <ul class="sub">
                    <li><a onclick="movePage(URI_CP_GLOBAL_CLUSTER)">Clusters</a></li>
                    <li><a onclick="movePage(URI_CP_GLOBAL_CLOUD_ACCOUNTS)">Cloud Accounts</a></li>
                    <li><a onclick="movePage(URI_CP_GLOBAL_INSTANCE_CODE_TEMPLATES)">Instance Code Template</a></li>
                    <li><a onclick="movePage(URI_CP_GLOBAL_SSH_KEYS)">SSH Keys</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>

</html>