<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<aside th:fragment="asideFragment">
    <nav>
        <ul>
            <li class="plus" aside_d1="images">
                <a href="javascript:" class="dep01">Images</a>
                <ul class="sub">
                    <li><a onclick="movePage(URI_CP_IMAGE_PROJECTS)" aside_d2="projects">Projects</a></li>
                </ul>
            </li>
           <li class="plus" aside_d1="catalogs">
                <a href="javascript:" class="dep01">Catalogs</a>
                <ul class="sub">
                    <li><a onclick="movePage(URI_CP_CATALOG_REPOSITORIES)" aside_d2="catalog_repositories">Repositories</a></li>
                </ul>
           </li>
            <li class="plus" aside_d1="catalogs">
                <a href="javascript:" class="dep01">Test</a>
                <ul class="sub">
                    <li><a onclick="movePage(URI_DASHBOARD)" aside_d2="dashboard">Dashboard</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>

</html>