<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<span th:fragment="configFragment">

    <script th:inline="javascript">

    // REQUEST API URI
    const URI_REQUEST_CP_API = [[${@environment.getProperty('cpApi.url')}]] + '/';
    const URI_REQUEST_CATALOG_API = [[${@environment.getProperty('catalogApi.url')}]];
    const URI_REQUEST_CHAOS_API = [[${@environment.getProperty('chaosApi.url')}]] + '/';
    const URI_REQUEST_HARBOR_API = [[${@environment.getProperty('harborApi.url')}]] + '/';
    const URI_REQUEST_HARBOR_DOMAIN = [[${@environment.getProperty('harborDomain.url')}]] + '/';

    // API URI
    var URI_CP_BASE_URL = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URI_CP_BASE_URL}]];

    var URI_CP_WORKLOADS_DEPLOYMENTS = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URI_CP_WORKLOADS_DEPLOYMENTS}]];
    var URI_CP_WORKLOADS_PODS = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URI_CP_WORKLOADS_PODS}]];
    var URI_CP_WORKLOADS_REPLICASETS = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URI_CP_WORKLOADS_REPLICASETS}]];

    var URI_CP_GLOBAL_CLUSTER = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URI_CP_GLOBAL_CLUSTERS}]];
    var URI_CP_GLOBAL_CLOUD_ACCOUNTS = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URI_CP_GLOBAL_CLOUD_ACCOUNTS}]];
    var URI_CP_GLOBAL_INSTANCE_CODE_TEMPLATES = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URI_CP_GLOBAL_INSTANCE_CODE_TEMPLATES}]];
    var URI_CP_GLOBAL_SSH_KEYS = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URI_CP_GLOBAL_SSH_KEYS}]];

    var URI_CP_IMAGE_PROJECTS = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URI_CP_IMAGE_PROJECTS}]];

    var URI_CP_ADD = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URI_CP_ADD}]];

    //catalog
    var URI_CP_CATALOG_CHARTS = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URI_CP_CATALOG_CHARTS}]];
    var URI_CP_CATALOG_INSTALL = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URI_CP_CATALOG_INSTALL}]];

    var URI_CP_CATALOG_REPOSITORIES = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URI_CP_CATALOG_REPOSITORIES}]];
    var URI_CP_CATALOG_RELEASES = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URI_CP_CATALOG_RELEASES}]];

    var URI_DASHBOARD = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URI_DASHBOARD}]];

    //사용자 로그인 데이터 조회
    var URI_CP_REFRESH_TOKEN = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URI_CP_REFRESH_TOKEN}]];

    var URI_CP_LOGOUT = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URI_CP_LOGOUT}]];

    var URL_API_LOCALE_LANGUAGE = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URL_API_LOCALE_LANGUAGE}]];
    var URL_API_CHANGE_LOCALE_PARAM = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URL_API_CHANGE_LOCALE_PARAM}]];
    var LANG_KO = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).LANG_KO}]];
    var LANG_EN = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).LANG_EN}]];

    var URI_API_SET_CLUSTER_AUTHORITY = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URI_API_SET_CLUSTER_AUTHORITY}]];

    var RESULT_STATUS_SUCCESS = [[${T(org.kps.pub.image.hub.ui.common.Constants).RESULT_STATUS_SUCCESS}]];
    var RESULT_STATUS_FAIL = [[${T(org.kps.pub.image.hub.ui.common.Constants).RESULT_STATUS_FAIL}]];

    //repository
    var URI_KPS_HUB_IMAGE_PROJECT = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URI_KPS_HUB_IMAGE_PROJECT}]];
    var URI_KPS_HUB_IMAGE_REPOSITORY = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URI_KPS_HUB_IMAGE_REPOSITORY}]];
    var URI_KPS_HUB_IMAGE_VULNERABILITY = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URI_KPS_HUB_IMAGE_VULNERABILITY}]];
    var URI_KPS_HUB_IMAGE_LOG = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URI_KPS_HUB_IMAGE_LOG}]];
    var URI_KPS_HUB_IMAGE_ARTIFACT = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URI_KPS_HUB_IMAGE_ARTIFACT}]];
    var URI_KPS_HUB_IMAGE_ARTIFACT_DETAIL = [[${T(org.kps.pub.image.hub.ui.common.ConstantsUrl).URI_KPS_HUB_IMAGE_ARTIFACT_DETAIL}]];

    // VALUE
    var NAMESPACE_ALL_VALUE ='ALL';

    var DEFAULT_ICON_PATH ="/img/helm-gray.svg";



    var MSG_WANT_TO_SIGN_OUT = [[#{M0015}]];
    var MSG_INTEGRATED_SIGN_OUT_TAKES_PLACE = [[#{M0016}]];
    var MSG_CHECK_TO_DELETE =  [[#{M0018}]];
    var MSG_CHECK_TO_DELETE_ITEM =  [[#{M0939}]];
    var MSG_ERROR_CAN_NOT_BE_DELETED = [[#{M0954}]];
    var MSG_CHECK_TO_INSTALL_CHART =  [[#{M0864}]];

    // MESSAGE PROPERTIES
    var MSG_CONFIRM = [[#{M0022}]];
    var MSG_CLOSE = [[#{M0023}]];
    var MSG_SAVE	= [[#{M0030}]];
    var MSG_SELECTED_NAMESPACE_ALL = [[#{M0843}]];
    var MSG_NEW_PROJECT = [[#{M0938}]];
    var MSG_ADD_TAG = [[#{M0953}]];

    // catalog
    const DEFAULT_CHART_REPO_NAME = [[${@environment.getProperty('catalog.default.repo.name')}]];
    const DEFAULT_CHART_REPO_URL = [[${@environment.getProperty('catalog.default.repo.url')}]];
    const DEFAULT_CHART_REPO_USERNAME = [[${@environment.getProperty('catalog.default.repo.username')}]];
    const DEFAULT_CHART_REPO_PASSWORD = [[${@environment.getProperty('catalog.default.repo.password')}]];
    const DEFAULT_CHART_REPO_CRT = [[${@environment.getProperty('catalog.default.repo.cert')}]];

    var MSG_REQUIRED_RELEASE_NAME = [[#{M0859}]];
    var MSG_REPO_CHART_UPDATE = [[#{M0856}]];
    var MSG_CHECK_TO_CLEAR_CACHE =  [[#{M0914}]];
    var MSG_CHECK_TO_CLEAR_CACHE_REPO_UPDATE =  [[#{M0915}]];
    var MSG_COMPLETED_CLEAR_CACHE = [[#{M0916}]];
    var MSG_FAILED_TO_UPDATE_REPO = [[#{M0917}]];
    var MSG_DEFAULT_REPO_ADD = [[#{M0924}]];
    var MSG_DONT_DSPL_DEFAULT_REPO_CHK = [[#{M0925}]];
    var MSG_DONT_DSPL_DEFAULT_REPO_CHK_DETAIL = [[#{M0926}]];

    var CURRENT_LOCALE_LANGUAGE = '';

    var IS_NAMELOAD = false;
    var IS_GLOBAL = false;
    var IS_INDEX = false;
    var IS_VCHK = false;
    var IS_SEARCH = false;
    var IS_TRAFFIC_POLICY_MANAGED = false;

    var CPU_UNIT = "m";
    var MEMORY_UNIT = "Mi";

    // Role
    var ROLE_PROJECT_ADMIN = "Project Admin"
    var ROLE_DEVELOPER = "Developer"
    var ROLE_GUEST = "Guest"
    var ROLE_MAINTAINER = "Maintainer"
    var ROLE_LIMITED_GUEST = "Limited Guest"

    // Access Level
    var ACCESS_LEVEL_PRIVATE = "Private";
    var ACCESS_LEVEL_PUBLIC = "Public"

    // Create Resources
    const MSG_ALLOW_TRAFFIC_BETWEEN_NAMESPACES_CHK =  [[#{M0936}]];
    const MSG_ALLOW_TRAFFIC_BETWEEN_NAMESPACES_DETAILS =  [[#{M0937}]];

    const MSG_DELETE_COMPLETED =  [[#{M0942}]];
    const MSG_CREATION_COMPLETED =  [[#{M0943}]];
    const MSG_ERROR =  [[#{M0944}]];

    const A_MOMENT_AGO = [[#{M0945}]];
    const UNIT_MINUTE_AGO = [[#{M0946}]];
    const UNIT_MINUTES_AGO = [[#{M0947}]];
    const UNIT_HOUR_AGO = [[#{M0948}]];
    const UNIT_HOURS_AGO = [[#{M0949}]];
    const UNIT_DAY_AGO = [[#{M0950}]];
    const UNIT_DAYS_AGO = [[#{M0951}]];

    /*]]>*/
    const TIMES = {
        MIN : 60,
        HOUR : 60*60,
        DAY : 60*60*24
    }


    var ASIDE_DP1 = {
        IMAGES : 'images',
        CATALOGS: 'catalogs',
    }

    var ASIDE_DP2 = {
        PROJECTS: 'projects',
        CATALOG_REPOSITORIES : 'catalog_repositories'
    }
</script>


<script>
 function movePage(locationName) {
     location.href = locationName;
 }

 function historyBack() {
     window.history.back();

 }

 function changeLocaleLanguage() {
     var u_locale_lang = document.getElementById("u_locale_lang").value;
     var reqUrl =  URL_API_LOCALE_LANGUAGE+"?"+ URL_API_CHANGE_LOCALE_PARAM + "=" + u_locale_lang;
     func.setLocaleLang(reqUrl);
 }

 function setSelectValue(id, val) {
     document.getElementById(id).value = val;
 }

 function reloadPage() {
     location.reload();
 }

 function callbackFuncNameLoad() {
     IS_NAMELOAD = true;
 }

 function isEmpty(str){
     if(typeof str == "undefined" || str == null || str == "")
         return true;
     else
         return false ;
 }

 function chunkString(str, length) {
     return str.match(new RegExp('.{1,' + length + '}', 'g'));
 }

 function resizeMergeView(mergeView,height) {
     if (mergeView.leftOriginal()) {
         mergeView.leftOriginal().setSize(null, height);
     }
     if (mergeView.rightOriginal()) {
         mergeView.rightOriginal().setSize(null, height);
     }

     mergeView.editor().setSize(null, height);
     mergeView.wrap.style.height = height + "px";

 }
 function setLocalStorageItem(key,value){
     localStorage.setItem(key,value);
 }
 function getLocalStorageItem(key){
     return localStorage.getItem(key);
 }

</script>
</span>

</html>