<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<span th:fragment="configFragment">

    <script th:inline="javascript">

    // REQUEST API URI
    const URI_REQUEST_CP_API = [[${@environment.getProperty('cpApi.url')}]] + '/';
    const URI_REQUEST_CATALOG_API = [[${@environment.getProperty('catalogApi.url')}]];
    const URI_REQUEST_CHAOS_API = [[${@environment.getProperty('chaosApi.url')}]] + '/';

     // API URI
     var URI_CP_BASE_URL = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_BASE_URL}]];
     var URI_CP_INDEX_URL = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_INDEX_URL}]];
     var URI_CP_CLUSTERS_NAMESPACES = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_CLUSTERS_NAMESPACES}]];
     var URI_CP_CLUSTERS_NODES = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_CLUSTERS_NODES}]];

     var URI_CP_WORKLOADS_DEPLOYMENTS = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_WORKLOADS_DEPLOYMENTS}]];
     var URI_CP_WORKLOADS_PODS = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_WORKLOADS_PODS}]];
     var URI_CP_WORKLOADS_REPLICASETS = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_WORKLOADS_REPLICASETS}]];

     var URI_CP_SERVICES_SERVICES = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_SERVICES_SERVICES}]];
     var URI_CP_SERVICES_INGRESSES = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_SERVICES_INGRESSES}]];

     var URI_CP_STORAGES_STORAGECLASSES = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_STORAGES_STORAGECLASSES}]];
     var URI_CP_STORAGES_PERSISTENTVOLUMES = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_STORAGES_PERSISTENTVOLUMES}]];
     var URI_CP_STORAGES_PERSISTENTVOLUMECLAIMS = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_STORAGES_PERSISTENTVOLUMECLAIMS}]];

     var URI_CP_MANAGEMENTS_LIMITRANGES = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_MANAGEMENTS_LIMITRANGES}]];
     var URI_CP_MANAGEMENTS_RESOURCEQUOTAS = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_MANAGEMENTS_RESOURCEQUOTAS}]];
     var URI_CP_MANAGEMENTS_ROLES = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_MANAGEMENTS_ROLES}]];
     var URI_CP_MANAGEMENTS_USERS = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_MANAGEMENTS_USERS}]];
     var URI_CP_MANAGEMENTS_USERS_ADMIN = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_MANAGEMENTS_USERS_ADMIN}]];
     var URI_CP_MANAGEMENTS_INACTIVE_USERS = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_MANAGEMENTS_INACTIVE_USERS}]];

     var URI_CP_CONFIGS_CONFIGMAPS = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_CONFIGS_CONFIGMAPS}]];
     var URI_CP_CONFIGS_SECRETS = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_CONFIGS_SECRETS}]];
     var URI_CP_CONFIGS_VAULT_SECRETS = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_CONFIGS_VAULT_SECRETS}]];

     var URI_CP_CHAOS_EXPERIMENTS = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_CHAOS_EXPERIMENTS}]];
     var URI_CP_CHAOS_EVENTS = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_CHAOS_EVENTS}]];


     var URI_CP_INFO_ACCESS = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_INFO_ACCESS}]];
     var URI_CP_INFO_PRIVATE_REPOSITORY = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_INFO_PRIVATE_REPOSITORY}]];

     var URI_CP_GLOBAL_CLUSTER = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_GLOBAL_CLUSTERS}]];
     var URI_CP_GLOBAL_CLOUD_ACCOUNTS = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_GLOBAL_CLOUD_ACCOUNTS}]];
     var URI_CP_GLOBAL_INSTANCE_CODE_TEMPLATES = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_GLOBAL_INSTANCE_CODE_TEMPLATES}]];
     var URI_CP_GLOBAL_SSH_KEYS = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_GLOBAL_SSH_KEYS}]];

     var URI_CP_LIST = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_LIST}]];
     var URI_CP_DETAILS = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_DETAILS}]];
     var URI_CP_VAULT_DETAILS = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_VAULT_DETAILS}]];
     var URI_CP_CREATE = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_CREATE}]];
     var URI_CP_UPDATE = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_UPDATE}]];
     var URI_CP_LOGS = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_LOGS}]];
     var URI_CP_POPUP = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_POPUP}]];
     var URI_CP_ADD = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_ADD}]];
     var URI_CP_UPGRADE = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_UPGRADE}]];

     //catalog
     var URI_CP_CATALOG_CHARTS = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_CATALOG_CHARTS}]];
     var URI_CP_CATALOG_INSTALL = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_CATALOG_INSTALL}]];

     var URI_CP_CATALOG_REPOSITORIES = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_CATALOG_REPOSITORIES}]];
     var URI_CP_CATALOG_RELEASES = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_CATALOG_RELEASES}]];

     //사용자 로그인 데이터 조회
     var URI_CP_GET_USER_LOGIN_DATA =  [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_GET_USER_LOGIN_DATA}]];
     var URI_CP_REFRESH_TOKEN = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_REFRESH_TOKEN}]];

     var URI_CP_LOGOUT = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_CP_LOGOUT}]];

     var URL_API_LOCALE_LANGUAGE = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URL_API_LOCALE_LANGUAGE}]];
     var URL_API_CHANGE_LOCALE_PARAM = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URL_API_CHANGE_LOCALE_PARAM}]];
     var LANG_KO = [[${T(org.container.platform.web.ui.common.ConstantsUrl).LANG_KO}]];
     var LANG_EN = [[${T(org.container.platform.web.ui.common.ConstantsUrl).LANG_EN}]];

     var URI_API_SET_CLUSTER_AUTHORITY = [[${T(org.container.platform.web.ui.common.ConstantsUrl).URI_API_SET_CLUSTER_AUTHORITY}]];


     var RESULT_STATUS_SUCCESS = [[${T(org.container.platform.web.ui.common.Constants).RESULT_STATUS_SUCCESS}]];
     var RESULT_STATUS_FAIL = [[${T(org.container.platform.web.ui.common.Constants).RESULT_STATUS_FAIL}]];

     // VALUE
     var NAMESPACE_ALL_VALUE ='ALL';

     var AUTH_SUPER_ADMIN = "SUPER_ADMIN";
     var AUTH_CLUSTER_ADMIN = "CLUSTER_ADMIN";
     var AUTH_USER = "USER";

     var AUTH_SUPER_ADMIN_CG = "Super Admin";
     var AUTH_CLUSTER_ADMIN_CG = "Cluster Admin";
     var AUTH_USER_CG = "User";


     var AUTH_ADMIN_LST =[AUTH_SUPER_ADMIN, AUTH_CLUSTER_ADMIN];
     var DEFAULT_ICON_PATH ="/img/helm-gray.svg";



     var SELECTED_ADMINISTRATOR = "administrator";
     var SELECTED_USER = "user";

     //GLOBAL
     const MASKED_DATA = "*********************";

     // NAMESPACE PROPERTIES
     var MSG_ENTER_THE_NAMESPACE = [[#{M0010}]];
     var MSG_NO_LIST = 	[[#{M0011}]];
     var MSG_NO_NAMESPACE_ADMINISTRATOR	= [[#{M0012}]];
     var MSG_CANNOT_SELECT_SAME_NAMESPACE =  [[#{M0013}]];
     var MSG_WANT_TO_SIGN_OUT = [[#{M0015}]];
     var MSG_INTEGRATED_SIGN_OUT_TAKES_PLACE = [[#{M0016}]];
     var MSG_ENTER_SEARCH_WORD = [[#{M0017}]];
     var MSG_CHECK_TO_DELETE =  [[#{M0018}]];
     var MSG_VAULT_TO_DELETE =  [[#{M0934}]];
     var MSG_CHECK_TO_REMOVE =  [[#{M0931}]];
     var MSG_CHECK_TO_SAVE =  [[#{M0020}]];
     var MSG_CHECK_TO_ROLLBACK =  [[#{M0863}]];
     var MSG_CHECK_TO_INSTALL_CHART =  [[#{M0864}]];
     var MSG_CHECK_TO_UPGRADE =  [[#{M0912}]];
     var MSG_NO_CHANGES_USER_SUPPLIED_VALUES = [[#{M0900}]];
     var MSG_USER_SUPPLIED_VALUES =  [[#{M0905}]];
     var BTN_RENDER_CHART_TEMPLATE = [[#{M0901}]];

     //INGRESS PROPERTIES
     var MSG_NO_NAMESPACE = [[#{M0816}]];
     var ADD_PATH = [[#{M0817}]];
     var ADD_RULE = [[#{M0818}]];
     var DELETE_RULE = [[#{M0819}]];

     //SECRET PROPERTIES
     var DELETE_DATA = [[#{M0920}]];

     // MESSAGE PROPERTIES
     var MSG_CONFIRM = [[#{M0022}]];
     var MSG_CLOSE = [[#{M0023}]];
     var MSG_CREATE	= [[#{M0024}]];
     var MSG_EDIT = [[#{M0025}]];
     var MSG_DELETE	= [[#{M0026}]];
     var MSG_SELECT	= [[#{M0027}]];
     var MSG_PREVIOUS = [[#{M0028}]];
     var MSG_CANCEL	= [[#{M0029}]];
     var MSG_SAVE	= [[#{M0030}]];
     var MSG_SEARCH	= [[#{M0031}]];
     var MSG_UPDATE	= [[#{M0032}]];
     var MSG_SELECTION_COMPLETE	= [[#{M0033}]];
     var MSG_CONFIRM_DELETION	= [[#{M0034}]];
     var MSG_CONFIRM_SAVE = [[#{M0035}]];
     var MSG_PAAS_TA_LOGO = [[#{M0036}]];
     var MSG_INVALID_FORMAT = "형식이 올바르지 않습니다.";
     var MSG_SELECTED_NAMESPACE_ALL = [[#{M0843}]];
     var MSG_REQUEST_VALUE_IS_MISSING = [[#{M0844}]];
     var MSG_POSTGRESQL_HELM_INSTALL = [[#{M0923}]];
     var MSG_APPLICATION_MAPPING = [[#{M0935}]];

     var MSG_SIGN_OUT = [[#{M0809}]];

     // catalog
    const DEFAULT_CHART_REPO_NAME = [[${@environment.getProperty('catalog.default.repo.name')}]];
    const DEFAULT_CHART_REPO_URL = [[${@environment.getProperty('catalog.default.repo.url')}]];
    const DEFAULT_CHART_REPO_USERNAME = [[${@environment.getProperty('catalog.default.repo.username')}]];
    const DEFAULT_CHART_REPO_PASSWORD = [[${@environment.getProperty('catalog.default.repo.password')}]];
    const DEFAULT_CHART_REPO_CRT = [[${@environment.getProperty('catalog.default.repo.cert')}]];

     var MSG_REQUIRED_RELEASE_NAME = [[#{M0859}]];
     var MSG_REPO_CHART_UPDATE = [[#{M0856}]];
     var MSG_REPO_CHART_ROLLBACK = [[#{M0862}]];
     var MSG_CHECK_TO_CLEAR_CACHE =  [[#{M0914}]];
     var MSG_CHECK_TO_CLEAR_CACHE_REPO_UPDATE =  [[#{M0915}]];
     var MSG_COMPLETED_CLEAR_CACHE = [[#{M0916}]];
     var MSG_FAILED_TO_UPDATE_REPO = [[#{M0917}]];
     var MSG_CHART_NOT_FOUND = [[#{M0918}]];
     var MSG_DEFAULT_REPO_ADD = [[#{M0924}]];
     var MSG_DONT_DSPL_DEFAULT_REPO_CHK = [[#{M0925}]];
     var MSG_DONT_DSPL_DEFAULT_REPO_CHK_DETAIL = [[#{M0926}]];

     var CURRENT_LOCALE_LANGUAGE = '';

     var IS_RELOAD = false;
     var IS_NAMELOAD = false;
     var IS_GLOBAL = false;
     var IS_INDEX = false;
     var IS_VCHK = false;
     var IS_SEARCH = false;
     var IS_TRAFFIC_POLICY_MANAGED = false;

     // COPY PROPERTIES
     var COPY_TEXT = [[#{M0071}]];
     var UNCOPY_TEXT = [[#{M0072}]];
     var ALERT = [[#{M0073}]];

     var CPU_UNIT = "m";
     var MEMORY_UNIT = "Mi";

     //CLUSTERS
     var MSG_CLUSTER_STATUS_UNABLE_CHECK =  [[#{M0846}]];
     var MSG_CLUSTER_STATUS_CREATION_COMPLETED =  [[#{M0847}]];
     var MSG_CLUSTER_STATUS_CREATING =  [[#{M0848}]];

     var MSG_DAYS =  [[#{M0830}]];
     var MSG_HOURS =  [[#{M0831}]];
     var MSG_MINS =  [[#{M0832}]];
     var MSG_SECS =  [[#{M0833}]];
     var MSG_AGO =  [[#{M0834}]];

     // CHAOS
     const NAMESPACESELECT = [[#{M0869}]];
     const LABELSELECT = [[#{M0870}]];
     const CHAOS_NAMESPACE = [[#{M0874}]];
     const CHAOS_TOKEN = [[${@environment.getProperty('chaos.token')}]];
     const MSG_ENTER_NAME = [[#{M0879}]];
     const MSG_INVALID_NAME_ = [[#{M0880}]];
     const MSG_SELECT_NAMESPACE = [[#{M0881}]];
     const MSG_SELECT_NAMESPACESELECTOR = [[#{M0882}]];
     const MSG_SELECT_LABELSELECTOR = [[#{M0883}]];
     const MSG_SELECT_TARGET_POD = [[#{M0884}]];
     const MSG_EMPTY_LATENCY = [[#{M0885}]];
     const MSG_INVALID_LATENCY = [[#{M0886}]];
     const MSG_EMPTY_DURATION = [[#{M0898}]];
     const MSG_SELECT_LATENCY_UNIT = [[#{M0887}]];
     const MSG_INVALID_DURATION = [[#{M0888}]];
     const MSG_SELECT_DURATION_UNIT = [[#{M0889}]];
     const MSG_SELECT_DURATION_HOUR_LIMIT = [[#{M0897}]];
     const MSG_ENTER_STRESSORS = [[#{M0891}]];
     const MSG_INVALID_CPU_WORKERS = [[#{M0892}]];
     const MSG_INVALID_MEMORY_WORKERS = [[#{M0893}]];
     const MSG_INVALID_CPU_LOAD = [[#{M0894}]];
     const MSG_INVALID_MEMORY_SIZE = [[#{M0895}]];
     const MSG_SELECT_MEMORY_SIZE_UNIT = [[#{M0896}]];
     const MSG_OVER_SELECTED_PODS = [[#{M0899}]];
     const MSG_NO_METRIC_LESS_30SECONDS = [[#{M0922}]];
     const MSG_NO_METRIC_OVER_6PODS = [[#{M0927}]];
     const MSG_UNABLE_CHAOS = [[#{M0928}]];

    // Create Resources
    const MSG_ALLOW_TRAFFIC_BETWEEN_NAMESPACES_CHK =  [[#{M0936}]];
    const MSG_ALLOW_TRAFFIC_BETWEEN_NAMESPACES_DETAILS =  [[#{M0937}]];

    const ALLOW_TRAFFIC_RESOURCES = ["deployments", "replicaSets", "pods"];

     // GUIDE LINK
     /*<![CDATA[*/
     const USER_GUIDE = [[#{M0866}]];
     const PLAYPARK_USAGE_GUIDE = [[#{M0867}]];


     const GUIDE_URL = [[${@environment.getProperty('guide.url')}]];
     const GUIDE_URL_ENG = [[${@environment.getProperty('guide.url-eng')}]];
     const GUIDE_URL_PLAYPARK = [[${@environment.getProperty('guide.url-playpark')}]];
     const GUIDE_NAME = [[${@environment.getProperty('guide.name')}]];

     /*]]>*/
     const TIMES = {
         MIN : 60,
         HOUR : 60*60,
         DAY : 60*60*24
     }


     var ASIDE_DP1 = {
         GLOBAL : 'global',
         CLUSTERS: 'clusters',
         CATALOGS: 'catalogs',
         WORKLOADS: 'workloads',
         SERVICES: 'services',
         STORAGES: 'storages',
         CONFIGS: 'configs',
         MANAGEMENTS: 'managements',
         CHAOS: 'chaos',
         INFO: 'info'
     }

     var ASIDE_DP2 = {
         G_OVERVIEW : 'g_overview',
         CLUSTERS: 'clusters',
         CLOUD_ACCOUNT: 'cloud_account',
         INSTANCE_CODE_TEMPLATE : 'instance_code_template',
         C_OVERVIEW : 'c_overview',
         NODES: 'nodes',
         NAMESPACES: 'namespaces',
         SSH_KEYS : 'ssh_keys',
         CATALOG_REPOSITORIES : 'catalog_repositories',
         CATALOG_RELEASES : 'catalog_releases',
         DEPLOYMENTS: 'deployments',
         PODS: 'pods',
         REPLICASETS: 'replicasets',
         SERVICES: 'services',
         INGRESSES: 'ingresses',
         PERSISTENT_VOLUMES: 'persistent_volumes',
         PERSISTENT_VOLUME_CLAIMS: 'persistent_volume_claims',
         STORAGE_CLASSES: 'storage_classes',
         USERS: 'users',
         ROLES: 'roles',
         RESOURCE_QUOTAS: 'resource_quotas',
         LIMIT_RANGES: 'limit_ranges',
         CONFIGMAPS: 'configmaps',
         SECRETS: 'secrets',
         EXPERIMENTS: 'experiments',
         EVENTS: 'events',
         ACCESS: 'access',
         PRIVATE_REPOSITORY: 'private_repository'
     }
</script>


<script>
 function movePage(locationName) {
     location.href = locationName;
 }

 function historyBack() {
     window.history.back();

 }

 function convertUserTypeString(userType) {
     if(userType == AUTH_SUPER_ADMIN) {
         return AUTH_SUPER_ADMIN_CG;
     }
     else if(userType == AUTH_CLUSTER_ADMIN) {
         return AUTH_CLUSTER_ADMIN_CG;
     }
     else {
         return AUTH_USER_CG;
     }
 }

 function changeLocaleLanguage() {
     var u_locale_lang = document.getElementById("u_locale_lang").value;
     var reqUrl =  URL_API_LOCALE_LANGUAGE+"?"+ URL_API_CHANGE_LOCALE_PARAM + "=" + u_locale_lang;
     func.setLocaleLang(reqUrl);
 }

 function activeEdit(id, buttonId) {
     document.getElementById(id).readOnly = false;
     document.getElementById(buttonId).style.display = 'none';
 }

 function setSelectValue(id, val) {
     document.getElementById(id).value = val;
 }

 function reloadPage() {
     location.reload();
 }

 function callbackFuncNameLoad() {
     /*  var items = document.querySelectorAll('.scroll02');
        for (var i = 0, len = items.length; i < len; i++) {
             items[i].classList.toggle('hidden', isHidden);
        }*/
     IS_NAMELOAD = true;

 }

 function isEmpty(str){
     if(typeof str == "undefined" || str == null || str == "")
         return true;
     else
         return false ;
 }

 function chunkString(str, length) {
     return str.match(new RegExp('.{1,' + length + '}', 'g'));
 }

 function resizeMergeView(mergeView,height) {
     if (mergeView.leftOriginal()) {
         mergeView.leftOriginal().setSize(null, height);
     }
     if (mergeView.rightOriginal()) {
         mergeView.rightOriginal().setSize(null, height);
     }

     mergeView.editor().setSize(null, height);
     mergeView.wrap.style.height = height + "px";

 }
 function setLocalStorageItem(key,value){
     localStorage.setItem(key,value);
 }
 function getLocalStorageItem(key){
     return localStorage.getItem(key);
 }

 function generatedGuideLink(lang,name){
     if(lang === 'ko') {
         return GUIDE_URL + GUIDE_NAME.replace('{}',name);
     }
     else return GUIDE_URL_ENG + GUIDE_NAME.replace('{}',name);
 }

function createWorkloadResources(resources) {
     func.loadData('GET', `${func.url}clusters/${sessionStorage.getItem('cluster')}/namespaces/checkTrafficPolicyManaged`, 'application/json', isTrafficPolicyManaged);
     function isTrafficPolicyManaged(data) {
         if(data.resultMessage === "true") {
             IS_TRAFFIC_POLICY_MANAGED = true;
         }
         func.create('Create', resources, MSG_SAVE);
     }
 }

</script>
</span>

</html>