<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<div layout:fragment="content" class="article">
	<div id="content" class="sub-page">
		<article class="location">
			<ul>
				<li><a onclick="movePage(URI_CP_BASE_URL)">Images</a></li>
				<li><a onclick="movePage(URI_KPS_HUB_IMAGE_PROJECT)">Projects</a></li>
				<li><a id="moveRepository"></a></li>
			</ul>
			<ul class="title">
				<span id="title"></span>
			</ul>
		</article>
		<article class="base-pro base tab-cont-wrap">
			<div class="notice">
				<div class="table_style01">
					<table>
						<caption>Artifacts List</caption>
							<colgroup >
								<col width="4%" />
								<col width="16%" />
								<col width="3%" />
								<col width="13%" />
								<col width="10%" />
								<col width="10%" />
								<col width="16%" />
								<col width="13%" />
								<col width="15%" />
							</colgroup>
						<thead>
							<tr>
								<th scope="col"><input type="checkbox" name="all-artifacts" id="all-artifacts"><label for="all-artifacts" style="padding-left: 27px; position: relative; cursor: pointer;"></label></th>
								<th scope="col">Artifacts</th>
								<th scope="col" style="border-left: 0"></th>
								<th scope="col">Tags</th>
								<th scope="col">Signed</th>
								<th scope="col">Size</th>
								<th scope="col">Vulnerabilities</th>
								<th scope="col">Labels</th>
								<th scope="col">Push Time</th>
							</tr>
						</thead>
						<tbody class="listTable">
						</tbody>
					</table>
				</div>
				<a href="javascript:" id="delete" class="delete" style="top: -4px;" th:text="#{M0026}" ></a>
			</div>
		</article>
	</div>
</div>
<th:block layout:fragment="script">
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"></script>-->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
	<script type="text/javascript">
		window.onload = () => {

			IS_GLOBAL = true;
			func.init(ASIDE_DP1.IMAGES, ASIDE_DP2.PROJECTS);

			const artifacts = {
				offset: 0,
				limit: 10,
				allItemCount: 0,
				type: 'administrator',

				init() {
					func.nameLoad = artifacts.reset;

					let imageName = sessionStorage.getItem('imageName');
					document.getElementById('title').innerHTML = imageName.replaceAll("%252F", "/")
					document.getElementById('moveRepository').innerHTML = sessionStorage.getItem('repositoryName');

					artifacts.load();

					artifacts.event();
				},

				reset() {
					func.removeHtml(document.querySelector('.listTable'));
					artifacts.offset = 0;
					artifacts.load();
				},

				load() {
					func.loading();

					func.loadHarborData('GET', `${func.harborUrl}api/v2.0/projects/${sessionStorage.getItem('repositoryName')}/repositories/${sessionStorage.getItem('imageName')}/artifacts?with_tag=true&with_scan_overview=true&with_sbom_overview=true&with_label=true&with_accessory=true&&page=1&page_size=-1`, 'application/json', artifacts.drawArtifacts);
				},

				drawArtifacts(data) {

					let html;
					let changeScanOverview3 = [];
					if (data.length > 0) {
						for (var i = 0; i <= data.length - 1; i++) {

							if (data[i].scan_overview != null) {
								let originScanOverview = JSON.stringify(data[i].scan_overview)
								let changeScanOverview1 = originScanOverview.replace('{"application/vnd.security.vulnerability.report; version=1.1":','')
								let changeScanOverview2 = changeScanOverview1.slice(0, -1)
								let obj = JSON.parse(changeScanOverview2)
								obj["id"] = data[i].id
								changeScanOverview3.push(obj)
							}
						}
					}

					sessionStorage.setItem('artifactsCnt', data.length);
					if (data.length > 0) {
						for (var i = 0; i <= data.length - 1; i++) {

							let digest = data[i].digest.substr(0,15)
							let push_time = func.changeTime(data[i].push_time)
							let size = func.formatBytes(data[i].size, 2);
							let tag = '';

							if (data[i].tags !== null) {
								for (var j = 0; j <= data[i].tags.length - 1; j++) {
									tag += data[i].tags[j].name + ', '
								}
							}

							html = `<tr>
                                        <td style="border-right:1px solid #ebebeb"><input type="checkbox" name="${data[i].digest}" id="${data[i].id}" class="checkbox_${i}"/><label for="${data[i].id}" style="padding-left: 27px; position: relative; cursor: pointer;"></label></td>
                                        <td class="left"><img id="digest_img_${i}" alt="artifact image" style="width: 8%; margin-right: 5px;"><a id="digest_name_${i}" class="name" href="javascript:;" data-id="${data[i].digest}" data-type="${data[i].type}" style="text-decoration: none; color: #019b72;"></a></td>
                                        <td><i id="copy_id_${i}" class="fa-sharp fa-regular fa-copy fa-lg copyBtn" style="cursor: pointer; color: #adadad;" onclick="copyClick(event)"></i></td>
                                        <td id="tag_id_${i}"></td>
                                        <td><i class="fa-solid fa-circle-xmark" style="color: #ff5353"></i></td>
                                        <td id="size_id_${i}"></td>
                                        <td class="tooltip_container"><p id="tooltip_text_${i}" class="tooltip-text"></p><div id="scan_overview_severity_id_${i}"></div><div id="scan_overview_id_${i}"></div>
                                        <div id="tooltip_chart_${i}" class="tooltip-text" data-id="${data[i].id}">Vulnerability severity: <span id="vul_type_${i}"></span><canvas id="myChart_${i}" width="250px" height="130px"></canvas>
										<ul style="font-size: 14px; text-align: left;"><li>Scanned by: <span id="scan_${i}"></span>@<span id="ver_${i}"></span></li><li>Duration: <span id="dur_${i}"></li><li>Scan completed time: <scan id="end_time_${i}"></scan></li></ul>
                                        </div></td>
                                        <td>${data[i].pull_count}</td>
                                        <td id="push_time_${i}">push_time</td>
                                    </tr>`;


							func.appendHtml(document.querySelector('.listTable'), html, 'tbody');

							document.getElementById("digest_name_" + i).innerText = digest;
							document.getElementById("push_time_" + i).innerText = push_time;
							document.getElementById("tag_id_" + i).innerText = tag.slice(0, - 2);
							document.getElementById("size_id_" + i).innerText = size;

							if (data[i].type === 'IMAGE') {
								document.getElementById("copy_id_" + i).setAttribute('data-id', 'docker pull ' + func.harborDomain.replace('https://', '') + data[i].repository_name + '@' + data[i].digest)
							} else if (data[i].type === 'CHART') {
								document.getElementById("copy_id_" + i).setAttribute('data-id', 'helm pull ' + func.harborDomain.replace('https', 'oci') + data[i].repository_name + ' --version ' + data[i].tags[0].name)
							}

							for (var k = 0; k <= changeScanOverview3.length - 1; k++) {
								let vulnerabilitiesData = func.vulnerabilitiesData(changeScanOverview3[k])
								if (data[i].scan_overview != null && data[i].id === vulnerabilitiesData.id) {

									if (vulnerabilitiesData.severity === 'High') {
										document.getElementById("scan_overview_severity_id_" + i).setAttribute('style', 'border-radius: 10px; background: #ff8f3d; float: left; margin-left: 25px; width: 50px; color: #ffffff; cursor: pointer;')
										document.getElementById("tooltip_text_" + i).innerText = 'Vulnerability severity: High';
										document.getElementById("tooltip_text_" + i).setAttribute('style', 'position: absolute; top: 17px; z-index: 1; background: #000000; padding: 8px;  font-size: 1rem; color: #fff; border-radius: 2px; animation: fadeIn 0.6s; margin-left: -177px;')
										document.getElementById("vul_type_" + i).innerText = 'High';
										document.getElementById("vul_type_" + i).setAttribute('style', 'color: #ff8f3d');
									} else if (vulnerabilitiesData.severity === 'Medium') {
										document.getElementById("scan_overview_severity_id_" + i).setAttribute('style', 'border-radius: 10px; background: #ffce66; float: left; margin-left: 20px; width: 65px; color: #ffffff; cursor: pointer;')
										document.getElementById("tooltip_text_" + i).innerText = 'Vulnerability severity: Medium';
										document.getElementById("tooltip_text_" + i).setAttribute('style', 'position: absolute; top: 17px; z-index: 1; background: #000000; padding: 8px;  font-size: 1rem; color: #fff; border-radius: 2px; animation: fadeIn 0.6s; margin-left: -207px;')
										document.getElementById("vul_type_" + i).innerText = 'Medium';
										document.getElementById("vul_type_" + i).setAttribute('style', 'color: #ffce66');
									} else if (vulnerabilitiesData.severity === 'Low') {
										document.getElementById("scan_overview_severity_id_" + i).setAttribute('style', 'border-radius: 10px; background: #fff1ad; float: left; margin-left: 25px; width: 50px; color: #ffffff; cursor: pointer;')
										document.getElementById("tooltip_text_" + i).innerText = 'Vulnerability severity: Low';
										document.getElementById("tooltip_text_" + i).setAttribute('style', 'position: absolute; top: 17px; z-index: 1; background: #000000; padding: 8px;  font-size: 1rem; color: #fff; border-radius: 2px; animation: fadeIn 0.6s; margin-left: -175px;')
										document.getElementById("vul_type_" + i).innerText = 'Low';
										document.getElementById("vul_type_" + i).setAttribute('style', 'color: #fff1ad');
									} else if (vulnerabilitiesData.severity === 'None') {
										document.getElementById("scan_overview_severity_id_" + i).setAttribute('style', 'border-radius: 10px; background: #808080; float: left; margin-left: 25px; width: 50px; color: #ffffff; cursor: pointer;')
										document.getElementById("tooltip_text_" + i).innerText = 'Vulnerability severity: None';
										document.getElementById("tooltip_text_" + i).setAttribute('style', 'position: absolute; top: 17px; z-index: 1; background: #000000; padding: 8px;  font-size: 1rem; color: #fff; border-radius: 2px; animation: fadeIn 0.6s; margin-left: -177px;')
										document.getElementById("vul_type_" + i).innerText = 'None';
										document.getElementById("vul_type_" + i).setAttribute('style', 'color: #c5c5c5');
									} else if (vulnerabilitiesData.severity === 'Critical') {
										document.getElementById("scan_overview_severity_id_" + i).setAttribute('style', 'border-radius: 10px; background: #FF4D2E; float: left; margin-left: 20px; width: 65px; color: #ffffff; cursor: pointer;')
										document.getElementById("tooltip_text_" + i).innerText = 'Vulnerability severity: Critical';
										document.getElementById("tooltip_text_" + i).setAttribute('style', 'position: absolute; top: 17px; z-index: 1; background: #000000; padding: 8px;  font-size: 1rem; color: #fff; border-radius: 2px; animation: fadeIn 0.6s; margin-left: -207px;')
										document.getElementById("vul_type_" + i).innerText = 'Critical';
										document.getElementById("vul_type_" + i).setAttribute('style', 'color: #FF4D2E');
									}

									document.getElementById("scan_overview_severity_id_" + i).innerText = vulnerabilitiesData.severity;
									document.getElementById("scan_overview_id_" + i).setAttribute('style', 'cursor: pointer;')
									if (vulnerabilitiesData.total === "0 Total - 0 Fixable") {
										document.getElementById("tooltip_chart_" + i).setAttribute('style', 'position: absolute; top: 17px; z-index: 1; background: #000000; padding: 8px;  font-size: 1rem; color: #fff; border-radius: 2px; animation: fadeIn 0.6s; margin-left: 240px; width: 250px; height: 130px')
										document.getElementById("scan_overview_id_" + i).innerText = "No vulnerability";
										document.getElementById("scan_overview_id_" + i).setAttribute('style', 'cursor: pointer; background-color: #2ec0ff; width: 50%; display: inline-block; color: #ffffff;')
										document.getElementById("scan_overview_severity_id_" + i).setAttribute('style', 'border-radius: 10px; background: #808080; float: left; margin-left: 25px; width: 50px; color: #ffffff; cursor: pointer; display: none')
									} else {
										document.getElementById("scan_overview_id_" + i).innerText = vulnerabilitiesData.total
									}

									if (data[i].type === 'IMAGE') {
										document.getElementById("digest_img_" + i).setAttribute('src', '/img/artifact-image.png')
										document.getElementById("digest_img_" + i).setAttribute('style', 'width: 10%; margin-right: 5px;')
									} else if (data[i].type === 'CHART') {
										document.getElementById("digest_img_" + i).setAttribute('src', '/img/artifact-chart.png')
										document.getElementById("digest_img_" + i).setAttribute('style', 'width: 8%; margin-right: 5px;')
									}

    								document.getElementById('scan_' + k).innerText = changeScanOverview3[k].scanner.name
									document.getElementById('ver_' + k).innerText = changeScanOverview3[k].scanner.version
									document.getElementById('dur_' + k).innerText = func.countingSeconds(changeScanOverview3[k].duration)
									document.getElementById('end_time_' + k).innerText = func.changeTime(changeScanOverview3[k].end_time)

									let criticalCnt = 0;
									let highCnt = 0;
									let mediumCnt = 0;
									let	lowCnt = 0;
									let unknownCnt = 0;

									let barCntObj = changeScanOverview3[k].summary.summary;
									let barCntKeys = Object.keys(barCntObj)
									let barCntValues = Object.values(barCntObj)

									for (var c = 0; c <= barCntKeys.length - 1; c++) {

										if (barCntKeys[c].includes('Critical')) {
											criticalCnt = barCntValues[c]
										} else if (barCntKeys[c].includes('High')) {
											highCnt = barCntValues[c]
										} else if (barCntKeys[c].includes('Medium')) {
											mediumCnt = barCntValues[c]
										} else if (barCntKeys[c].includes('Low')) {
											lowCnt = barCntValues[c]
										}  else if (barCntKeys[c].includes('Unknown')) {
											unknownCnt = barCntValues[c]
										}
									}

									const ctx = document.getElementById('myChart_' + i).getContext('2d');
									new Chart(ctx, {
										type: 'bar',
										data: {
											labels: ['Critical', 'High', 'Medium', 'Low', 'N/A'],
											datasets: [{
												data: [criticalCnt, highCnt, mediumCnt, lowCnt, unknownCnt],
												backgroundColor: [
													'#FF4D2E',
													'#ff8f3d',
													'#ffce66',
													'#fff1ad',
													'#c5c5c5'
												],
												borderWidth: 0,
												scaleBeginAtZero: true,
											}
											]
										},
										options: {
											indexAxis: 'y',
											scales: {
												x: {
													beginAtZero: true
												}
											},
											barPercentage: 0.6,
											plugins: {
												legend: {
													display: false
												}
											},
											responsive: false
										}
									});
								}
							}

							if (data[i].scan_overview == null) {
								if (data[i].type === 'IMAGE') {
									document.getElementById("scan_overview_id_" + i).innerText = "Not Scanned";
									document.getElementById("scan_overview_id_" + i).setAttribute('style', 'text-align: center; border-radius: 15px; border: 2px solid #ff5353; width: 100px; height: 23px; margin: 0 auto;')
									document.getElementById("digest_img_" + i).setAttribute('src', '/img/artifact-image.png')
									document.getElementById("digest_img_" + i).setAttribute('style', 'width: 10%; margin-right: 5px;')
								} else if (data[i].type === 'CHART') {
									document.getElementById("scan_overview_id_" + i).innerText = "Unsupported";
									document.getElementById("scan_overview_id_" + i).setAttribute('style', 'text-align: center; border-radius: 15px; border: 2px solid #818894ad; width: 100px; height: 23px; margin: 0 auto;')
									document.getElementById("digest_img_" + i).setAttribute('src', '/img/artifact-chart.png')
									document.getElementById("digest_img_" + i).setAttribute('style', 'width: 8%; margin-right: 5px;')
								}
							}

							if (data[i].scan_overview != null) {
								const target = document.getElementById("scan_overview_severity_id_" + i);
								const tooltip = document.getElementById("tooltip_text_" + i);

								target.addEventListener('mouseover', () => {
									tooltip.style.display = 'block';
								}, false);

								target.addEventListener('mouseleave', () => {
									tooltip.style.display = 'none';
								}, false);

								const targetChart = document.getElementById("scan_overview_id_" + i);
								const tooltipChart = document.getElementById("tooltip_chart_" + i);
								document.getElementById("tooltip_chart_" + i).setAttribute('style', 'position: absolute; top: 17px; z-index: 1; background: #000000; padding: 8px;  font-size: 1rem; color: #fff; border-radius: 2px; animation: fadeIn 0.6s; margin-left: 240px;')

								targetChart.addEventListener('mouseover', () => {
									tooltipChart.style.display = 'block';
								}, false);

								targetChart.addEventListener('mouseleave', () => {
									tooltipChart.style.display = 'none';
								}, false);
							}

						}
					} else if (data.length === 0) {
						let html = '<tr><td colspan="9">No Data.</td></tr>';
						func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
					}

					if (document.getElementById('loading')) {
						document.getElementById('wrap').removeChild(document.getElementById('loading'));
					}

					artifacts.listEvent()
				},

				event(){

					if(document.querySelector('.create')) {
						document.querySelector('.create').addEventListener('click', () => {
							func.proCreate(MSG_NEW_PROJECT, 'secrets', MSG_SAVE);
						}, false);
					}

					document.querySelector('#all-artifacts').addEventListener('click', () => {
						let check = document.getElementById('all-artifacts').checked
						let artifactsCnt = sessionStorage.getItem('artifactsCnt')
						if (check === true) {
							for (var i = 0; i <= artifactsCnt-1; i++) {
								document.querySelector('.checkbox_' + `${i}`).checked = true;
							}

						} else {
							for (var i = 0; i <= artifactsCnt-1; i++) {
								document.querySelector('.checkbox_' + `${i}`).checked = false;
							}
						}
					}, false);

					document.getElementById('delete').addEventListener('click', (e) => {
						let artifactsCnt = sessionStorage.getItem('artifactsCnt')

						let tr = 0;
						for (var i = 0; i <= artifactsCnt-1; i++) {
							if (document.querySelector('.checkbox_' + `${i}`).checked === true) {
								tr+=1;
							}
						}

						if (tr > 0 ) {
							func.alertPopup('DELETE', MSG_CHECK_TO_DELETE, true, MSG_CONFIRM, artifacts.delete);
						} else if (tr === 0) {
							func.alertPopup('DELETE', MSG_CHECK_TO_DELETE_ITEM, true, MSG_CONFIRM, 'closed');
						}

					}, false);

					document.querySelector('#moveRepository').addEventListener('click', () => {
						document.location.href = URI_KPS_HUB_IMAGE_REPOSITORY;
					}, false);

				},

				delete() {
					let artifactsCnt = sessionStorage.getItem('artifactsCnt')
					for (var i = 0; i <= artifactsCnt-1; i++) {
						if (document.querySelector('.checkbox_' + `${i}`).checked === true) {
							var class_name = $('.checkbox_' + `${i}`).attr('name')

							func.saveHarborData('DELETE', `${func.harborUrl}api/v2.0/projects/`+ sessionStorage.getItem('repositoryName') + '/repositories/' + sessionStorage.getItem('imageName') + '/artifacts/' + class_name, '', true, 'application/json', func.refresh());
						}
					}
				},

				listEvent(){
					var listAll = document.querySelector('.listTable').querySelectorAll('a');
					for(var i=0; i<=listAll.length-1; i++){
						listAll[i].addEventListener('click', (e) => {
							sessionStorage.setItem('artifactsName', e.target.getAttribute('data-id'));
							sessionStorage.setItem('artifactsType', e.target.getAttribute('data-type'));

							document.location.href = URI_KPS_HUB_IMAGE_ARTIFACT_DETAIL;
						}, true);
					}
				},

			};

			artifacts.init();
		}

		function copyClick(event) {
			const clickedButton = event.target;
			const buttonId = clickedButton.id;
			const copyText = document.querySelector(`#${buttonId}`).getAttribute('data-id')
			window.navigator.clipboard.writeText(copyText)
			document.querySelector(`#${buttonId}`).setAttribute('style', 'cursor: pointer; color: #019b72bf;');

			for (var i = 0; i <= sessionStorage.getItem('artifactsCnt') - 1; i++) {
				if ('copy_id_' + i !== buttonId) {
					document.getElementById('copy_id_' + i).setAttribute('style', 'cursor: pointer;');
				}
			}
		}
	</script>
</th:block>
</html>