<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
	<div id="content" class="sub-page">
		<article class="location">
			<ul>
				<li><a onclick="movePage(URI_CP_BASE_URL)">Images</a></li>
				<li><a onclick="movePage(URI_KPS_HUB_IMAGE_PROJECT)">Projects</a></li>
				<li><a id="moveRepository"></a></li>
				<li><a id="moveImage"></a></li>
			</ul>
			<ul class="title">
				<span id="title"></span>
			</ul>
		</article>
		<article class="base-pro base tab-cont-wrap">

			<div class="notice">
				<h4>Tags</h4>
				<div class="table_style01">
					<table>
						<caption>Tags List</caption>
						<colgroup >
							<col width="4%" />
							<col width="32%" />
							<col width="32%" />
							<col width="32%" />
						</colgroup>
						<thead>
						<tr>
							<th scope="col"><input type="checkbox" name="all-artifacts" id="all-artifacts"><label for="all-artifacts" style="padding-left: 27px; position: relative; cursor: pointer;"></label></th>
							<th scope="col">Name</th>
							<th scope="col">Push Time</th>
							<th scope="col">Pull Time</th>
						</tr>
						</thead>
						<tbody class="tagListTable">
						</tbody>
					</table>
					<a class="more" href="javascript:">more</a>
				</div>
				<h4>Overview</h4>
				<div class="table_style01">
					<table>
						<caption>Overview Detail</caption>
						<colgroup >
							<col width="25%" />
							<col width="75%" />
						</colgroup>
						<tbody class="overviewListTable">
						</tbody>
					</table>
				</div>
				<h4>Additions</h4>
				<div class="table_style01">
					<table>
						<caption>Additions List</caption>
						<colgroup >
							<col width="18%" />
							<col width="6%" />
							<col width="6%" />
							<col width="22%" />
							<col width="16%" />
							<col width="16%" />
							<col width="16%" />
						</colgroup>
						<thead>
						<tr>
							<th scope="col">Vulnerability</th>
							<th scope="col">Severity</th>
							<th scope="col">CVSS3</th>
							<th scope="col">Package</th>
							<th scope="col">Current version</th>
							<th scope="col">Fixed in version</th>
							<th scope="col">Listed In CVE Allowlist</th>
						</tr>
						</thead>
						<tbody class="additionListTable">
						</tbody>
					</table>
					<a class="more" href="javascript:">more</a>
				</div>
				<a href="javascript:" id="delete" class="delete" style="top: -4px;" th:text="#{M0026}" ></a>
			</div>
		</article>
	</div>
</div>
<th:block layout:fragment="script">
	<script type="text/javascript">
		window.onload = () => {

			IS_GLOBAL = true;
			func.init(ASIDE_DP1.IMAGES, ASIDE_DP2.PROJECTS);

			const artifacts = {
				offset: 0, // 로드 페이지 넘버
				limit: 10, // 로드 게시물 개수
				allItemCount: 0, //게시물 촐 개수
				type: 'administrator',

				init() {
					func.nameLoad = artifacts.reset;

					let artifactsName = sessionStorage.getItem('artifactsName');
					document.getElementById('title').innerHTML = artifactsName.substr(0,15)
					document.getElementById('moveRepository').innerHTML = sessionStorage.getItem('repositoryName');
					document.getElementById('moveImage').innerHTML = sessionStorage.getItem('imageName');

					artifacts.load();

					artifacts.event();
				},

				reset() {
					func.removeHtml(document.querySelector('.tagListTable'));
					artifacts.offset = 0;
					artifacts.load();

					func.removeHtml(document.querySelector('.additionListTable'));
					artifacts.offset = 0;
					artifacts.load();
				},

				load() {
					func.loading();

					func.loadHarborData('GET', `${func.harborUrl}api/v2.0/projects/${sessionStorage.getItem('repositoryName')}/repositories/${sessionStorage.getItem('imageName')}/artifacts/${sessionStorage.getItem('artifactsName')}/tags?with_signature=true&with_immutable_status=true&page_size=100`, 'application/json', artifacts.drawTags);
					func.loadHarborData('GET', `${func.harborUrl}api/v2.0/projects/${sessionStorage.getItem('repositoryName')}/repositories/${sessionStorage.getItem('imageName')}/artifacts/${sessionStorage.getItem('artifactsName')}?with_tag=false&with_scan_overview=true&with_sbom_overview=true&with_label=true&with_immutable_status=true`, 'application/json', artifacts.drawOverview);
					if (sessionStorage.getItem('additions') === 'Y') {
						func.loadHarborData('GET', `${func.harborUrl}api/v2.0/projects/${sessionStorage.getItem('repositoryName')}/repositories/${sessionStorage.getItem('imageName')}/artifacts/${sessionStorage.getItem('artifactsName')}/additions/vulnerabilities`, 'application/json', artifacts.drawAdditions);
					} else if (sessionStorage.getItem('additions') === 'N') {
						let html = '<tr><td colspan="7">No Data.</td></tr>';
						func.appendHtml(document.querySelector('.additionListTable'), html, 'tbody');
					}
				},

				drawTags(data) {

					let html;
					sessionStorage.setItem('tagsCnt', data.length);
					if (data.length > 0) {
						for (var i = 0; i <= data.length - 1; i++) {

							let pull_time = func.changeTime(data[i].pull_time)
							let push_time = func.changeTime(data[i].push_time)

							html = `<tr>
                                        <td><input type="checkbox" name="${data[i].digest}" id="${data[i].id}" class="checkbox_${i}"/><label for="${data[i].id}" style="padding-left: 27px; position: relative; cursor: pointer;"></label></td>
                                        <td id="name">${data[i].name}</td>
                                        <td id="push_time_${i}">push_time</td>
                                        <td id="pull_time_${i}">pull_time</td>
                                    </tr>`;
							func.appendHtml(document.querySelector('.tagListTable'), html, 'tbody');

							document.getElementById("pull_time_" + i).innerText = pull_time;
							document.getElementById("push_time_" + i).innerText = push_time;

						}
					} else if (data.length === 0) {
						let html = '<tr><td colspan="5">No Data.</td></tr>';
						func.appendHtml(document.querySelector('.tagListTable'), html, 'tbody');
					}

					if (document.getElementById('loading')) {
						document.getElementById('wrap').removeChild(document.getElementById('loading'));
					}
				},

				drawOverview(data) {

					console.log('DDDDDDDD:::::' + JSON.stringify(data))
					let extraAttrs = data.extra_attrs;
					console.log('AAAAAAAAA:::::' + JSON.stringify(extraAttrs))
					// let time = data.extra_attrs.created;
					// let changeTime = func.changeTime(time)

					/*document.getElementById("architecture").innerText = data.extra_attrs.architecture;
					document.getElementById("author").innerText = data.extra_attrs.author;
					document.getElementById("config").innerText = JSON.stringify(data.extra_attrs.config);
					document.getElementById("created").innerText = changeTime;
					document.getElementById("os").innerText = data.extra_attrs.os;*/

					let keysArr = Object.keys(extraAttrs)
					let valuesArr = Object.values(extraAttrs)

					let html;
					if (keysArr.length > 0) {
						for (var i = 0; i <= keysArr.length - 1; i++) {
							console.log(keysArr[i])
							console.log(valuesArr[i])

							html = `<tr>
										<td id="keys_id_${i}" style="background-color: #f7f7f7; font-size: 18px; color: #47494D"></td>
										<td class="left" id="values_id_${i}"></td>
									</tr>`;
							func.appendHtml(document.querySelector('.overviewListTable'), html, 'tbody');

							document.getElementById("keys_id_" + i).innerText = keysArr[i];
							document.getElementById("values_id_" + i).innerText = JSON.stringify(valuesArr[i]);
						}
					} else if (extraAttrs.length === 0) {
						let html = '<tr><td colspan="2">No Data.</td></tr>';
						func.appendHtml(document.querySelector('.overviewListTable'), html, 'tbody');
					}

					if (document.getElementById('loading')) {
						document.getElementById('wrap').removeChild(document.getElementById('loading'));
					}
				},

				drawAdditions(data) {
					if (sessionStorage.getItem('additions') == 'N') {
						let html = '<tr><td colspan="7">No Data.</td></tr>';
						func.appendHtml(document.querySelector('.additionListTable'), html, 'tbody');

					} else if (sessionStorage.getItem('additions') == 'Y') {
						if (data !== null) {
							let originData = JSON.stringify(data)
							let changeData1 = originData.replace('{"application/vnd.security.vulnerability.report; version=1.1":','')
							let changeData2 = changeData1.slice(0, -1)
							let changeData3 = JSON.parse(changeData2)

							let html;
							sessionStorage.setItem('additionsCnt', changeData3.vulnerabilities.length);

							if (changeData3.vulnerabilities.length > 0) {
								for (var i = 0; i <= changeData3.vulnerabilities.length - 1; i++) {

									let cvss3 = changeData3.vulnerabilities[i].vendor_attributes.CVSS;
									let cvsseData = func.cvss3Data(cvss3)

									html = `<tr>
											<td><a class="name" href="${changeData3.vulnerabilities[i].links[0]}" target='_blank' data-id="${changeData3.vulnerabilities[i].id}">${changeData3.vulnerabilities[i].id}</a></td>
											<td><div id="severity_${i}"><span style="color: #ffffff">${changeData3.vulnerabilities[i].severity}</span></div></td>
											<td id="cvss3_${i}"></td>
											<td class="left">${changeData3.vulnerabilities[i].package}</td>
											<td>${changeData3.vulnerabilities[i].version}</td>
											<td class="left"><i class="fa-solid fa-wrench" style="color: #00b92a; margin-right: 7px;"></i>${changeData3.vulnerabilities[i].fix_version}</td>
											<td>No</td>
										</tr>`;

									func.appendHtml(document.querySelector('.additionListTable'), html, 'tbody');

									if (changeData3.vulnerabilities[i].severity === 'High') {
										document.getElementById("severity_" + i).setAttribute('style',"background-color: #ff8f3d; border-radius: 10px;");
									} else if (changeData3.vulnerabilities[i].severity === 'Medium') {
										document.getElementById("severity_" + i).setAttribute('style',"background-color: #ffce66; border-radius: 10px;");
									} else if (changeData3.vulnerabilities[i].severity === 'Low') {
										document.getElementById("severity_" + i).setAttribute('style',"background-color: #fff1ad; border-radius: 10px;");
									}

									document.getElementById("cvss3_" + i).innerText = cvsseData;

								}
							}
						}
					}

					if (document.getElementById('loading')) {
						document.getElementById('wrap').removeChild(document.getElementById('loading'));
					}

				},

				event() {
					document.querySelector('.more').addEventListener('click', () => {
						if(document.querySelector('.TagListTable').querySelectorAll('tr').length < project.allItemCount){
							artifacts.offset++;

							artifacts.load();
						}
					}, false);

					if(document.querySelector('.create')) {
						document.querySelector('.create').addEventListener('click', () => {
							func.proCreate(MSG_NEW_PROJECT, 'secrets', MSG_SAVE);
						}, false);
					}

					document.querySelector('#all-artifacts').addEventListener('click', () => {
						let check = document.getElementById('all-artifacts').checked
						let artifactsCnt = sessionStorage.getItem('artifactsCnt')
						if (check === true) {
							for (var i = 0; i <= artifactsCnt-1; i++) {
								document.querySelector('.checkbox_' + `${i}`).checked = true;
							}

						} else {
							for (var i = 0; i <= artifactsCnt-1; i++) {
								document.querySelector('.checkbox_' + `${i}`).checked = false;
							}
						}
					}, false);

					document.getElementById('delete').addEventListener('click', (e) => {
						let artifactsCnt = sessionStorage.getItem('artifactsCnt')

						let tr = 0;
						for (var i = 0; i <= artifactsCnt-1; i++) {
							if (document.querySelector('.checkbox_' + `${i}`).checked === true) {
								tr+=1;
							}
						}

						if (tr > 0 ) {
							func.alertPopup('DELETE', MSG_CHECK_TO_DELETE, true, MSG_CONFIRM, artifacts.delete);
						} else if (tr === 0) {
							func.alertPopup('DELETE', MSG_CHECK_TO_DELETE_ITEM, true, MSG_CONFIRM, 'closed');
						}

					}, false);

					document.querySelector('#moveRepository').addEventListener('click', () => {
						document.location.href = URI_KPS_HUB_IMAGE_REPOSITORY;
					}, false);

					document.querySelector('#moveImage').addEventListener('click', () => {
						document.location.href = URI_KPS_HUB_IMAGE_ARTIFACT;
					}, false);
				},

				delete() {
					let artifactsCnt = sessionStorage.getItem('artifactsCnt')
					for (var i = 0; i <= artifactsCnt-1; i++) {
						if (document.querySelector('.checkbox_' + `${i}`).checked === true) {
							var class_id = $('.checkbox_' + `${i}`).attr('id')

							// func.loadHarborData('GET', `${func.harborUrl}api/v2.0/users/current/permissions?scope=/project/`+ class_id +`&relative=true` + name, 'application/json', project.drawStatistics);
							// func.saveHarborData('DELETE', `${func.harborUrl}api/v2.0/projects/`+ class_id, '', true, 'application/json', func.historyBack);
						}
					}
				},

			};

			artifacts.init();
		}
	</script>
</th:block>
</html>