<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
	<div id="content" class="sub-page">
		<article class="location">
			<ul>
				<li><a onclick="movePage(URI_CP_BASE_URL)">Images</a></li>
				<li><a onclick="movePage(URI_KPS_HUB_IMAGE_PROJECT)">Projects</a></li>
				<li><a id="moveRepository"></a></li>
				<li><a id="moveImage"></a></li>
			</ul>
			<ul class="title">
				<span id="title"></span>
			</ul>
		</article>
		<article class="base-pro base tab-cont-wrap">

			<div class="notice">
				<h4>Tags</h4>
				<div class="table_style01">
					<table>
						<caption>Tags List</caption>
						<colgroup >
							<col width="4%" />
							<col width="31%" />
							<col width="3%" />
							<col width="31%" />
							<col width="31%" />
						</colgroup>
						<thead>
						<tr>
							<th scope="col"><input type="checkbox" name="all-artifacts" id="all-artifacts"><label for="all-artifacts" style="padding-left: 27px; position: relative; cursor: pointer;"></label></th>
							<th scope="col">Name</th>
							<th scope="col" style="border-left: 0"></th>
							<th scope="col">Pull Time</th>
							<th scope="col">Push Time</th>
						</tr>
						</thead>
						<tbody class="tagListTable">
						</tbody>
					</table>
				</div>
				<h4>Overview</h4>
				<div class="table_style01">
					<table>
						<caption>Overview Detail</caption>
						<colgroup >
							<col width="25%" />
							<col width="75%" />
						</colgroup>
						<tbody class="overviewListTable">
						</tbody>
					</table>
				</div>
				<h4>Additions</h4>
				<div class="table_style01">
					<table>
						<caption>Additions List</caption>
						<colgroup >
							<col width="2%" />
							<col width="16%" />
							<col width="6%" />
							<col width="6%" />
							<col width="22%" />
							<col width="16%" />
							<col width="16%" />
							<col width="16%" />
						</colgroup>
						<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">Vulnerability</th>
							<th scope="col">Severity</th>
							<th scope="col">CVSS3</th>
							<th scope="col">Package</th>
							<th scope="col">Current version</th>
							<th scope="col">Fixed in version</th>
							<th scope="col">Listed In CVE Allowlist</th>
						</tr>
						</thead>
						<tbody class="additionListTable">
						</tbody>
					</table>
				</div>
				<a href="javascript:" id="create" class="create" style="top: 30px; right: 102px;" th:text="#{M0223}" ></a>
				<a href="javascript:" id="delete" class="delete" style="top: 30px;" th:text="#{M0026}" ></a>
			</div>
		</article>
	</div>
</div>
<th:block layout:fragment="script">

	<script type="text/javascript">
		window.onload = () => {

			IS_GLOBAL = true;
			func.init(ASIDE_DP1.IMAGES, ASIDE_DP2.PROJECTS);

			const artifacts = {
				offset: 0,
				limit: 10,
				allItemCount: 0,
				type: 'administrator',

				init() {
					func.nameLoad = artifacts.reset;

					let artifactsName = sessionStorage.getItem('artifactsName');
					document.getElementById('title').innerHTML = artifactsName.substr(0,15)
					document.getElementById('moveRepository').innerHTML = sessionStorage.getItem('repositoryName');
					document.getElementById('moveImage').innerHTML = sessionStorage.getItem('imageName').replaceAll("%252F", "/");

					artifacts.load();

					artifacts.event();
				},

				reset() {
					func.removeHtml(document.querySelector('.tagListTable'));
					artifacts.offset = 0;
					artifacts.load();

					func.removeHtml(document.querySelector('.additionListTable'));
					artifacts.offset = 0;
					artifacts.load();
				},

				load() {
					func.loading();

					func.loadHarborData('GET', `${func.harborUrl}api/v2.0/projects/${sessionStorage.getItem('repositoryName')}/repositories/${sessionStorage.getItem('imageName')}/artifacts/${sessionStorage.getItem('artifactsName')}/tags?with_signature=true&with_immutable_status=true&page=1&page_size=-1`, 'application/json', artifacts.drawTags);
					func.loadHarborData('GET', `${func.harborUrl}api/v2.0/projects/${sessionStorage.getItem('repositoryName')}/repositories/${sessionStorage.getItem('imageName')}/artifacts/${sessionStorage.getItem('artifactsName')}?with_tag=false&with_scan_overview=true&with_sbom_overview=true&with_label=true&with_immutable_status=true`, 'application/json', artifacts.drawOverview);
					if (sessionStorage.getItem('additions') === 'Y') {
						func.loadHarborData('GET', `${func.harborUrl}api/v2.0/projects/${sessionStorage.getItem('repositoryName')}/repositories/${sessionStorage.getItem('imageName')}/artifacts/${sessionStorage.getItem('artifactsName')}/additions/vulnerabilities?page=1&page_size=-1`, 'application/json', artifacts.drawAdditions);
					} else if (sessionStorage.getItem('additions') === 'N') {
						let html = '<tr><td colspan="8">No Data.</td></tr>';
						func.appendHtml(document.querySelector('.additionListTable'), html, 'tbody');
					}
				},

				drawTags(data) {

					let html;
					sessionStorage.setItem('tagsCnt', data.length);
					if (data.length > 0) {
						for (var i = 0; i <= data.length - 1; i++) {
							let pull_time;

							if (data[i].pull_time === '0001-01-01T00:00:00.000Z') {
								pull_time = '';
							} else {
								pull_time = func.changeTime(data[i].pull_time)
							}

							let push_time = func.changeTime(data[i].push_time)

							html = `<tr>
                                        <td style="border-right:1px solid #ebebeb"><input type="checkbox" name="${data[i].name}" id="${data[i].id}" class="checkbox_${i}"/><label for="${data[i].id}" style="padding-left: 27px; position: relative; cursor: pointer;"></label></td>
                                        <td id="name_${i}">${data[i].name}</td>
                                        <td><i id="copy_id_${i}" class="fa-regular fa-copy fa-xl copyBtn" data-name="${data[i].name}" style="cursor: pointer" onclick="copyClick(event)"></i></td>
                                        <td id="pull_time_${i}">pull_time</td>
                                        <td id="push_time_${i}">push_time</td>
                                    </tr>`;
							func.appendHtml(document.querySelector('.tagListTable'), html, 'tbody');

							document.getElementById("pull_time_" + i).innerText = pull_time;
							document.getElementById("push_time_" + i).innerText = push_time;

						}
					} else if (data.length === 0) {
						let html = '<tr><td colspan="5">No Data.</td></tr>';
						func.appendHtml(document.querySelector('.tagListTable'), html, 'tbody');
					}

					if (document.getElementById('loading')) {
						document.getElementById('wrap').removeChild(document.getElementById('loading'));
					}
				},

				drawOverview(data) {

					let extraAttrs = data.extra_attrs;

					let keysArr = Object.keys(extraAttrs)
					let valuesArr = Object.values(extraAttrs)

					let html;
					if (keysArr.length > 0) {
						for (var i = 0; i <= keysArr.length - 1; i++) {

							html = `<tr>
										<td id="keys_id_${i}" style="background-color: #f7f7f7; font-size: 18px; color: #47494D"></td>
										<td class="left" id="values_id_${i}"></td>
									</tr>`;
							func.appendHtml(document.querySelector('.overviewListTable'), html, 'tbody');

							if (keysArr[i] === 'created') {
								let time = func.changeTime(valuesArr[i])

								document.getElementById("keys_id_" + i).innerText = keysArr[i];
								document.getElementById("values_id_" + i).innerText = time;
							} else if(typeof valuesArr[i] === 'object') {
								document.getElementById("keys_id_" + i).innerText = keysArr[i];
								document.getElementById("values_id_" + i).innerText = JSON.stringify(valuesArr[i]);
							} else {
								document.getElementById("keys_id_" + i).innerText = keysArr[i];
								document.getElementById("values_id_" + i).innerText = valuesArr[i];
							}

						}
					} else if (extraAttrs.length === 0) {
						let html = '<tr><td colspan="2">No Data.</td></tr>';
						func.appendHtml(document.querySelector('.overviewListTable'), html, 'tbody');
					}

					for (var i = 0; i <= sessionStorage.getItem('tagsCnt') - 1; i++) {
						if (data.type === 'IMAGE') {
							document.getElementById("copy_id_" + i).setAttribute('data-id', 'docker pull ' + func.harborUrl.replace('https://', '') + data.repository_name + ':')
						} else if (data.type === 'CHART') {
							document.getElementById("copy_id_" + i).setAttribute('data-id', 'helm pull ' + func.harborUrl.replace('https', 'oci') + data.repository_name + ' --version ')
						}
					}

					if (document.getElementById('loading')) {
						document.getElementById('wrap').removeChild(document.getElementById('loading'));
					}
				},

				drawAdditions(data) {
					if (sessionStorage.getItem('additions') == 'N') {
						let html = '<tr><td colspan="7">No Data.</td></tr>';
						func.appendHtml(document.querySelector('.additionListTable'), html, 'tbody');

					} else if (sessionStorage.getItem('additions') == 'Y') {
						if (data !== null) {
							let originData = JSON.stringify(data)
							let changeData1 = originData.replace('{"application/vnd.security.vulnerability.report; version=1.1":','')
							let changeData2 = changeData1.slice(0, -1)
							let changeData3 = JSON.parse(changeData2)

							let html;
							sessionStorage.setItem('additionsCnt', changeData3.vulnerabilities.length);

							if (changeData3.vulnerabilities.length > 0) {
								for (var i = 0; i <= changeData3.vulnerabilities.length - 1; i++) {

									let cvss3 = changeData3.vulnerabilities[i].vendor_attributes.CVSS;
									let cvssData = func.cvss3Data(cvss3)

									html = `<tr>
											<td id="col0_${i}"><div id="arcoBtn_${i}" style="width: 1px; height: 1px; border-top: 1px solid #afb5bb; border-right: 1px solid #afb5bb; transform: rotate(135deg); position: absolute; left: 12px; padding: 4px; cursor: pointer;"></div></td>
											<td id="col1_${i}"><a class="name" href="${changeData3.vulnerabilities[i].links[0]}" target='_blank' data-id="${changeData3.vulnerabilities[i].id}">${changeData3.vulnerabilities[i].id}</a></td>
											<td id="col2_${i}"><div id="severity_${i}"><span style="color: #ffffff">${changeData3.vulnerabilities[i].severity}</span></div></td>
											<td id="col3_${i}" class="addtions"></td>
											<td id="col4_${i}" class="left">${changeData3.vulnerabilities[i].package}</td>
											<td id="col5_${i}">${changeData3.vulnerabilities[i].version}</td>
											<td id="col6_${i}" class="left"><i class="fa-solid fa-wrench" style="color: #00b92a; margin-right: 7px;"></i>${changeData3.vulnerabilities[i].fix_version}</td>
											<td id="col7_${i}">No</td>
											</tr><tr><td id="desc_${i}" style="display: none" class="left" colspan="8" name="off">${changeData3.vulnerabilities[i].description}</td></tr>`;

									func.appendHtml(document.querySelector('.additionListTable'), html, 'tbody');

									if (changeData3.vulnerabilities[i].severity === 'High') {
										document.getElementById("severity_" + i).setAttribute('style',"background-color: #ff8f3d; border-radius: 10px;");
									} else if (changeData3.vulnerabilities[i].severity === 'Medium') {
										document.getElementById("severity_" + i).setAttribute('style',"background-color: #ffce66; border-radius: 10px;");
									} else if (changeData3.vulnerabilities[i].severity === 'Low') {
										document.getElementById("severity_" + i).setAttribute('style',"background-color: #fff1ad; border-radius: 10px;");
									}

									document.getElementById("col3_" + i).innerText = cvssData;
								}
							}
						}
					}

					if (document.getElementById('loading')) {
						document.getElementById('wrap').removeChild(document.getElementById('loading'));
					}

					document.addEventListener('click', (e) => {
						for (let i = 0; i <= sessionStorage.getItem('additionsCnt') - 1; i++) {

							if (e.target && e.target.id === 'arcoBtn_' + `${i}`) {
								if (document.getElementById("desc_" + `${i}`).getAttribute('name') === 'off') {
									document.getElementById("desc_" + `${i}`).setAttribute('style', 'text-align: left; padding-left: 40px;');
									document.getElementById("desc_" + `${i}`).setAttribute('name', 'on');
									document.getElementById('arcoBtn_' + `${i}`).setAttribute('style', 'width: 1px; height: 1px; border-top: 1px solid #afb5bb; border-right: 1px solid #afb5bb; transform: rotate(315deg); position: absolute; left: 12px; padding: 4px; cursor: pointer;');
									for (let j = 0; j <= 7; j++) {
										if (j === 4 || j === 6) {
											document.getElementById("col" + `${j}` + '_' + `${i}`).setAttribute('style', 'text-align: left; border-bottom: 0px; border-left: 0; padding: 7px 7px 7px 7px; color: #818894; font-size: 15px; white-space: normal; letter-spacing: -0.2px;');
										} else {
											document.getElementById("col" + `${j}` + '_' + `${i}`).setAttribute('style', 'text-align: center; border-bottom: 0px; border-left: 0; padding: 7px 7px 7px 7px; color: #818894; font-size: 15px; white-space: normal; letter-spacing: -0.2px;');
										}
									}
								} else if (document.getElementById("desc_" + `${i}`).getAttribute('name') === 'on') {
									document.getElementById("desc_" + `${i}`).setAttribute('style', 'display: none;');
									document.getElementById("desc_" + `${i}`).setAttribute('name', 'off')
									document.getElementById('arcoBtn_' + `${i}`).setAttribute('style', 'width: 1px; height: 1px; border-top: 1px solid #afb5bb; border-right: 1px solid #afb5bb; transform: rotate(135deg); position: absolute; left: 12px; padding: 4px; cursor: pointer;');
									for (let j = 0; j <= 7; j++) {
										if (j === 4 || j === 6) {
											document.getElementById("col" + `${j}` + '_' + `${i}`).setAttribute('style', 'text-align: left; border-bottom: 1px solid #ebebeb; border-left: 0; padding: 7px 7px 7px 7px; color: #818894; font-size: 15px; white-space: normal; letter-spacing: -0.2px;');
										} else {
											document.getElementById("col" + `${j}` + '_' + `${i}`).setAttribute('style', 'text-align: center; border-bottom: 1px solid #ebebeb; border-left: 0; padding: 7px 7px 7px 7px; color: #818894; font-size: 15px; white-space: normal; letter-spacing: -0.2px;');
										}
									}
								}
							}
						}
					});
				},

				event() {

					if(document.querySelector('.create')) {
						document.querySelector('.create').addEventListener('click', () => {
							func.tagCreate(MSG_ADD_TAG, MSG_SAVE);
						}, false);
					}

					document.querySelector('#all-artifacts').addEventListener('click', () => {
						let check = document.getElementById('all-artifacts').checked
						let artifactsCnt = sessionStorage.getItem('artifactsCnt')
						if (check === true) {
							for (var i = 0; i <= artifactsCnt-1; i++) {
								document.querySelector('.checkbox_' + `${i}`).checked = true;
							}

						} else {
							for (var i = 0; i <= artifactsCnt-1; i++) {
								document.querySelector('.checkbox_' + `${i}`).checked = false;
							}
						}
					}, false);

					document.getElementById('delete').addEventListener('click', (e) => {
						let artifactsCnt = sessionStorage.getItem('artifactsCnt')

						let tr = 0;
						for (var i = 0; i <= artifactsCnt-1; i++) {
							if (document.querySelector('.checkbox_' + `${i}`).checked === true) {
								tr+=1;
							}
						}

						if (tr > 0 ) {
							func.alertPopup('DELETE', MSG_CHECK_TO_DELETE, true, MSG_CONFIRM, artifacts.delete);
						} else if (tr === 0) {
							func.alertPopup('DELETE', MSG_CHECK_TO_DELETE_ITEM, true, MSG_CONFIRM, 'closed');
						}

					}, false);

					document.querySelector('#moveRepository').addEventListener('click', () => {
						document.location.href = URI_KPS_HUB_IMAGE_REPOSITORY;
					}, false);

					document.querySelector('#moveImage').addEventListener('click', () => {
						document.location.href = URI_KPS_HUB_IMAGE_ARTIFACT;
					}, false);

				},

				delete() {
					let tagsCnt = sessionStorage.getItem('tagsCnt')
					for (var i = 0; i <= tagsCnt-1; i++) {
						if (document.querySelector('.checkbox_' + `${i}`).checked === true) {
							var class_name = $('.checkbox_' + `${i}`).attr('name')

							func.saveHarborData('DELETE', `${func.harborUrl}api/v2.0/projects/${sessionStorage.getItem('repositoryName')}/repositories/${sessionStorage.getItem('imageName')}/artifacts/${sessionStorage.getItem('artifactsName')}/tags/` + class_name, '', true, 'application/json', func.refresh);
						}
					}
				},

			};

			artifacts.init();
		}

		function copyClick(event) {
			const clickedButton = event.target;
			const buttonId = clickedButton.id;
			const copyText = document.querySelector(`#${buttonId}`).getAttribute('data-id') + document.querySelector(`#${buttonId}`).getAttribute('data-name')
			window.navigator.clipboard.writeText(copyText)
			document.querySelector(`#${buttonId}`).setAttribute('style', 'cursor: pointer; color: #0ACF83;');

			for (var i = 0; i <= sessionStorage.getItem('tagsCnt') - 1; i++) {
				if ('copy_id_' + i !== buttonId) {
					document.getElementById('copy_id_' + i).setAttribute('style', 'cursor: pointer;');
				}
			}
		}
	</script>
</th:block>
</html>