<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
	<div id="content" class="sub-page">
		<article class="location">
			<ul>
				<li><a onclick="movePage(URI_CP_BASE_URL)">Images</a></li>
				<li><a onclick="movePage(URI_KPS_HUB_IMAGE_PROJECT)">Projects</a></li>
			</ul>
			<ul class="title">
				<span id="title"></span>
			</ul>
		</article>
		<article>
			<fieldset>
				<ul style="display: flex; float: right;">
					<li>
						<div class="statistics">
							<h3 class="stat-title">Total Images</h3>
							<div class="stat-box">
								<i class="fa-solid fa-file fa-2xl stat-img"></i>
								<div id="total-images" class="total-cnt"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="statistics">
							<h3 class="stat-title">Total Artifacts</h3>
							<div class="stat-box">
								<i class="fa-solid fa-box-archive fa-2xl stat-img"></i>
								<div id="total-artifacts" class="total-cnt"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="statistics">
							<h3 class="stat-title">Total Pulls</h3>
							<div class="stat-box">
								<i class="fa-solid fa-download fa-2xl stat-img"></i>
								<div id="total-pulls" class="total-cnt"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="statistics">
							<h3 class="stat-title">Storage Used</h3>
							<div class="stat-box">
								<i class="fa-solid fa-database fa-2xl stat-img"></i>
								<div id="total-storages" class="total-cnt"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="last-statistics">
							<h4 class="stat-title">Critical Vulnerabilities</h4>
							<div class="stat-box">
								<i class="fa-solid fa-shield-halved fa-2xl stat-img"></i>
								<div id="total-Vulnerabilities" class="total-cnt"></div>
							</div>
						</div>
					</li>
				</ul>
			</fieldset>
		</article>
		<article class="base-pro base tab-cont-wrap">

			<div class="notice">
				<ul class="tab-btn">
					<li type="repository" class="active"><a href="javascript:" th:text="#{M0940}"></a></li>
					<li type="log"><a onclick="movePage(URI_KPS_HUB_IMAGE_LOG)" th:text="#{M0941}"></a></li>
				</ul>
				<div class="table_style01">
					<table>
						<caption>Repositories List</caption>
						<colgroup >
							<col width="4%" />
							<col width="24%" />
							<col width="24%" />
							<col width="24%" />
							<col width="24%" />
						</colgroup>
						<thead>
						<tr>
							<th scope="col"><input type="checkbox" name="all-repositories" id="all-repositories"><label for="all-repositories" style="padding-left: 27px; position: relative; cursor: pointer;"></label></th>
							<th scope="col">Name</th>
							<th scope="col">Artifacts</th>
							<th scope="col">Pulls</th>
							<th scope="col">Last Modified Time</th>
						</tr>
						</thead>
						<tbody class="listTable">
					</tbody>
					<!--<tfoot>
						<tr>
							<td colspan="5">
								<i id="angles-left-end" class="fa-solid fa-angles-left" style="cursor: pointer; margin: 0 5px 0 5px;"></i>
								<i id="angle-left" class="fa-solid fa-angle-left" style="cursor: pointer; margin: 0 5px 0 5px;"></i>
								<span id="page-start" style="margin: 0 5px 0 5px;"></span><span>/</span><span id="page-end" style="margin: 0 5px 0 5px;"></span>
								<i id="angle-right" class="fa-solid fa-angle-right" style="cursor: pointer; margin: 0 5px 0 5px;"></i>
								<i id="angles-right-end" class="fa-solid fa-angles-right" style="cursor: pointer; margin: 0 5px 0 5px;"></i>
							</td>
						</tr>
					</tfoot>-->
					</table>
				</div>
				<a href="javascript:" id="delete" class="delete" style="top: 35px;" th:text="#{M0026}" ></a>
			</div>
		</article>
	</div>
</div>
<th:block layout:fragment="script">
	<script type="text/javascript">
		window.onload = () => {

			IS_GLOBAL = true;
			func.init(ASIDE_DP1.IMAGES, ASIDE_DP2.PROJECTS);

			const repositories = {
				limit: 15,
				page: 1,
				pageStart: 1,
				pageEnd: 0,
				type: 'administrator',

				init() {
					func.nameLoad = repositories.reset;
					document.getElementById('title').innerHTML = sessionStorage.getItem('repositoryName');

					repositories.load();

					repositories.event();
				},

				reset() {
					func.removeHtml(document.querySelector('.listTable'));
					repositories.offset = 0;
					repositories.load();
				},

				load() {
					func.loading();

					// func.loadHarborData('GET', `${func.harborUrl}api/v2.0/projects/${sessionStorage.getItem('repositoryName')}/repositories?page_size=${repositories.limit}&page=${repositories.page}`, 'application/json', repositories.drawRepositories);
					func.loadHarborData('GET', `${func.harborUrl}api/v2.0/projects/${sessionStorage.getItem('repositoryName')}/repositories?page_size=100`, 'application/json', repositories.drawRepositories);
					func.loadHarborData('GET', `${func.harborUrl}api/v2.0/projects/${sessionStorage.getItem('repositoryId')}/summary`, 'application/json', repositories.drawPage);

				},

				drawRepositories(data) {

					let html;
					let totalArtifacts = 0;
					let totalPulls = 0;

					sessionStorage.setItem('repositoriesCnt', data.length);

					func.removeHtml(document.querySelector('.listTable'), html, 'tbody');

					if (data.length > 0) {
						for (var i = 0; i <= data.length - 1; i++) {

							totalArtifacts += data[i].artifact_count;
							totalPulls += data[i].pull_count;

							let time = func.changeTime(data[i].update_time)

							html = `<tr>
                                        <td style="border-right:1px solid #ebebeb"><input type="checkbox" name="${data[i].name}" id="${data[i].id}" class="checkbox_${i}"/><label for="${data[i].id}" style="padding-left: 27px; position: relative; cursor: pointer;"></label></td>
                                        <td class="left"><a class="name" href="javascript:;" data-id="${data[i].name}">${data[i].name}</a></td>
                                        <td>${data[i].artifact_count}</td>
                                        <td>${data[i].pull_count}</td>
                                        <td id="time_${i}">time</td>
                                    </tr>`;

							func.appendHtml(document.querySelector('.listTable'), html, 'tbody');

							document.getElementById("time_" + i).innerText = time;

						}
					} else if (data.length === 0) {
						let html = '<tr><td colspan="5">No Data.</td></tr>';
						func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
					}

					document.getElementById('total-artifacts').innerText = totalArtifacts
					document.getElementById('total-pulls').innerText = totalPulls

					if (document.getElementById('loading')) {
						document.getElementById('wrap').removeChild(document.getElementById('loading'));
					}

					repositories.listEvent()
				},

				drawPage(data) {

					repositories.pageEnd = data.project_admin_count;
					document.getElementById('total-storages').innerText = func.formatBytes(data.quota.used.storage);
					document.getElementById('total-images').innerText = data.repo_count;

					// document.getElementById('page-start').innerText = repositories.page;
					// document.getElementById('page-end').innerText = data.project_admin_count;

				},

				event(){

					if(document.querySelector('.create')) {
						document.querySelector('.create').addEventListener('click', () => {
							func.proCreate(MSG_NEW_PROJECT, 'secrets', MSG_SAVE);
						}, false);
					}

					document.querySelector('#all-repositories').addEventListener('click', () => {
						let check = document.getElementById('all-repositories').checked
						let repositoriesCnt = sessionStorage.getItem('repositoriesCnt')
						if (check === true) {
							for (var i = 0; i <= repositoriesCnt-1; i++) {
								document.querySelector('.checkbox_' + `${i}`).checked = true;
							}

						} else {
							for (var i = 0; i <= repositoriesCnt-1; i++) {
								document.querySelector('.checkbox_' + `${i}`).checked = false;
							}
						}
					}, false);

					document.getElementById('delete').addEventListener('click', (e) => {
						let repositoriesCnt = sessionStorage.getItem('repositoriesCnt')

						let tr = 0;
						for (var i = 0; i <= repositoriesCnt-1; i++) {
							if (document.querySelector('.checkbox_' + `${i}`).checked === true) {
								tr += 1;
							}
						}

						if (tr > 0 ) {
							func.alertPopup('DELETE', MSG_CHECK_TO_DELETE, true, MSG_CONFIRM, repositories.delete);
						} else if (tr === 0) {
							func.alertPopup('DELETE', MSG_CHECK_TO_DELETE_ITEM, true, MSG_CONFIRM, 'closed');
						}

					}, false);

					/*document.querySelector('#angles-left-end').addEventListener('click', () => {

						func.loadHarborData('GET', `${func.harborUrl}api/v2.0/projects/${sessionStorage.getItem('repositoryName')}/repositories?page_size=${repositories.limit}&page=${repositories.pageStart}`, 'application/json', repositories.drawRepositories);
						document.getElementById('page-start').innerText = repositories.pageStart;
						repositories.page = repositories.pageStart;
					}, false);*/

					/*document.querySelector('#angle-left').addEventListener('click', () => {
						if (repositories.page > 1) {
							repositories.page -= 1;
						} else if (repositories.page == 1) {
							repositories.page = repositories.pageStart
						}

						func.loadHarborData('GET', `${func.harborUrl}api/v2.0/projects/${sessionStorage.getItem('repositoryName')}/repositories?page_size=${repositories.limit}&page=${repositories.page}`, 'application/json', repositories.drawRepositories);
						document.getElementById('page-start').innerText = repositories.page;
					}, false);*/

					/*document.querySelector('#angle-right').addEventListener('click', () => {
						if (repositories.page < repositories.pageEnd) {
							repositories.page += 1;
						} else if (repositories.page == repositories.pageEnd) {
							repositories.page = repositories.pageEnd
						}

						func.loadHarborData('GET', `${func.harborUrl}api/v2.0/projects/${sessionStorage.getItem('repositoryName')}/repositories?page_size=${repositories.limit}&page=${repositories.page}`, 'application/json', repositories.drawRepositories);
						document.getElementById('page-start').innerText = repositories.page;
					}, false);*/

					/*document.querySelector('#angles-right-end').addEventListener('click', () => {
						func.loadHarborData('GET', `${func.harborUrl}api/v2.0/projects/${sessionStorage.getItem('repositoryName')}/repositories?page_size=${repositories.limit}&page=${repositories.pageEnd}`, 'application/json', repositories.drawRepositories);
						document.getElementById('page-start').innerText = repositories.pageEnd;
						repositories.page = repositories.pageEnd;
					}, false);*/

				},

				delete() {
					let repositoriesCnt = sessionStorage.getItem('repositoriesCnt')
					for (var i = 0; i <= repositoriesCnt-1; i++) {
						if (document.querySelector('.checkbox_' + `${i}`).checked === true) {
							var class_name = $('.checkbox_' + `${i}`).attr('name')
							const arrName = class_name.split('/')
							let artifactsName = '';

							for (var i = 2; i <= arrName.length - 1; i++) {
								if (arrName.length > 2) {
									artifactsName += '%252F'+ arrName[i]
								}
							}

							func.deleteHarborData('DELETE', `${func.harborUrl}api/v2.0/projects/`+ arrName[0] + '/' + 'repositories' + '/' + arrName[1] + artifactsName, '', true, 'application/json');
							alert('Delete')
						}
					}
					// func.refresh()
				},

				listEvent(){
					var listAll = document.querySelector('.listTable').querySelectorAll('a');
					for(var i=0; i<=listAll.length-1; i++){
						listAll[i].addEventListener('click', (e) => {

							let imageName = e.target.getAttribute('data-id');
							imageName = imageName.split('/')[1]

							sessionStorage.setItem('imageName', imageName);

							document.location.href = URI_KPS_HUB_IMAGE_ARTIFACT;
						}, true);
					}
				},
			};

			repositories.init();
		}
	</script>
</th:block>
</html>