<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<div layout:fragment="content" class="article">
	<div id="content" class="sub-page">
		<article class="location">
			<ul>
				<li><a onclick="movePage(URI_CP_BASE_URL)">Images</a></li>
				<li><a onclick="movePage(URI_KPS_HUB_IMAGE_PROJECT)">Projects</a></li>
			</ul>
			<ul class="title">
				<span id="title"></span>
			</ul>
		</article>
		<article>
			<fieldset>
				<ul style="display: flex; float: right;">
					<li>
						<div class="chart-title">
							<h3 class="stat-title">Total Vulnerabilities</h3>
						</div>
						<div class="chart-vul">
							<div class="stat-box">
								<div class="chart-graph">
									<canvas id="myChart" width="180px" height="180px"></canvas>
								</div>
								<div class="chart-stat">
									<ul>
										<li class="total-title">
											<span id="total-vul"></span>
											<span>total with</span>
											<span id="fix-vul"></span>
											<span>fixable</span>
										</li>
										<li class="vul-list">
											<div class="vul-tit">High</div>
											<div id="vul-high"></div>
										</li>
										<li class="vul-list">
											<div class="vul-tit">Medium</div>
											<div id="vul-medium"></div>
										</li>
										<li class="vul-list">
											<div class="vul-tit">Low</div>
											<div id="vul-low"></div>
										</li>
									</ul>
									<ul class="chart-label">
										<li>
											<div class="label-high"></div>
											<div class="label-text">High</div>
										</li>
										<li>
											<div class="label-medium"></div>
											<div class="label-text">Medium</div>
										</li>
										<li>
											<div class="label-low"></div>
											<div class="label-text">Low</div>
										</li>
										<li>
											<div class="label-na"></div>
											<div class="label-text">N/A</div>
										</li>
									</ul>
								</div>
<!--								<i class="fa-solid fa-shield-halved fa-2xl stat-img"></i>-->
<!--								<div id="total-Vulnerabilities" class="total-cnt"></div>-->
							</div>
						</div>
					</li>
				</ul>
			</fieldset>
		</article>
		<article class="base-pro base tab-cont-wrap">

			<div class="notice">
				<ul class="tab-btn">
					<li type="repository"><a onclick="movePage(URI_KPS_HUB_IMAGE_REPOSITORY)" th:text="#{M0940}"></a></li>
					<li type="vulnerability" class="active"><a th:text="#{M0955}"></a></li>
					<li type="log"><a onclick="movePage(URI_KPS_HUB_IMAGE_LOG)" th:text="#{M0941}"></a></li>
				</ul>
				<div class="table_style01">
					<table>
						<caption>Vulnerabilities List</caption>
							<colgroup >
								<col width="2%" />
								<col width="13%" />
								<col width="15%" />
								<col width="8%" />
								<col width="12%" />
								<col width="6%" />
								<col width="6%" />
								<col width="12%" />
								<col width="12%" />
								<col width="12%" />
							</colgroup>
						<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">CVE ID</th>
							<th scope="col">Repository Name</th>
							<th scope="col">Digest</th>
							<th scope="col">Tags</th>
							<th scope="col">CVSS3</th>
							<th scope="col">Severity</th>
							<th scope="col">Package</th>
							<th scope="col">Current version</th>
							<th scope="col">Fixed in version</th>
						</tr>
						</thead>
						<tbody class="listTable">
						</tbody>
						<!--<tfoot>
						<tr>
							<td colspan="5">
								<i id="angles-left-end" class="fa-solid fa-angles-left" style="cursor: pointer; margin: 0 5px 0 5px;"></i>
								<i id="angle-left" class="fa-solid fa-angle-left" style="cursor: pointer; margin: 0 5px 0 5px;"></i>
								<span id="page-start" style="margin: 0 5px 0 5px;"></span><span>/</span><span id="page-end" style="margin: 0 5px 0 5px;"></span>
								<i id="angle-right" class="fa-solid fa-angle-right" style="cursor: pointer; margin: 0 5px 0 5px;"></i>
								<i id="angles-right-end" class="fa-solid fa-angles-right" style="cursor: pointer; margin: 0 5px 0 5px;"></i>
							</td>
						</tr>
						</tfoot>-->
					</table>
				</div>
			</div>
		</article>
	</div>
</div>
<th:block layout:fragment="script">
<!--	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>-->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
	<script type="text/javascript">
		window.onload = () => {

			IS_GLOBAL = true;
			func.init(ASIDE_DP1.IMAGES, ASIDE_DP2.PROJECTS);

			const vulnerabilities = {
				limit: 15,
				page: 1,
				pageStart: 1,
				pageEnd: 0,
				type: 'administrator',
				LowCnt: 0,
				MediumCnt: 0,
				HighCnt: 0,

				init() {
					func.nameLoad = vulnerabilities.reset;
					document.getElementById('title').innerHTML = sessionStorage.getItem('repositoryName');

					vulnerabilities.load();

					vulnerabilities.event();
				},

				reset() {
					func.removeHtml(document.querySelector('.listTable'));
					vulnerabilities.offset = 0;
					vulnerabilities.load();
				},

				load() {
					func.loading();

					if (sessionStorage.getItem('repositoriesCnt') > 0) {
						vulnerabilities.drawVulnerabilities();
					} else if (sessionStorage.getItem('repositoriesCnt') == 0) {

						document.getElementById("total-vul").innerText = '0';
						document.getElementById("fix-vul").innerText = '0';
						document.getElementById("vul-high").innerText = '0';
						document.getElementById("vul-medium").innerText = '0';
						document.getElementById("vul-low").innerText = '0';

						const ctx = document.getElementById('myChart').getContext('2d');
						new Chart(ctx, {
							type: 'doughnut',
							data: {
								labels: ['N/A'],
								datasets: [{
									data: [100],
									backgroundColor: [
										'#c5c5c5'
									],
									borderWidth: 0,
									scaleBeginAtZero: true,
								}
								]
							},
							options: {
								plugins: {
									legend: {
										display: false
									}
								},
								responsive: false
							}
						});


						let html = '<tr><td colspan="10">No Data.</td></tr>';
						func.appendHtml(document.querySelector('.listTable'), html, 'tbody');



						if (document.getElementById('loading')) {
							document.getElementById('wrap').removeChild(document.getElementById('loading'));
						}
					}
				},

				drawVulnerabilities() {

					const data = [];

					let page = Math.floor(sessionStorage.getItem('cveCnt') / 15) + 1;

					for (var k = 1; k <= page; k++) {
						func.loadHarborData('GET', `${func.harborUrl}api/v2.0/security/vul?with_tag=true&tune_count=true&q=project_id%253D${sessionStorage.getItem('repositoryId')}&page=${k}&page_size=15`, 'application/json', (e) => {
							if (e.length > 0) {
								for (let l = 0; l <= e.length - 1; l++) {
									data.push(e[l])
									if (data.length === Number(sessionStorage.getItem('cveCnt'))) {

										let html;
										sessionStorage.setItem('vulnerabilitiesCnt', data.length);

										for (var i = 0; i <= data.length - 1; i++) {
											if (data[i].severity === 'Low') {
												vulnerabilities.LowCnt += 1;
											} else if (data[i].severity === 'Medium') {
												vulnerabilities.MediumCnt += 1;
											} else if (data[i].severity === 'High') {
												vulnerabilities.HighCnt += 1;
											}
										}

										document.getElementById("total-vul").innerText = sessionStorage.getItem('cveCnt');
										document.getElementById("fix-vul").innerText = sessionStorage.getItem('cveCnt');
										document.getElementById("vul-high").innerText = vulnerabilities.HighCnt;
										document.getElementById("vul-medium").innerText = vulnerabilities.MediumCnt;
										document.getElementById("vul-low").innerText = vulnerabilities.LowCnt;

										let highPercentage = 0;
										let mediumPercentage = 0;
										let lowPercentage = 0;

										highPercentage = ((vulnerabilities.HighCnt / sessionStorage.getItem('cveCnt')) * 100).toFixed(2)
										mediumPercentage = ((vulnerabilities.MediumCnt / sessionStorage.getItem('cveCnt')) * 100).toFixed(2)
										lowPercentage = ((vulnerabilities.LowCnt / sessionStorage.getItem('cveCnt')) * 100).toFixed(2)

										const ctx = document.getElementById('myChart').getContext('2d');
										new Chart(ctx, {
											type: 'doughnut',
											data: {
												labels: ['High', 'Medium', 'Low'],
												datasets: [{
													data: [highPercentage, mediumPercentage, lowPercentage],
													backgroundColor: [
														'#ff8f3d',
														'#ffce66',
														'#fff1ad'
													],
													borderWidth: 0,
													scaleBeginAtZero: true,
												}
												]
											},
											options: {
												plugins: {
													legend: {
														display: false
													}
												},
												responsive: false
											}
										});

										func.removeHtml(document.querySelector('.listTable'), html, 'tbody');

										if (data.length > 0) {
											for (var i = 0; i <= data.length - 1; i++) {

												let tag = '';
												if (data[i].tags !== null) {
													for (var j = 0; j <= data[i].tags.length - 1; j++) {
														tag += data[i].tags[j] + ', '
													}
												}

												let digest = data[i].digest.substr(0,15)

												html = `<tr>
											<td id="col0_${i}"><div id="arcoBtn_${i}" style="width: 1px; height: 1px; border-top: 1px solid #afb5bb; border-right: 1px solid #afb5bb; transform: rotate(135deg); position: absolute; left: 12px; padding: 4px; cursor: pointer;"></div></td>
											<td id="col1_${i}"><a class="name" href="${data[i].links[0]}" target='_blank' data-id="${data[i].cve_id}" style="text-decoration: none; color: #008d68;">${data[i].cve_id}</a></td>
											<td id="col2_${i}" class="left"><a class="repository_name" href="javascript:;" data-id="${data[i].repository_name}" data-name="repository" style="text-decoration: none; color: #008d68;>${data[i].cve_id}">${data[i].repository_name}</a></td>
											<td id="col3_${i}" class="left"><a id="digest_${i}" class="digest_name" href="javascript:;" data-id="${data[i].digest}" data-name="${data[i].repository_name}" style="text-decoration: none; color: #008d68;>${data[i].cve_id}">digest</a></td>
											<td id="col4_${i}"></td>
											<td id="col5_${i}"></td>
											<td id="col6_${i}"><span id="severity_${i}"></span></td>
											<td id="col7_${i}" class="left">${data[i].package}</td>
											<td id="col8_${i}">${data[i].version}</td>
											<td id="col9_${i}" class="left"><i class="fa-solid fa-wrench" style="color: #00b92a; margin-right: 7px;"></i>${data[i].fixed_version}</td>
											</tr><tr><td id="desc_${i}" style="display: none" class="left" colspan="10" name="off">${data[i].desc}</td></tr>`;

												func.appendHtml(document.querySelector('.listTable'), html, 'tbody');

												document.getElementById("col4_" + i).innerText = tag.slice(0, - 2);
												document.getElementById("digest_" + i).innerText = digest;
												if (data[i].cvss_v3_score != null) {
													document.getElementById("col5_" + i).innerText = data[i].cvss_v3_score;
												} else if (data[i].cvss_v3_score == null) {
													document.getElementById("col5_" + i).innerText = '';
												}

												if (data[i].severity === 'High') {
													document.getElementById("severity_" + i).innerText = data[i].severity;
													document.getElementById("severity_" + i).setAttribute('style',"background-color: #ff8f3d; border-radius: 10px; padding: 0 27px 0px 27px; color: #ffffff;");
												} else if (data[i].severity === 'Medium') {
													document.getElementById("severity_" + i).innerText = data[i].severity;
													document.getElementById("severity_" + i).setAttribute('style',"background-color: #ffce66; border-radius: 10px; padding: 0 16px 0px 16px; color: #ffffff;");
												} else if (data[i].severity === 'Low') {
													document.getElementById("severity_" + i).innerText = data[i].severity;
													document.getElementById("severity_" + i).setAttribute('style',"background-color: #fff1ad; border-radius: 10px; padding: 0 28px 0px 28px; color: #ffffff;");
												} else if (data[i].severity === 'Unknown') {
													document.getElementById("severity_" + i).innerText = 'n/a';
													document.getElementById("severity_" + i).setAttribute('style',"background-color: #808080; border-radius: 10px; padding: 0 28px 0px 28px; color: #ffffff;");
												}

											}
										} else if (data.length === 0) {
											let html = '<tr><td colspan="10">No Data.</td></tr>';
											func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
										}

										if (document.getElementById('loading')) {
											document.getElementById('wrap').removeChild(document.getElementById('loading'));
										}

										document.addEventListener('click', (e) => {
											for (let i = 0; i <= sessionStorage.getItem('vulnerabilitiesCnt') - 1; i++) {

												if (e.target && e.target.id === 'arcoBtn_' + `${i}`) {
													if (document.getElementById("desc_" + `${i}`).getAttribute('name') === 'off') {
														document.getElementById("desc_" + `${i}`).setAttribute('style', 'text-align: left; padding-left: 40px;');
														document.getElementById("desc_" + `${i}`).setAttribute('name', 'on');
														document.getElementById('arcoBtn_' + `${i}`).setAttribute('style', 'width: 1px; height: 1px; border-top: 1px solid #afb5bb; border-right: 1px solid #afb5bb; transform: rotate(315deg); position: absolute; left: 12px; padding: 4px; cursor: pointer;');
														for (let j = 0; j <= 9; j++) {
															document.getElementById("col" + `${j}` + '_' + `${i}`).setAttribute('style', 'border-bottom: 0px;');
														}
													} else if (document.getElementById("desc_" + `${i}`).getAttribute('name') === 'on') {
														document.getElementById("desc_" + `${i}`).setAttribute('style', 'display: none;');
														document.getElementById("desc_" + `${i}`).setAttribute('name', 'off')
														document.getElementById('arcoBtn_' + `${i}`).setAttribute('style', 'width: 1px; height: 1px; border-top: 1px solid #afb5bb; border-right: 1px solid #afb5bb; transform: rotate(135deg); position: absolute; left: 12px; padding: 4px; cursor: pointer;');
														for (let j = 0; j <= 9; j++) {
															document.getElementById("col" + `${j}` + '_' + `${i}`).setAttribute('style', 'border-bottom: 1px solid #ebebeb;');
														}
													}
												}
											}
										});

										vulnerabilities.listEvent()

									}

								}
							} else if (data.length === 0) {
								document.getElementById("total-vul").innerText = '0';
								document.getElementById("fix-vul").innerText = '0';
								document.getElementById("vul-high").innerText = '0';
								document.getElementById("vul-medium").innerText = '0';
								document.getElementById("vul-low").innerText = '0';

								const ctx = document.getElementById('myChart').getContext('2d');
								new Chart(ctx, {
									type: 'doughnut',
									data: {
										labels: ['N/A'],
										datasets: [{
											data: [100],
											backgroundColor: [
												'#c5c5c5'
											],
											borderWidth: 0,
											scaleBeginAtZero: true,
										}
										]
									},
									options: {
										plugins: {
											legend: {
												display: false
											}
										},
										responsive: false
									}
								});



								let html = '<tr><td colspan="10">No Data.</td></tr>';
								func.appendHtml(document.querySelector('.listTable'), html, 'tbody');



								if (document.getElementById('loading')) {
									document.getElementById('wrap').removeChild(document.getElementById('loading'));
								}
							}
						});
					}

				},
				// drawVulnerabilities() {
				//
				// 	let data = func.vulnerabilitiesMerge();
				//
				// 	console.log('cveData::: ' + JSON.stringify(JSON.parse(data)))
				//
				// 	let html;
				// 	sessionStorage.setItem('vulnerabilitiesCnt', data.length);
				//
				// 	for (var i = 0; i <= data.length - 1; i++) {
				// 		if (data[i].severity === 'Low') {
				// 			vulnerabilities.LowCnt += 1;
				// 		} else if (data[i].severity === 'Medium') {
				// 			vulnerabilities.MediumCnt += 1;
				// 		} else if (data[i].severity === 'High') {
				// 			vulnerabilities.HighCnt += 1;
				// 		}
				// 	}
				//
				// 	document.getElementById("total-vul").innerText = sessionStorage.getItem('cveCnt');
				// 	document.getElementById("fix-vul").innerText = sessionStorage.getItem('cveCnt');
				// 	document.getElementById("vul-high").innerText = vulnerabilities.HighCnt;
				// 	document.getElementById("vul-medium").innerText = vulnerabilities.MediumCnt;
				// 	document.getElementById("vul-low").innerText = vulnerabilities.LowCnt;
				//
				// 	let highPercentage = 0;
				// 	let mediumPercentage = 0;
				// 	let lowPercentage = 0;
				//
				// 	highPercentage = ((vulnerabilities.HighCnt / sessionStorage.getItem('cveCnt')) * 100).toFixed(2)
				// 	mediumPercentage = ((vulnerabilities.MediumCnt / sessionStorage.getItem('cveCnt')) * 100).toFixed(2)
				// 	lowPercentage = ((vulnerabilities.LowCnt / sessionStorage.getItem('cveCnt')) * 100).toFixed(2)
				//
				// 	const ctx = document.getElementById('myChart').getContext('2d');
				// 	new Chart(ctx, {
				// 		type: 'doughnut',
				// 		data: {
				// 			labels: ['High', 'Medium', 'Low'],
				// 			datasets: [{
				// 				data: [highPercentage, mediumPercentage, lowPercentage],
				// 				backgroundColor: [
				// 					'#ff8f3d',
				// 					'#ffce66',
				// 					'#fff1ad'
				// 				],
				// 				borderWidth: 0,
				// 				scaleBeginAtZero: true,
				// 			}
				// 			]
				// 		},
				// 		options: {
				// 			plugins: {
				// 				legend: {
				// 					display: false
				// 				}
				// 			},
				// 			responsive: false
				// 		}
				// 	});
				//
				// 	func.removeHtml(document.querySelector('.listTable'), html, 'tbody');
				//
				// 	if (data.length > 0) {
				// 		for (var i = 0; i <= data.length - 1; i++) {
				//
				// 			let tag = '';
				// 			if (data[i].tags !== null) {
				// 				for (var j = 0; j <= data[i].tags.length - 1; j++) {
				// 					tag += data[i].tags[j] + ', '
				// 				}
				// 			}
				//
				// 			let digest = data[i].digest.substr(0,15)
				//
				// 			html = `<tr>
				// 							<td id="col0_${i}"><div id="arcoBtn_${i}" style="width: 1px; height: 1px; border-top: 1px solid #afb5bb; border-right: 1px solid #afb5bb; transform: rotate(135deg); position: absolute; left: 12px; padding: 4px; cursor: pointer;"></div></td>
				// 							<td id="col1_${i}"><a class="name" href="${data[i].links[0]}" target='_blank' data-id="${data[i].cve_id}" style="text-decoration: none; color: #008d68;">${data[i].cve_id}</a></td>
				// 							<td id="col2_${i}" class="left"><a class="repository_name" href="javascript:;" data-id="${data[i].repository_name}" data-name="repository" style="text-decoration: none; color: #008d68;>${data[i].cve_id}">${data[i].repository_name}</a></td>
				// 							<td id="col3_${i}" class="left"><a id="digest_${i}" class="digest_name" href="javascript:;" data-id="${data[i].digest}" data-name="${data[i].repository_name}" style="text-decoration: none; color: #008d68;>${data[i].cve_id}">digest</a></td>
				// 							<td id="col4_${i}"></td>
				// 							<td id="col5_${i}">${data[i].cvss_v3_score}</td>
				// 							<td id="col6_${i}"><span id="severity_${i}">${data[i].severity}</span></td>
				// 							<td id="col7_${i}" class="left">${data[i].package}</td>
				// 							<td id="col8_${i}">${data[i].version}</td>
				// 							<td id="col9_${i}" class="left"><i class="fa-solid fa-wrench" style="color: #00b92a; margin-right: 7px;"></i>${data[i].fixed_version}</td>
				// 							</tr><tr><td id="desc_${i}" style="display: none" class="left" colspan="10" name="off">${data[i].desc}</td></tr>`;
				//
				// 			func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
				//
				// 			document.getElementById("col4_" + i).innerText = tag.slice(0, - 2);
				// 			document.getElementById("digest_" + i).innerText = digest;
				//
				// 			if (data[i].severity === 'High') {
				// 				document.getElementById("severity_" + i).setAttribute('style',"background-color: #ff8f3d; border-radius: 10px; padding: 0 27px 0px 27px; color: #ffffff;");
				// 			} else if (data[i].severity === 'Medium') {
				// 				document.getElementById("severity_" + i).setAttribute('style',"background-color: #ffce66; border-radius: 10px; padding: 0 16px 0px 16px; color: #ffffff;");
				// 			} else if (data[i].severity === 'Low') {
				// 				document.getElementById("severity_" + i).setAttribute('style',"background-color: #fff1ad; border-radius: 10px; padding: 0 28px 0px 28px; color: #ffffff;");
				// 			}
				//
				// 		}
				// 	} else if (data.length === 0) {
				// 		let html = '<tr><td colspan="10">No Data.</td></tr>';
				// 		func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
				// 	}
				//
				// 	if (document.getElementById('loading')) {
				// 		document.getElementById('wrap').removeChild(document.getElementById('loading'));
				// 	}
				//
				// 	document.addEventListener('click', (e) => {
				// 		for (let i = 0; i <= sessionStorage.getItem('vulnerabilitiesCnt') - 1; i++) {
				//
				// 			if (e.target && e.target.id === 'arcoBtn_' + `${i}`) {
				// 				if (document.getElementById("desc_" + `${i}`).getAttribute('name') === 'off') {
				// 					document.getElementById("desc_" + `${i}`).setAttribute('style', 'text-align: left; padding-left: 40px;');
				// 					document.getElementById("desc_" + `${i}`).setAttribute('name', 'on');
				// 					document.getElementById('arcoBtn_' + `${i}`).setAttribute('style', 'width: 1px; height: 1px; border-top: 1px solid #afb5bb; border-right: 1px solid #afb5bb; transform: rotate(315deg); position: absolute; left: 12px; padding: 4px; cursor: pointer;');
				// 					for (let j = 0; j <= 9; j++) {
				// 						document.getElementById("col" + `${j}` + '_' + `${i}`).setAttribute('style', 'border-bottom: 0px;');
				// 					}
				// 				} else if (document.getElementById("desc_" + `${i}`).getAttribute('name') === 'on') {
				// 					document.getElementById("desc_" + `${i}`).setAttribute('style', 'display: none;');
				// 					document.getElementById("desc_" + `${i}`).setAttribute('name', 'off')
				// 					document.getElementById('arcoBtn_' + `${i}`).setAttribute('style', 'width: 1px; height: 1px; border-top: 1px solid #afb5bb; border-right: 1px solid #afb5bb; transform: rotate(135deg); position: absolute; left: 12px; padding: 4px; cursor: pointer;');
				// 					for (let j = 0; j <= 9; j++) {
				// 						document.getElementById("col" + `${j}` + '_' + `${i}`).setAttribute('style', 'border-bottom: 1px solid #ebebeb;');
				// 					}
				// 				}
				// 			}
				// 		}
				// 	});
				//
				// 	vulnerabilities.listEvent()
				//
				// },

				// drawRepositories(data) {
				//
				// 	let totalArtifacts = 0;
				// 	let totalPulls = 0;
				//
				// 	if (data.length > 0) {
				// 		for (var i = 0; i <= data.length - 1; i++) {
				//
				// 			totalArtifacts += data[i].artifact_count;
				// 			totalPulls += data[i].pull_count;
				//
				// 		}
				// 	}
				//
				// 	document.getElementById('total-artifacts').innerText = totalArtifacts
				// 	document.getElementById('total-pulls').innerText = totalPulls
				//
				// 	if (document.getElementById('loading')) {
				// 		document.getElementById('wrap').removeChild(document.getElementById('loading'));
				// 	}
				//
				// },

				listEvent(){
					var listAll = document.querySelector('.listTable').querySelectorAll('a');
					for(var i=0; i <= listAll.length - 1; i++){
						listAll[i].addEventListener('click', (e) => {

							if (e.target.getAttribute('data-id').includes('sha256')) {
								sessionStorage.setItem('artifactsName', e.target.getAttribute('data-id'));

								let imageNameOrigin = e.target.getAttribute('data-name');
								let imageNameArr = imageNameOrigin.split('/')
								let imageName = '';

								for (var i = 2; i <= imageNameArr.length - 1; i++) {
									if (imageNameArr.length > 2) {
										imageName += '%252F'+ imageNameArr[i]
									}
								}

								sessionStorage.setItem('imageName', imageNameArr[1] + imageName);

								document.location.href = URI_KPS_HUB_IMAGE_ARTIFACT_DETAIL;
							} else if (e.target.getAttribute('data-name') === 'repository' ) {
								let imageNameOrigin = e.target.getAttribute('data-id');
								let imageNameArr = imageNameOrigin.split('/')
								let imageName = '';

								for (var i = 2; i <= imageNameArr.length - 1; i++) {
									if (imageNameArr.length > 2) {
										imageName += '%252F'+ imageNameArr[i]
									}
								}

								sessionStorage.setItem('imageName', imageNameArr[1] + imageName);

								document.location.href = URI_KPS_HUB_IMAGE_ARTIFACT;
							}

						}, true);
					}
				},

				// drawPage(data) {
				// 	document.getElementById('total-storages').innerText = func.formatBytes(data.quota.used.storage);
				// 	document.getElementById('total-images').innerText = data.repo_count;
				//
				// 	document.getElementById('page-start').innerText = logs.page;
				// 	document.getElementById('page-end').innerText = data.project_admin_count;
				// },

				/*drawStorage(data) {

					for (var i = 0; i <= data.length - 1; i++) {
						if(data[i].name === sessionStorage.getItem('repositoryName')) {
							func.loadHarborData('GET', `${func.harborUrl}api/v2.0/projects/${data[i].project_id}/summary`, 'application/json', (e) => {
								document.getElementById('total-storages').innerText = func.formatBytes(e.quota.used.storage)
							});
						}
					}

				},*/

				event(){

					// document.querySelector('#angles-left-end').addEventListener('click', () => {
					//
					// 	func.loadHarborData('GET', `${func.harborUrl}api/v2.0/projects/${sessionStorage.getItem('repositoryName')}/logs?page_size=${vulnerabilities.limit}&page=${vulnerabilities.pageStart}`, 'application/json', vulnerabilities.drawRepositories);
					// 	document.getElementById('page-start').innerText = vulnerabilities.pageStart;
					// 	vulnerabilities.page = vulnerabilities.pageStart;
					// }, false);
					//
					// document.querySelector('#angle-left').addEventListener('click', () => {
					// 	if (vulnerabilities.page > 1) {
					// 		vulnerabilities.page -= 1;
					// 	} else if (vulnerabilities.page == 1) {
					// 		vulnerabilities.page = vulnerabilities.pageStart
					// 	}
					//
					// 	func.loadHarborData('GET', `${func.harborUrl}api/v2.0/projects/${sessionStorage.getItem('repositoryName')}/logs?page_size=${vulnerabilities.limit}&page=${vulnerabilities.page}`, 'application/json', vulnerabilities.drawRepositories);
					// 	document.getElementById('page-start').innerText = vulnerabilities.page;
					// }, false);
					//
					// document.querySelector('#angle-right').addEventListener('click', () => {
					// 	if (vulnerabilities.page < vulnerabilities.pageEnd) {
					// 		vulnerabilities.page += 1;
					// 	} else if (vulnerabilities.page == vulnerabilities.pageEnd) {
					// 		vulnerabilities.page = vulnerabilities.pageEnd
					// 	}
					//
					// 	func.loadHarborData('GET', `${func.harborUrl}api/v2.0/projects/${sessionStorage.getItem('repositoryName')}/logs?page_size=${vulnerabilities.limit}&page=${vulnerabilities.page}`, 'application/json', vulnerabilities.drawRepositories);
					// 	document.getElementById('page-start').innerText = vulnerabilities.page;
					// }, false);
					//
					// document.querySelector('#angles-right-end').addEventListener('click', () => {
					// 	func.loadHarborData('GET', `${func.harborUrl}api/v2.0/projects/${sessionStorage.getItem('repositoryName')}/logs?page_size=${vulnerabilities.limit}&page=${vulnerabilities.pageEnd}`, 'application/json', vulnerabilities.drawRepositories);
					// 	document.getElementById('page-start').innerText = vulnerabilities.pageEnd;
					// 	vulnerabilities.page = vulnerabilities.pageEnd;
					// }, false);

				},

			};

			vulnerabilities.init();
		}
		/*const ctx = document.getElementById('myChart').getContext('2d');
		var myChart = new Chart(ctx, {
			type: 'doughnut',
			data: {
				datasets: [{
					data: [20, 60, 20],
					backgroundColor: [
						'#ff8f3d',
						'#ffce66',
						'#fff1ad'
					],
					borderWidth: 0,
					scaleBeginAtZero: true,
				}
				]
			},
			options: {
				responsive: false}
		});*/
	</script>
</th:block>
</html>